[2016-05-14 09:39] reckart commented on #353
Btw. it may even be possible to not fiddle around with the dimensions at all and let the task do the wrapping.

If I remember correctly, then DKPro Lab does
1.  configure the tasks with the current parameter space values
2. then ask the task to persist the values in the DISCRIMINATOR.txt - in this step, the task inspects itself to obtain the values using getters

I think it should be possible to d

[2016-05-14 10:19] Horsmann commented on #353
Okay I thought too complicated it is quite easy to do it hidden in the initTask as you said - thx.

[2016-05-16 15:35] Horsmann commented on #352
I added a basic runnable version for `sequence classification`. CRF seems to work in various configurations but HMM keeps failing during the evaluation step.

The code is much more readable than before. It would be cool to get this HMM running but I am out of ideas what is wrong.

[2016-05-16 20:04] Horsmann commented on #352
.

[2016-05-16 20:29] Horsmann commented on #353
@reckart The `DISCRIMINATOR.txt` still has an extremely long string i.e. not the value my `Discriminable` interface returns. I currently wrap the reader descriptions in the `InitTask` this might be a bit too late? When the `DISCRIMINATOR.txt` written? Also, the Excel files create contain the Evaluationresults also get this endless long text.

It looks like the right place would be somewhere in the

[2016-05-16 20:32] reckart commented on #353
Is there some unit test where this can easily be observed/debugged?

[2016-05-16 20:34] Horsmann commented on #353
Any demo should show that problem

`org.dkpro.tc.examples.single.sequence.CRFSuiteBrownPosDemo`

[2016-05-16 21:14] reckart commented on #353
I tried an override of the initialize(TaskContext) method in InitTask and did the wrapping there. This works in the sense that the discriminable value is stored properly in the DISCRIMINATOR.txt file, but then the imports break because in the next task that imports from the InitTask, the descriptor is again not wrapped.

This quite effectively shows that values need already be discriminable within

[2016-05-16 21:20] reckart commented on #353
Allowing to register special discriminator handlers for specific classes in a suitable place in DKPro Lab could even entirely remove the need to have them implement the Discriminable interface. The Lab could know if they are discriminable by looking in its internal registry of discriminables instead and looking up a proper naming function instead of using the Discriminable interface methods.

[2016-05-17 07:37] Horsmann commented on #353
I think I like the `registerDiscriminable()` :-)
Would it take much time to implement that?

[2016-05-17 07:46] reckart commented on #353
It would probably take a few attempts or at least some thinking it through to consider all the requiremnts, find a suiteable place to implement this, and then ensure all the necessary information is available at that location.

I would personally tend towards registering the discriminables in the Lab instance through the TaskContext and then using that information again in Task.analyze(),

[2016-05-17 08:11] Horsmann commented on #353
ok. I it is not urgent. Things are working and you don't notice the issue unless you look into the text files.

[2016-05-25 20:41] Horsmann commented on #180
Are there any reports left that have to be explicitly specified by the user? It is still necessary to add the `TrainTestReport` or `CrossvalidationReport`but neither is MLA dependent (anymore)?

[2016-05-25 20:49] Horsmann opened #355 "Make document mode to a special case of unit mode"
Document mode is at the moment implemented as own classification type which does not use any annotation spans but work on the entire document by default. This can be implemented by a unit mode case in which the unit spans over the entire document text.

Eliminating this difference and making document a predefined unit-mode case would help to reduce the number of features drastically i.e. all docum

[2016-05-29 18:43] Horsmann opened #356 "Create integration test that builds and runs a shaded-jar"
Adding of an integration test that takes a sample project, builds it i.e. `mvn install` it and runs the standalone runnable jar to verify that jar-execution works which is a test-case missing entirely at the moment.

[2016-05-29 18:47] Horsmann commented on #180
@daxenberger ?

[2016-05-29 18:54] Horsmann commented on #356
@reckart I added a project as integration test but this `rat` plugin causes problems again

This is what is in the `rat.txt` plugin seems to be unaware of `integration-test`

[code]

The license header checks fails - how do I prevent a license header check for my integration project?

[2016-05-29 19:44] reckart commented on #356
Make some conservative changes to the rat configuration in the parent POM (https://github.com/dkpro/dkpro-tc/blob/master/pom.xml#L532) - as little as possible should be excluded. So here I think you should exclude something like `src/it/**/target/**/*`.

[2016-05-29 20:28] Horsmann commented on #356
Ok thanks.

What exactly can those `verify` scripts do or not do. The building of the jar file works now, but I still need to execute it. I want to use the verify script for that i.e.

[code]

This fails with a parsing error of the script. :/ any idea how I get jar executed?

[2016-05-30 08:09] reckart commented on #356
Well, as far as I remember, the script runs after the build of the integration test project and can do basically anything. But it is beanshell (I guess), so maybe it doesn't support the generics?

[2016-05-30 13:10] Horsmann commented on #356
@reckart any thoughts on this way of solving it - script does not work:

I added another plugin to actually execute my builded jar and I use an accuracy report in the integration test project to thrown an exception if the expected value is not reached:

[code]

[2016-05-30 13:16] reckart commented on #356
I am pretty sure the script should work. Having this in the pom seems a bit ugly to me. But if you are happy with it...

[2016-05-30 13:55] Horsmann commented on #356
@reckart removing the generics helped for fixing the parsing error, but the process builder still does nothing. I am not even sure if the file paths I am using are correct but nothing is failing. The script is executed though when I add an exception to force a fail it fails. An idea what is the problem the logs also the build.log of the integration test show nothing it just silently does nothing.

[2016-05-30 14:02] reckart commented on #356
I believe that surefire should consider the script a success or failure depending on whether it returns true or false.

Btw. you it might be a good idea to switch from a beanshell-based script to a groovy script (cf. https://maven.apache.org/plugins/maven-invoker-plugin/integration-test-mojo.html#postBuildHookScript).

Try using sysout debugging to check what the current directory is (e.g. `printl

[2016-05-30 15:03] Horsmann commented on #356
@reckart I might have a problems with the file paths. The jar is suppose to write a file which the script reads but this does not seem to work. Am I am supposed to read infos in the script that were created by the jar? Dunno what the problem is the script seemingly works locally.

[2016-05-31 09:30] Horsmann commented on #356
@reckart is there a way to place a file in a way that the location is resolvable when run on jenkins? At the moment my jar writes a file to the `tmp` folder which my `verify` script tries to read. This works locally but not on Jenkins `i.e. FileNotFoundException`

[2016-05-31 10:17] reckart commented on #356
Write your stuff somewhere under `target` - do not use the system tmp.

[2016-05-31 14:08] Horsmann commented on #356
This does not work either. Jenkins seems to have problems with `target/` too. I looked into the folder structure that is created and it seems that the creation of the file is the problem. Is this maybe a permission issue?

[2016-05-31 16:01] reckart commented on #356
How about adding some logging to AccuracyReport telling us where that report actually wrote the file? I don't think the problem is with the verify script. Does the report even run?

[2016-05-31 16:03] reckart commented on #356
Does the invoked java process return with a success code or does it produce an error? Try calling redirectError() and redirectOutput() on the builder so that we have a better chance of seeing the output it produces.

[2016-06-01 08:11] Horsmann commented on #356
Jenkins does not execute my jar as it seems. When run locally I see `sys outs` now from the process i.e. normal output and also error out. Nothing shows up in the Jenkins log so I assume my jar is not run.

The evaluations script is suppose to run the jar like this - this should work?:

[code]

[2016-06-01 08:45] reckart commented on #356
Maybe java is not on the path? As I said: check for the return code from the process and add redirectError() and redirectOutput().

[2016-06-01 13:38] Horsmann commented on #356
What is the issue with comparing the double values in the script???
`expected accuracy of [0.41836734693877553 or 0.35714285714285715] but was [0.41836734693877553]`

[2016-06-01 14:47] reckart commented on #356
When comparing float/double values always allow for a small delta. That is why JUnit asserts for these types always have a delta parameter.

[2016-06-01 15:51] ferschke commented on #356
I think you can use java.lang.Double.compare().
Be aware that it treats equality of two Double.NaN or two zero-values with opposite
signs differently than ==, but that should not be an issue.

Or ­ maybe BigDecimal is a good alternative? Shouldn¹t have this issue and
you can freely define the precision.

-Oliver

From:  Richard Eckart de Castilho notifications@github.com
Reply-To:  dkpro/dkpro-tc

[2016-06-02 13:08] Horsmann commented on #356
Ok thanks for the feedback. I solved this one now by using integers. The floating points were not really of importance. The script also has a `baseDir` variable which fixes the path issue. Jenkins builds again.

[2016-06-02 13:36] #356 closed, assigned to nobody

[2016-06-04 13:02] Horsmann opened #357 "ContextFeature should offer lowerCase switch which is on by default"
see headline

[2016-06-06 12:31] #357 closed, assigned to Horsmann

[2016-06-06 19:12] Horsmann commented on #355
@zesch I still want to change the name of the `TextClassification*` annotations.

`TextClassificationUnit` --> `TextClassificationTarget`

I am bit unsure about the sequence annotation I think this can stay as it is.

[2016-06-06 19:39] zesch commented on #355
Sounds both good to me.

[2016-06-07 08:06] #348 closed, assigned to nobody

[2016-06-07 09:03] Horsmann commented on #355
I will rename the `ClassificationUnitFeatureExtractor` to simply `FeatureExtractor` what would remain as special case is `Pair` mode but with Document and Unit being one now this on can be renamed too.

A small victim of the changes is the `NrOfChars` FE. The document and unit feature extractor version are quite different. The DFE does a lot more than just NrOfChars. I took the UFE version instead

[2016-06-07 09:07] zesch commented on #355
This is one of the most often used FEs. It would be good to keep it in some
form.
Tobias Horsmann notifications@github.com schrieb am Di., 7. Juni 2016 um
11:03:

[2016-06-10 06:00] #355 closed, assigned to nobody

[2016-06-10 06:06] Horsmann commented on #180
@daxenberger @zesch

[2016-06-10 06:12] Horsmann commented on #224
@daxenberger What exactly is left to do here?

[2016-06-10 08:54] zesch commented on #180
If you think that no ML-specfic reports are remaining, please close the issue.
It can be re-opened later otherwise.

[2016-06-10 08:58] #180 closed, assigned to nobody

[2016-06-10 09:30] Horsmann opened #358 "Speed up sequence tagging by using sparse-feature mode as default"
We have many features i.e. `lucene-ngrams` which return binary decisions. At the moment we use for almost everything the `DenseFeature` store which requires a FE to always return a value even if a value is not set.

If you try to use the SparseFeatureStore it eliminates the whole idea of `sparse` because it is not reliably determinable if a feature value is an actual value or just a value that exp

[2016-06-11 16:46] Horsmann commented on #358
@zesch Switching to the sparse feature mode is extremely effective. train/test on WSJ takes now only 20 minutes with a peak of like 20GB RAM usage. If needs be this might even run on a normal workstation with some HDD paging. The training itself is extremely fast now. CRF finishes like in an instant.

Software design issues:
- a MLA has now a feature store method which essentials makes the MLA ada

[2016-06-11 17:02] zesch commented on #358
IIRC dense is the default and sparse can be enabled via a parameter if needed.

[2016-06-11 18:32] Horsmann commented on #230
This issue is obsolete now. The sparse store was used with dense features which blew up the RAM consumptions. In issue #358 the features are now aware if the value is a `default value` i.e. if a feature is not set it is suppressed before it is handed to the `SparseFeatureStore`.

[2016-06-11 18:32] #230 closed, assigned to nobody

[2016-06-14 10:40] Horsmann commented on #358
For the moment `Crfsuite` and `SvmHmm` use by default the `SparseFeatureStore` simply because it offers speed benefits here. Any other MLA sticks to the `DenseFeatureStore`. I experimented with Weka and switching to `Sparse-mode` seemingly works, but I am not touching this any further

[2016-06-14 10:41] #358 closed, assigned to Horsmann

[2016-06-15 17:22] Horsmann opened #359 "Remove spring-asm from pom.xml (master/0.8.x branch)"
Remove spring-asm dependency from dependency management

[2016-06-15 17:45] #359 closed, assigned to Horsmann

[2016-06-15 19:15] Horsmann opened #360 "Instance toString() misses id / test coverage is low"

[2016-06-15 19:19] #360 closed, assigned to Horsmann

[2016-06-15 19:58] Horsmann opened #361 "Refactor ValidityCheckConnector (Pre/Post)"

[2016-06-15 20:09] Horsmann opened #362 "Testing module should be released next time"
On user request - the next release should contain the the testing module

[2016-06-15 20:10] Horsmann commented on #362
I leave this open as reminder to not exclude it again

[2016-06-16 06:21] Horsmann opened #363 "Extend basic-implementation of Liblienar"
The `LibLinear` module is still incomplete. The parametrization is hard coded and save/load model would be nice too.

[2016-06-18 12:50] Horsmann opened #364 "Model Storing: All models create Weka optional file"
All model create the weka-specific bipartition threshold file. This should be done only for the Weka models all other models do not need this information

[2016-06-18 13:40] #364 closed, assigned to Horsmann

[2016-06-18 14:27] #363 closed, assigned to Horsmann

[2016-06-18 15:35] Horsmann commented on #327
@reckart Is there a way to hack-in another information into an already created dimension? I would want to secretly add a feature in the background which his needed by a particular classifier.

[2016-06-18 15:41] zesch commented on #327
I think there is no need to hack the dimension. The SvmHMM data writer should simply make sure that the required feature is present.

[2016-06-18 15:44] Horsmann commented on #327
The feature carries the token-text through the process. I need it to be `there` when the FE are executed

[code]

[2016-06-18 15:50] zesch commented on #327
ok, this feature extractor definitely has to run with the others.
However, in a context where you want to hack the dimensions, it is probably too late anyway.
Can't we just throw an exception if the feature is not present for SvmHMM and ask the user to add this FE?

[2016-06-19 17:01] Horsmann commented on #293
First `document mode` version online

[2016-06-19 21:12] Horsmann commented on #293
Left to do
- [x] Model store/load
- [ ] Regression mode
- [x] Throw Libsvm-Exceptions

[2016-06-20 07:13] Horsmann opened #365 "Update to DKPro Core 1.8.0"
Have some adaption-work to do. Some Unit Test are failing with the RC i.e. cases where old API was used which is no longer valid.

[2016-06-20 08:21] #361 closed, assigned to Horsmann

[2016-06-20 08:22] #327 closed, assigned to nobody

[2016-06-20 17:54] reckart commented on #327
Given that DKPro Lab doesn't create an execution plan, you probably could try doing something like that. But I don't think I would recommend it and there is no official provision for doing so.

[2016-06-22 18:50] Horsmann opened #366 "Unify parametrization of SVM modules"
The various SVMs have quite a different way of how to provide parameters. The SVMs should use a unified way for doing so.

[2016-06-24 13:41] #366 closed, assigned to Horsmann

[2016-06-24 13:42] Horsmann opened #367 "CRFsuite: Enable full parametrization"
CRFsuite does only allow to chose the algorithm. There is another switch that allows to set parameters specific to one algorithm which is not available at the moment.

[2016-06-24 16:07] #367 closed, assigned to Horsmann

[2016-06-24 20:39] #365 closed, assigned to Horsmann

[2016-06-24 21:21] zesch opened #368 "Regression evaluation should support correlation measures"
Pearson and Spearman should be added.

[2016-06-24 21:25] #368 closed, assigned to zesch

[2016-06-25 07:43] Horsmann opened #369 "Regression Demos are missing"
We currently have not a single regular regression demo.
Biggest problem at the moment is a lack of available data sets that are suited for regression problems.

Regression is thus essentially untested which is why I flagged this a bug. I don't know if it is still working.

This effects two MLA so far I can tell:
- [x] Weka
- [x] Libsvm

@daxenberger Do you have some regression suited data sets lyi

[2016-06-25 14:52] Horsmann commented on #354
I close this one. If someone is missing something an own issue for that should be opened.

[2016-06-25 14:52] #354 closed, assigned to nobody

[2016-06-26 14:45] #362 closed, assigned to Horsmann

[2016-06-26 15:27] Horsmann commented on #188
Regression demos are missing anyway see #369

The Pair demo is actually not compatible with the externalization because we use the same annotator for train and test which is a problem if two independent files have to be processed. Putting effort in rewriting the pair demos looks like waste of time to me. The principle should be clear enough with the other examples.

[2016-06-26 15:27] #188 closed, assigned to daxenberger

[2016-06-29 18:27] zesch opened #370 "Add example for graphical report output"
We had a precision/recall graph output, but the report seems to be gone.
It could be re-introduced.

Anyway, we should also have something like a scatterplot graph for regression.

[2016-07-01 18:49] zesch opened #371 "Improve code quality in reports"
Our reports are a mess of duplicated code and almost impossible to understand (even for me who wrote parts of that stuff).
Needs to be improved.
- [x] reduce code duplication
- [x] introduce helper methods for frequently used calls
- [x] fix references to subcontexts by hard-coded strings

[2016-07-02 17:49] Horsmann commented on #39
@reckart I am trying to revive this issue again. I started hand-porting the changes because the branch hasnt been maintained in ages merging this with `master` looks kind of impossible.
I am getting at the moment this kind of error message:

[code]

Unfortunately it doesn't tell me where exactly this is happening. I assume somewhere in the code is still something a string which should be `DynamicD

[2016-07-04 12:57] Horsmann commented on #39
@reckart do you remember by any chance how far the prototypical implementation matured. What was left to do?

[2016-07-04 14:42] Horsmann commented on #371
When running `WekaTwentyNewsgroupsDemo` the resulting `evaluation_results.xls` in the `Evaluation` folder seems to be broken now. Seems to be a general problem probably affecting all created Excels?

[2016-07-04 15:13] reckart commented on #39
Unfortunately, I don't really remember.

[2016-07-04 15:14] zesch commented on #371
I can confirm that some (not all) .xls are broken, but could not find out yet, what is actually the problem.

[2016-07-04 19:02] #369 closed, assigned to nobody

[2016-07-04 19:03] #293 closed, assigned to Horsmann

[2016-07-04 19:25] Horsmann opened #372 "Model save/store: Demos for regression mode"
We have no demos for model storing/loading for regression mode
Missing are:
- [x] Weka
- [x] Libsvm
- [x] Liblinear

[2016-07-04 19:29] Horsmann opened #373 "Liblinear: Regression mode/demo"
The regression mode also maps the `outcomes` to `integers` which makes sense for classification but not for regression.
Add a demo is missing too

[2016-07-04 20:14] #373 closed, assigned to Horsmann

[2016-07-06 20:42] #370 closed, assigned to zesch, Horsmann

[2016-07-07 08:56] Horsmann opened #374 "DKPro-TC parent pom contains dead dependency management entry"

[2016-07-07 08:57] #374 closed, assigned to Horsmann

[2016-07-08 11:21] Horsmann opened #375 "Irritating log messages in cross-validation"
The `id` information is not updated when doing cross validation. When CASes are split up to meet the minimal required number to conform to `NUM_FOLDS` several cases with the same id exist.

That leads to a really irritating log-output that seemingly the CAS with the same ID is processed repetitively and redundantly which is not the case but the log messages suggest that.

[2016-07-08 11:30] Horsmann opened #376 "CRFSuite: Parameters cannot have white spaces"
When providing parameters to CRF the parameters are not allowed to have whitespaces but are one consecutive string
e.g. wrong:`{"-p", "number.features = 1"}` --> correct: `{"-p", "number.features=1"}`

The white spaces should be removed in the background.

[2016-07-08 11:31] #376 closed, assigned to Horsmann

[2016-07-10 14:21] Horsmann opened #377 "Reimplement Mallet"
Mallet is at the moment Deprecated since release 0.7.0 it has been removed during 0.9.0-SNAPSHOT to ease maintenance of code.

If Mallet is to be revived the module should be reimplemented from scratch. The old version of Mallet is parked on a separate branch as reference mallet_issue352 .

Furthermore note there are new releases of Mallet which should be use

http://search.maven.org/#artifactdeta

[2016-07-10 14:22] #352 closed, assigned to nobody

[2016-07-10 14:23] #375 closed, assigned to nobody

[2016-07-13 10:38] Horsmann opened #378 "JCasId is always set"
If one reads serialized cases the JCasId should net be set at the moment it is set always which might lead to multiple annotations later in the processing.

[2016-07-13 10:39] #378 closed, assigned to Horsmann

[2016-07-13 11:44] daxenberger commented on #352
Is mallet fully integrated now? Did you manage to get HMMs working?

[2016-07-13 11:45] daxenberger commented on #352
and how dies this issue relate to #377?

[2016-07-13 11:58] Horsmann commented on #352
I threw my prototype away. However tries this again better starts from scratch again. This was in no proper state as nothing was really working or rather randomly failing.

I closed this issue and reopened it to avoid that anyone tries to use my `faulty` version as template.

[2016-07-15 20:33] Horsmann commented on #39
@reckart
So what is seemingly left to do is how to configure the meta collectors with the correct parameters.
e.g. if I set MIN_N = 3 and MAX_N=3 this should not just apply to my LuceneNgramFeature but also to the MetaCollector. This seems to be the last thing missing in the prototype implementation.

In the code snippet of the `MetaInfoTask` below I get the `ExternalResourceDescription` which is

[2016-07-17 16:11] reckart commented on #39
Did you try `org.apache.uima.fit.factory.ConfigurationParameterFactory.getParameterSettings(ResourceSpecifier)` ?

[2016-07-17 19:06] Horsmann commented on #39
@reckart thanks. I was looking for this one :)

Next problem is the name of the field in the lucene index. The meta collector behaves now correctly, but if the same collector is executed twice both ngram distributions are written to the same "field-name" in the index resulting in a mixed `topK` from both runs (so 3-grams + 1-grams).
Need to find a got spot where I can hack the `fieldName()` safely

[2016-07-17 19:07] reckart commented on #39
Maybe you can use separate lucene indexes?

[2016-07-17 19:12] Horsmann commented on #39
Would be also a way. Are there any objections to initialize the lucene folder with a random suffix number to make it unique?

[2016-07-18 19:06] Horsmann commented on #39
I am really confused how to sneak an alternative feautre folder name to the right spots.

I have for one in the `MetaInfoTask` which takes the `overrides` with magic from somewhere untraceable which would have to use my new location. Ideally I want to use the `featureSetName` for that which is already prepared in the old branch i.e. `String storageLocation = String.valueOf(aExtractorName)

[2016-07-19 14:48] Horsmann commented on #39
@reckart Is it possible to extend an `ExternalResourceDescription` with additional parameters?

I need to inject in the background an additional parameters to pass through the key-id for reading from the lucene-index. `setAttribute()` did not work :(

[2016-07-19 17:42] zesch commented on #39
With additional parameter you mean one that is not actually defined in the code itself?
Or do you just want to overwrite an existing parameter?

[2016-07-19 18:12] reckart commented on #39
@Horsmann I also don't quite get what you want. ConfigurationParameterFactory has all kinds of functions to deal with parameters and also to set parameters on descriptors. I have no idea where you found the setAttribute() method ;)

[2016-07-19 18:25] Horsmann commented on #39
I believe (not entirely sure) that the MetaCollectors now write the information to an unique field that is identified with the name of the `featureSet`. Believe because it doens't crash, but the eventually initialized `FeatureExtractor` is not aware of this now changing name which used to be a constant value and thus is not able to read anything from the index.
So I now what to inject an additiona

[2016-07-19 19:06] zesch commented on #39
The code currently is the mess it is because we of this issue.
Once this is resolved, we can try to make it clearer.

Why do you want to inject the parameter in the background?
At least the binding should already be there.

@reckart Or can bindings also be dynamically defined?

[2016-07-19 19:21] reckart commented on #39
@zesch I think in principle yes. But I don't really understand why you have to do that.

[2016-07-19 19:26] zesch commented on #39
@reckart Also not sure, just trying to explore options for tomorrow's discussion ;)

[2016-07-19 19:29] reckart commented on #39
I don't see why declaring the constant in multiple hierarchies is a problem. In DKPro Core, we have constants for parameters defined in ComponentParameters and then re-use these constants to equivalent parameters across many components, e.g.

[code]

[2016-07-20 06:31] Horsmann commented on #39
@reckart the `ConfigurationParameterFactory` expects a `ResourceCreationSpecifier` to set any parameters. All I have is an `ExternalResourceDescription` which gives me only a `ResourceSpecifier`. Is there a trick to make it to a `CreationSpecifier`?

[2016-07-20 07:39] reckart commented on #39
As far as I see, there is the method `ConfigurationParameterFactory.setParameter(ResourceSpecifier, String, Object)` which accepts a `ResourceSpecifier`.

[2016-07-20 18:17] Horsmann commented on #39
I think I have now at least one Demo running which uses 2x the LuceneNgramExtractor.

The next thing are how-to-adapt the Unit-Tests to those changes. It seems the `ExternalResourceFactory` accepts only string values or this `auto-cast` magic is not applied here?

Anyhow, if I try to pass something different than a string I get an exception. In the example below for the `File` datatype `luceneFold

[2016-07-20 18:18] zesch commented on #39
External resources only support string parameter values.
Just use the string version of the file name, it is automatically converted.

[2016-07-20 18:44] Horsmann commented on #39
Ok thx. Then there is some more work to do. It would be nice if the use can provide the values as before. So I would have to `string-translate` all types. For the most part `toString()` should do, but for `File` and probably some other classes we'd need some special handling.

[2016-07-20 18:50] reckart commented on #39
I think for File.toString() also works.

[2016-07-21 07:17] Horsmann commented on #39
@daxenberger @zesch
I have now a working example. Maybe either or both of you should take a look if what you see is to your liking before I start implementing this everywhere.

Internal changes that are new since the old prototype:
- Each feature has now an unique name/id which is located in the top level class `FeatureExtractorResource_ImplBase`
- The Meta collector has also now a unique id in  `

[2016-07-22 06:39] daxenberger commented on #39
Great! this looks nice!
However, I can't really test the working example due to the remaining compilation errors.
@Horsmann how did you do that? maybe you didn't commit all local changes to the `issue39new` branch?

Naming of the factory: Why didn't you keep "FeatureFactory"? The class could maybe be moved to the `dkpro-tc-api-features` module.

[2016-07-22 08:49] Horsmann commented on #39
@daxenberger Maybe you have to build the entire TC workspace first. I think Eclipse starts to choke if you just check-out and run the example.

`FeatureFactory` is fine too. I was just wondering if prefixing things might be helpful as other tools are probably using this name too (thinking of code-completion here)

[2016-07-22 15:42] daxenberger commented on #39
Ok. I'm not passionate about the naming.

[2016-07-23 11:04] Horsmann commented on #39
@daxenberger @zesch The non-lucene NGram extractor family `FrequencyDistribution*` is quite some additional work to fit them into the new schema. Those extractors are deprecated since quite some time. Can I just delete the `non-lucene` NGram features? This would make things a lot easier for me.

[2016-07-24 13:20] daxenberger commented on #39
Ok from my side. We've had enough releases of stable versions which still include them.

[2016-07-24 13:22] zesch commented on #39
also ok from my side.
I think they haven't been used in production for quite a while.

[2016-07-26 11:36] Horsmann commented on #39
@reckart When creating an `ExternalResourceDescription` how do I deal with `boolean` values which I want to pass as parameters? `toString()` seems to be insufficient.  I get this exceptions:

[code]

[2016-07-26 11:40] reckart commented on #39
@Horsmann try `boolean` instead of `Boolean`

[2016-07-26 11:59] Horsmann commented on #39
@reckart I run a conversion to string of all parameters and add exceptions for the problematic data types. Casting down to `boolean` does not work. I get still the same exception

[code]

[2016-07-26 13:43] reckart commented on #39
Uhm... the parameters that you set on an external resource must all be strings.

[code]

But in the external resource it should be possible to declare that parameter as boolean:

[code]

[2016-07-26 14:10] Horsmann commented on #39
I think the problem occurs when executing the MetaCollectors of a NGram FE.
The execution runs until the MetaCollectors are created and executed (i.e. `MetaInfoTask` left, but before ExtractFeatureTask launches). The problem seems to be that the `MetaCollector` cannot deal with this conversion the NGramFE seems to initialize and be ok. Just the MetaCollector causes problems.
If you believe what th

[2016-07-26 16:39] reckart commented on #39
I saw an error message. I didn't see a stack trace. Where is this exception actually thrown?

[2016-07-26 20:21] Horsmann commented on #39
[code]

[2016-07-27 07:05] reckart commented on #39
Hm. I think that might be (considered) a but in uimaFIT (if I understand it correctly). It looks like uimaFIT declares the parameter as a boolean parameter because that is the type of the field in the class. When UIMA then tries to set the parameter from the user-provided value, that fails because external resources only accept string parameters. uimaFIT should probably be aware that it is operati

[2016-07-27 11:38] Horsmann commented on #39
So the work-around would be to change the receiving variable type from `boolean` value to a String and do a by-hand parsing to boolean within the `initialization` method of the respective `featureExtractor(s)` ?

[2016-07-27 11:39] reckart commented on #39
I think so, yes. And it would probably be a good idea to open an issue against uimaFIT: https://issues.apache.org/jira/

[2016-07-27 15:26] Horsmann commented on #39
@reckart I tried to build a minimal working example (see attachment) but the exception I get is quite different - I get a class cast exception. Do you mind to have a look at my example?
[externalResourceDescriptionBug.zip](https://github.com/dkpro/dkpro-tc/files/386433/externalResourceDescriptionBug.zip)

[2016-07-28 11:08] Horsmann opened #379 "Preprocessing demo throws NPE"
The demo `org.dkpro.tc.examples.single.document.WekaTwentyNewsgroupsPreprocessing` is supposed to show how to use a varying preprocessing. Demo fails with a NPE at the moment.

The receiving lab-variable is null. I am not sure when this broke.

[2016-07-28 14:17] Horsmann commented on #353
@reckart Did you had time to think about this issue?

[2016-07-28 15:18] reckart commented on #353
@Horsmann not really. But I'm happy to accept pull requests or even provide commit rights ;)

[2016-07-30 17:01] Horsmann commented on #371
The broken `.xls` (which do only break occasionally not always) is probably related to the unsolved status of #353 when the entire toString of the `CollectionReaderDescription` is written to the Excel it can break something as it seems.

[2016-07-31 14:37] Horsmann commented on #39
@reckart I have some import resolution errors in a demo case that uses an ExternalResourceDescription as parameter for a feature extractor.

Any idea for the origin of the exception?

[code]

[2016-07-31 14:57] reckart commented on #39
@Horsmann try increasing the logging level so that lab prints the actual discriminator values that it compares and whether they match or not.

[2016-07-31 15:42] Horsmann commented on #39
@reckart

[code]

The `toString()` of the `ExternalResourceDescription` that is passes as parameters makes the debug output endlessly verbose

I think this line says it doesn't find the feature

[code]

[2016-07-31 15:55] reckart commented on #39
Since all the features are now discriminable (right?) the discriminators should no longer contain the full specified text, no?

[2016-07-31 15:58] Horsmann commented on #39
Well, the discriminator uses also the parameters to have a full feature description and not just the name of the feature class e.g. `LuceneNgram, ngramMin, 1, ngramMax, 3`
In case the parameter is an externalResourceDescription it just calls `toString()` on it. This is why I get the whole resource text yet again.

[2016-07-31 16:06] reckart commented on #39
Ok, that makes it verbose ;)

Maybe you don't keep a strict ordering when writing out your discriminator values? Mind that discriminators are compared based on their string values. If you have any non-determinism (e.g. using Sets or HashMaps which don't guarantee an order) you can get such effects.

[2016-07-31 16:25] Horsmann commented on #39
ok. I capture the `ExtResDesc` when generating the `toString()` value, parse it and return its name. This solves the problem. Those endlessly long texts seem to be quite a problem. Now it works.

[2016-07-31 16:48] Horsmann commented on #73
This has been implemented now as side-product of issue #39

[2016-07-31 16:48] #73 closed, assigned to nobody

[2016-07-31 16:51] Horsmann opened #380 "FeatureFilter do not work anymore"
As there are no test cases that uses feature filter this feature hasn't been considered for #39. I see little reason why this should be working at the moment. Not tested, just strongly assuming this is not working anymore

[2016-07-31 16:52] #39 closed, assigned to Horsmann

[2016-07-31 16:56] Horsmann commented on #379
@reckart I think I have Lab issue in this demo here. It tries to show how to use various preprocessing settings and does this:

A dimension to iterate the preprocessing components is provided
`Dimension<String> dimSegmenter = Dimension.create("segmenter", "break", "opennlp");`

but when the `if`-statement is reached the receiving variable is (still?) null. How would that have too look like to work

[2016-07-31 17:33] Horsmann commented on #380
False alarm. The filters operate on the store.

[2016-07-31 17:33] #380 closed, assigned to nobody

[2016-07-31 18:29] reckart commented on #379
Could it be that there is no dimension called "segmenter" anymore?

[2016-07-31 18:29] reckart commented on #379
Ah, no you say it is there.

[2016-07-31 18:34] Horsmann commented on #379
It is this example: https://github.com/dkpro/dkpro-tc/blob/master/dkpro-tc-examples/src/main/java/org/dkpro/tc/examples/single/document/WekaTwentyNewsgroupsPreprocessing.java

[2016-08-01 06:21] Horsmann commented on #207
This should be solved by #39. Both modi are supported now either you use a single FE over a  min/max range which will be dominated by the low frequency ngrams or you define a FE several times  (e.g., only 1grams, only 2grams, only 3grams, etc.) and then get a different kind of distribution

[2016-08-01 06:21] #207 closed, assigned to Horsmann

[2016-08-01 08:20] Horsmann opened #381 "Evaluation Module: StringBuilder operation cause exception for large data sets"
There are some StringBuilder operations in the new evaluation module that become easily quite expensive in terms of RAM and can cause OOM exceptions when copying the content of the Builder.

[code]

[2016-08-01 09:34] Horsmann opened #382 "Each processing mode should generate a result file in its TestTask folder"
We should revive the `result.txt`. Each Adapter should write a plain text file into its ´TestTask´ folder.
This should be implemented as  report which is added by default in the background so that it is always created which is more a convenience feature.
The information written to this file should depend on the processing mode i.e. document/sequence might be ok with a simple accuracy value while r

[2016-08-01 11:49] zesch commented on #382
+1
This would make debugging a lot easier.

[2016-08-01 14:44] Horsmann commented on #382
I guess I would then just `hard-code` another report into the `ExperimentTrainTest` and `ExperimentCrossValidation` setup. Or do you see any other suited places to do that?

[2016-08-01 18:18] Horsmann opened #383 "Crossvalidation: DKProTCInstanceID is not globally unique"
The DKProTCInstanceID that is used/set during CrossValidation does not seem to be as unique as it is supposed to be. This is probably an issue with the CasMultiplication.

[2016-08-02 11:46] Horsmann commented on #382
@zesch @daxenberger Which measures make sense for multi label? I write now accuracy, micro F1 and macro F1 for `singleLabel`. Are these sufficient for `multi label` or which measures would one expect there?

I also would want to avoid to print all measures as this might be a bit too much information.

[2016-08-02 12:46] Horsmann commented on #382
@reckart Is there a way to control the order of the reports that are being executed? I want to add a report in the background `ExperimentTrainTest/ExperimentCrossValidation` which depends on the output of another report `id2outcome`. The `set` data structure unfortunately makes this impossible as I cannot guarantee that this file already exist when my new report runs.

[2016-08-02 12:47] reckart commented on #382
You can change the lab code to turn the set into a list.

[2016-08-02 12:53] Horsmann commented on #382
fine, give me commit access  -.-*

[2016-08-02 12:55] reckart commented on #382
done :)

[2016-08-02 12:55] reckart commented on #382
@Horsmann mind that development in the Lab repo takes place on the "development" branch
not on the master branch!

[2016-08-02 12:57] Horsmann commented on #382
@reckart snapshot builds are created from the `development` branch and only for releases you merge into master?

[2016-08-02 12:58] reckart commented on #382
Yep

[2016-08-02 13:09] Horsmann commented on #382
@reckart The snapshot version of lab is wrong. Can I bump this up to 0.13.0-Snapshot?

[2016-08-02 13:17] Horsmann opened #384 "CRFSuite integration test runs infinitely long"
I remove it for the moment. dunno what the issue is.

[2016-08-02 13:51] reckart commented on #382
@Horsmann I merged master back into development. The version should be correct now.

[2016-08-02 13:52] Horsmann opened #385 "Update DKPro Lab to 0.13.0-SNAPSHOT"
Update lab version

[2016-08-02 13:53] reckart commented on #382
@Horsmann please check the style of commit comments in DKPro Lab and use it as well, e.g.:

[code]

instead of

[code]

Best look at a few comments to see how the style works.

[2016-08-02 14:30] #385 closed, assigned to Horsmann

[2016-08-03 13:17] #382 closed, assigned to nobody

[2016-08-03 13:18] #381 closed, assigned to nobody

[2016-08-03 13:22] Horsmann commented on #379
@reckart do you have a suggestion how to find out what could be wrong with this demo case? Any pointer where I could start to look?

[2016-08-03 14:25] reckart commented on #379
Check where `LifeCycleManager.configure(TaskContext, Task, Map<String, Object>)` is called and why it is not called before your batch.

[2016-08-06 16:41] #383 closed, assigned to nobody

[2016-08-06 17:25] #292 closed, assigned to nobody

[2016-08-10 07:26] Horsmann opened #386 "Folder of ExperimentCrossValidation has $1 suffix (inner class)"
The folder name should remove this inner-class suffix that is attached to the folder name

[2016-08-10 07:27] reckart commented on #386
Why?

[2016-08-10 07:30] reckart commented on #386
Anyway, fix seems ok.

[2016-08-10 14:00] Horsmann commented on #386
cosmetic thing. I didn't like the $1 :)

[2016-08-10 14:00] #386 closed, assigned to nobody

[2016-08-26 15:06] #372 closed, assigned to Horsmann

[2016-08-26 16:23] Horsmann commented on #379
@reckart I just had a look and the `getPreprocessing()` is called already during `initialize()` of the `DefaultLifeCycleManager` long before the `configure` method is called. I don't see why this has ever worked. Has there been many changes regarding the execution order?

[2016-08-26 16:41] Horsmann commented on #353
@reckart I think I will need a more pointers to address this issue. Which class is dealing at the moment with the discriminables. I do not really find a spot where I could start. Any suggestions ?

[2016-08-26 17:07] reckart commented on #379
There was a change to the lifecycle in 0.12.0: https://github.com/dkpro/dkpro-lab/issues/85

[2016-08-26 19:19] reckart commented on #353
The method that turns an object into a string which is used in the discriminators file is this one: `org.dkpro.lab.Util.toString(Object)`

[2016-08-27 17:24] Horsmann commented on #353
How is your idea with the conversionService  supposed to work. In the initialization method of the Task(?) all `expected` types are set to a fixed mapping function something that would call `getDiscriminatorValue` or is this something the user is supposed to by hand?

By the timing I have to have all information in Lab available by the time `analyze(Class<?> aClazz, Class<? extends Annotation> aAn

[2016-08-29 06:17] reckart commented on #353
(Trying to remember)... I think my idea was that the conversion service would be part of the Lab instance, not of a task, e.g.

[code]

But instead of always having to go through the static `Lab.getInstance()`, within a task the conversion service should be obtained from the task context. Registering a conversion should probably happen in the same place where the Lab instance is initially obtained

[2016-08-29 13:23] Horsmann commented on #353
Do I understand it right that I would have to manually call this `registerDiscriminable` for every project/experiment? Essentially before I call `Lab...run()` I would have to know that I have to set those global-overrides for the train/test reader?!

This is even more ugly than wrapping the `CollectionReaderFactory` with a `TcCollectionReaderFactory` which returns only `CRDs` where the `DynamicPro

[2016-08-30 11:50] Horsmann commented on #379
Hm, ok. Sorry for my keep asking, but how open is Lab to configurations from outside i.e. before a task runs? I basically need to have configure called by the time the `CrossValidationTask` runs, right? Is there a way to do that.

By the way I don't think this is a particular sever problem. I would be fine with simply deleting the test case and giving up on this feature which seemingly has been br

[2016-08-30 12:07] reckart commented on #379
What do you mean "open to configurations from the outside"? What do you need to configure?

[2016-08-30 12:09] reckart commented on #353
The discriminables would have to be registered before the first batch task runs. So I would see three options:
- the top-level task could register the discriminables
- discriminables could be auto-detected in a similar way that Lab detects engines or uimaFIT detects types
- discriminables can be manually registered

I agree that the last option is ugly, but IMHO it would be the first step on top o

[2016-08-30 12:17] Horsmann commented on #379
For this to work:

[code]

I need to have `configure` called before the preprocessing is executed. How things are at the moment this is not happening anymore which seems to be the problem. I somehow needs to have `configure` called. This is what I meant with configuring from the outside e.g. hack-in this information to make it available when needed during the initialization.

[2016-08-30 12:31] reckart commented on #379
The order in which the lifecycle events are triggered is defined in the BatchTaskEngine. If you change that, other things may stop working.

The order is:
- ctx.getLifeCycleManager().initialize(ctx, aConfiguration)
- ctx.getLifeCycleManager().begin(ctx, aConfiguration)
- ctx.getLifeCycleManager().configure(aContext, task, aConfig)
- either: ctx.getLifeCycleManager().fail(ctx, aConfiguration, e)
-

[2016-08-30 12:42] Horsmann commented on #379
I think I will delete this test case then. This is something I don't want to touch at least not for a functionality like this one. Thx for the info.

[2016-08-31 11:28] #379 closed, assigned to nobody

[2016-08-31 14:28] Horsmann opened #387 "Add a model load/save demo that uses as parameter a file resource"
Not yet covered by a test case

[2016-08-31 14:32] #387 closed, assigned to Horsmann

[2016-09-06 11:32] Horsmann commented on #353
@reckart
I am drafting such a service atm defining it in the `context.xml` and loading it as service as you suggest. So far I understand things here accessing this `conversionService` then does require a `TaskContext`.

Lab does not have such a context when I would need it for accessing the textual information.
For fixing the problem of this issue, I need in the method `protected void analyze(Clas

[2016-09-06 12:43] Horsmann commented on #353
@reckart I tried to hack something and bumped into yet another problem.
The discriminators are stored in a `Map<String,String>` which becomes a problem for the `CollectionReaderDescription`s.  When I hack in my `conversion` the endlessly verbose description text of the `CRD`s cause problems with some `regEx` checks in `ImportUtils` in the method `matchConstraints(Map<String, String> aDiscriminator

[2016-09-11 13:42] Horsmann commented on #353
@reckart I have issus with initializing the `conversion service` that I defined in the context.xml.
I am missing somewhere some init step but I don't get where.
When I launch a `CrossValidationExperiment` the `ExperimentCrossValidation` Task is properly initialised with the `ConversionService` being `not null`. Once the first `InitiTask` runs the `ConversionService` `is null` so it seems that for

[2016-09-12 20:14] Horsmann commented on #371
The broken xmls are fixed now that we have a proper `CollectionReaderDescription` toString().

@zesch @reckart  Any suggestions how to get rid of the ugly context checks?
`if (subcontext.getType().contains("TestTask")) {}`
I think almost every report we use in TC has such a line.

[2016-09-12 20:16] Horsmann commented on #276
@daxenberger Are you motivated to do the update in this snapshot iteration. Seems to be a bit more work than just exchanging library version numbers?

[2016-09-12 20:21] #353 closed, assigned to Horsmann

[2016-09-12 21:31] reckart commented on #353
@Horsmann is https://github.com/dkpro/dkpro-tc/issues/353#issuecomment-246180878 still an issue for you?

[2016-09-12 21:36] reckart commented on #371
@Horsmann what kind of check would look less ugly to you?

[2016-09-13 05:13] Horsmann commented on #353
no, this should be ok now.

[2016-09-13 06:26] Horsmann commented on #371
Something like a `boolean` check i.e.
`subcontext.isMachineLearningAdapter()`

the naming is probably too TC specific but some flag that we would set when launching an experiment and would allow to identify `*TestTask*` would be what I want to use here.

[2016-09-13 08:43] daxenberger commented on #371
I'd suggest to introduce a generic flag that is stored with a task context in DKPro Lab. DKPro TC could make use of this flag by setting it to sth like "Constants.isMlTask" when instantiating the task.

[2016-09-13 08:44] daxenberger commented on #276
Definitely more than version numbers, but I'll have a look at this.

[2016-09-14 07:06] Horsmann commented on #371
The tasks we have a rather fixed I would say.
It would quite convenient if you could retrieve an `ENUM` or something.
Then you could do rather simple and easy to read checks such as:
`if(subcontext.getNewFlag() == TcTasks.MachineLearningAdapter`
`if(subcontext.getNewFlag() == TcTasks.Meta`
`if(subcontext.getNewFlag() == TcTasks.ExtractFeatureTrain`
`if(subcontext.getNewFlag() == TcTasks.ExtractFea

[2016-09-14 07:54] reckart commented on #371
The "nickname" of a task is it's type (constructor: TaskBase(type), methods: Task.setType(type), Task.getType()).

The way to maintain auxiliary non-discriminator information with tasks is through "attributes" (methods Task.setAttribute(name, value), Task.getAttribute(name), Task.getAttributes()).

[2016-09-14 10:08] Horsmann commented on #371
Sounds close to what I am looking for. I just don't see how I can access this information from within a `report`.
The information is located in `TaskBase` but all I have is a `TaskContext` which does not gives me access to the attributes?

[2016-09-14 10:55] reckart commented on #371
The type is in the TaskContextMetadata which is accessible from the TaskContext.

The attributes can be retrieved in the same way as the discriminators.
There is getProperties() in ReportBase which should return the map of attributes.
At some point I had to rename get/setProperty to get/setAttribute, but apparently
I forgot to update the ReportBase.

[2016-09-14 11:52] Horsmann commented on #371
When I want to set an attribute it is kind of fatal to reinitialize the `properties` map during the analysis step.

[code]

I thought of setting an attribute/property before the experiments run i.e.

[code]

but then the analyse step clears the properties. Might be a bug - do you remember intention behind reinitialization ?

[2016-09-15 13:47] reckart commented on #371
The reinitialization is performed to return the Task to a defined state when it is reused - i.e. to avoid "leaking" information between different runs of a task.

[2016-09-15 13:48] reckart commented on #371
See: https://github.com/dkpro/dkpro-lab/issues/97

[2016-09-15 19:59] Horsmann commented on #371
@reckart Is something like the `loadAttributes()` by context id something for adding into `Lab` or is this too specific already https://github.com/dkpro/dkpro-tc/commit/75d0c5bed2ec665748adc6ff350ac4864f29bfff?

[2016-09-16 06:58] Horsmann commented on #371
@daxenberger Do we still need `ExperimentPrediction` this doesn't seemed to be used anywhere. Is this a left over?

[2016-09-16 07:26] daxenberger commented on #371
Not needed anymore; superseded by Save/LoadModelTasks.

[2016-09-16 07:54] reckart commented on #371
I believe adding a getDiscriminators() and getAttributes() makes sense. How about adding it in the TaskContext?

[2016-09-17 16:42] Horsmann opened #388 "Add support for deep learning frameworks"
Add keras as deep learning framework. Keras (https://keras.io) is a more easy to use deep learning project which uses Theano or Tensorflow in the background. It is furthermore a Python implementation.

Basic idea is to write an output file to disk that is suited for Keras, run training, retrieve the output and feed it back into TC to evaluate it.
At some point we would have to bridge between the J

[2016-09-17 16:46] Horsmann commented on #388
Regarding (1) I think it is most reasonable to have Java facade and do all work on the Python side. We would have to agree on a data format for `document/unit` and `sequence` classification i.e. we write a fixed output format to disc and the `Python` scripts would then transform things into a N-dimensional `numpy` array.

Any opinions on this matter?

[2016-09-17 16:55] Horsmann opened #389 "Package path of machine learning adapter is wrong"
The project structure has been renamed some time ago and introduced `dkpro-tc-ml-*` as project prefix for the machine learning adapters.

The package name has not been updated for :
- [x] Weka
- [x] Crfsuite
- [x] Svmhmm

[2016-09-17 17:18] Horsmann commented on #389
`Crfsuite` and `svmhmm` uses binary that are installed with the package url.
The hard coded string in the respective classes has to be updated to the new url and `someone` with privileges has to upload the binaries with the new package url into artifactory.

[2016-09-17 17:49] Horsmann commented on #389
@reckart could you please upload the crfsuite binary with the new package path into the ukp artifactory?

[2016-09-17 19:06] Horsmann opened #390 "Weka Id2Outcome TestCase needs update"
@daxenberger
There is a test case in Weka which uses a pre-computed *.bin file which contains a hard coded package path.
This path changed with renaming of the package structure in #389

The test case `testGenerateOutcomeIdPropertiesMultiLabel()` in `OutcomeIDReportTest` fails now due to this mismatch of the package path.
Could you regenerate the *.bin file one more time with the new package path?

[2016-09-17 19:46] reckart commented on #388
Can you break down "all" the things that could be done on the Java/Python side into specific steps? That would probably generate more feedback about which particular steps people would like to see either on the Java or Python side.

[2016-09-17 20:50] mwunderlich commented on #388
Hi Tobias,

I am just curious and you’ve surely had many discussion on this topic already - discussions which I’ve missed - but why Keras? There is Deeplearning4J (http://deeplearning4j.org/), a Java-based DL framework, which also open-source. So, I am wondering what the reasons were for going with Keras?

Cheers,

Martin

[2016-09-18 08:22] Horsmann commented on #388
@mwunderlich
Just following the trend that other machine learning projects picked up Keras instead of DL4j. Except for the conversation on the mailing list there was not much discussion so far.
DL4j is still strongly evolving with frequent releases of new versions when I checked the last time (monthly). `deeplearning4j-nlp` jumped from version 0.4. in July to 0.6 in September.
This is a bit proble

[2016-09-18 08:51] Horsmann commented on #388
For the time being I see essentially two big steps which might break up into smaller ones over time. The only Java/Python choice is the data transformation step how to bridge the two worlds.
- Defining the DL-Keras setup (layers, etc.)
  - Defining a code-block with the layers etc. as code snipped or resource and then building a working python script together which is then executed.
  - Provide th

[2016-09-18 09:35] mwunderlich commented on #388
@Horsmann I see, thanks a lot for the clarification, Tobias. I agree it makes sense to go with something that is more stable and then look into DL4J maybe later again.

[2016-09-18 10:59] reckart commented on #388
I think the definition of the network should be in Python-land.

Generally, I would tend towards Java preparing the vectors and Keras just reading them. However, there can be a very high redundancy in the vectors and great waste of time and space. Thus, I think that we would probably be better off to have a tabular file format where we define the transformation of columns in to vectors in a progra

[2016-09-18 16:54] Horsmann commented on #389
@reckart I also updated the `svmhmm` binaries. I tried adding my `artifactory` to the TC pom but I don't get why my Jenkins is not even trying to use the location. It only accesses the UKP artifactory where it doesn't find the binary. Any idea why my repository is ignored?

[2016-09-18 17:03] reckart commented on #389
Maybe you are using a settings.xml that prevents it? But I'd prefer if we could keep all the model data/binaries data in a single canonical repository.

[2016-09-18 17:04] Horsmann commented on #389
Okay, could you please upload the svmhmm binary then too :)

[2016-09-18 17:05] Horsmann commented on #389
I added an installation script for `svmhmm` which didn't exist before. In the source folder `scripts`

[2016-09-19 10:25] Horsmann commented on #389
I got access to the models rep. I uploaded the svmhmm binary myself

[2016-09-19 10:57] reckart commented on #389
@Horsmann :)

[2016-09-19 11:22] reckart commented on #389
@Horsmann Regarding the repo: the idea is to run the script with default settings, which will deploy the model into a "staging repository". You should add this staging repo to your local build and check that the artifacts there are ok. When happy with the artifacts, they should be moved/copied to the actual model repository. @daxenberger I think @Horsmann might require delete permissions on the st

[2016-09-19 11:47] carschno commented on #388
Note that DL4J is working on a Keras-like wrapper for Scala. This is still in early alpha and I am not sure if any degree of compatibility to Keras/Tensorflow/Theano (e.g. with respect to models) is planned.

[2016-09-19 12:38] #384 closed, assigned to nobody

[2016-09-19 13:58] carschno commented on #388
Here's the link to the afore-mentioned Keras-like wrapper to Deeplearning4j: https://github.com/deeplearning4j/ScalNet

[2016-09-19 19:36] daxenberger commented on #276
Was quite painfree. Closing.

[2016-09-19 19:36] #276 closed, assigned to daxenberger

[2016-09-19 19:37] daxenberger commented on #390
The binary file is gone now. Should prevent future problems of this type.

[2016-09-19 19:37] #390 closed, assigned to Horsmann, daxenberger

[2016-09-20 07:42] Horsmann commented on #389
@reckart Do you have an idea where this error is coming from

[code]

Something is somewhere using the old binary. I removed this dependency and updated it with the new one, but I don't know how to find the problem?

[2016-09-20 07:46] reckart commented on #389
See https://github.com/dkpro/dkpro-tc/blob/master/dkpro-tc-ml-crfsuite/pom.xml#L106

[2016-09-20 07:47] Horsmann commented on #389
Oh there! Thanks!

[2016-09-20 07:48] #389 closed, assigned to Horsmann

[2016-10-19 16:36] Horsmann opened #391 "DKPro TC Release 0.9.0"
- [x] Change release target of remaining issues to `1.0.0`
- [x] Update `changes.txt`
- [x] Update to Lab `0.13.0` release version (https://github.com/dkpro/dkpro-lab/issues/99)
- [x] Dependency checks
- [x] Check `excluded from release` projects
- [x] Release
- [x] Draft release
- [x] Announce release

[2016-10-19 16:43] #371 closed, assigned to zesch, Horsmann

[2016-10-19 16:46] Horsmann commented on #120
I close this one since no one seems to remember what the problem was

[2016-10-19 16:46] #120 closed, assigned to nobody

[2016-10-19 16:49] Horsmann commented on #218
@zesch @daxenberger Are there any real plans to fix this issue or can we dump the `dead code project`?

[2016-10-19 16:53] zesch commented on #218
Most of these features are now used in other projects e.g. the cTest generation.
They have been refactored there, so I guess we should remove them.

[2016-10-19 17:07] daxenberger commented on #218
I guess this module will not be further developed. Has been excluded from previous releases and should be excluded from the next one.
From my side, it can also be deleted in the snapshot.

[2016-10-19 17:29] Horsmann commented on #218
ok. I delete the project then.

[2016-10-19 17:29] #218 closed, assigned to nobody

[2016-10-19 17:30] Horsmann opened #392 "Delete dkpro-tc-features-readability"
remove `dkpro-tc-features-readability`

[2016-10-19 17:48] #392 closed, assigned to Horsmann

[2016-10-20 13:36] Horsmann commented on #391
@reckart
When running the dependency analysis (`mvn clean dependency:analyze`) I get this warnings:

[code]

If you declare them the will show up the next time as `declared but not used` if you don't declare them they are `used but not declared`. I think I had this issue the last time already - is there some work-around for this by now? I probably just going to ignore it again but I wanted to chec

[2016-10-20 13:37] reckart commented on #391
This is somehow related to the ordering of the dependencies in the POM. @betoboullosa you also had that problem in DKPro Core. Do you still remember what was the ordering that fixed it?

[2016-10-21 08:25] daxenberger opened #393 "Liblinear & Libsvm module ignores instance ID"
As a consequence, id2outcome reports of this module do not contain the names of instances, but only dummy placeholders.
To fix this, the DataWriter would need to create a separate file with a mapping from instance indexes to Instance Ids (=names), which could then be used by the TestTask/report to map indexes to instance names.

[2016-10-21 08:48] Horsmann commented on #393
You mean if the suffix information of the instance id is set this information is lost?

[2016-10-21 09:03] daxenberger commented on #393
Basically, yes. It is not transferred from features extraction to testing/predicting.

[2016-10-21 09:11] Horsmann commented on #393
Will you take care of this?

[2016-10-21 11:10] daxenberger commented on #393
Probably not before the release ;-)

[2016-10-21 13:02] Horsmann commented on #393
@daxenberger can you pull the last change and try again?

[2016-10-21 15:25] Horsmann commented on #393
@daxenberger I close this for the moment - I hope I fixed it the unit test cases use the suffix information now.

[2016-10-21 15:25] #393 closed, assigned to Horsmann

[2016-10-21 15:47] Horsmann opened #394 "Improve Word/Character NGram log-messages"
Would be good if you could see which `min` and `max` ngram the ngram feature uses and if it are `character` or `word` ngrams

[2016-10-21 16:47] daxenberger commented on #393
Thx. I can't test right now, but your changes should do what I meant.

[2016-10-22 09:01] #394 closed, assigned to Horsmann

[2016-10-22 09:01] Horsmann commented on #391
@betoboullosa `ping`

[2016-10-22 18:18] Horsmann commented on #226
Dead issue as it seems after removing the readability project.

[2016-10-22 18:18] #226 closed, assigned to nobody

[2016-10-22 18:21] Horsmann opened #395 "Search functionality / auto-list creation of available feature extractors"
We need a service for looking up features by keywords or a method to automatically create an always up-to-date list of the features available in DKProTC.

[2016-10-24 08:57] betoboullosa commented on #391
@Horsmann I don't remember exactly, but I left this comment in the DKPro Core 1.8.0 release issue:

Update: in order to fix the commons-logging used undeclared message, I had to move commons-logging:commons-logging-api dependency to the top.

https://github.com/dkpro/dkpro-core/issues/702

[2016-10-24 09:34] Horsmann commented on #391
@betoboullosa thanks. I think that fixed the message :)

[2016-10-24 11:02] Horsmann commented on #391
Okay - I start the release process ~

[2016-10-24 12:12] Horsmann commented on #391
@reckart @daxenberger The release is in the staging repository now. In case you want to check something now is the opportunity. I will play around with the release candidate to train some models. Unless you complain by 5 p.m. I will release the repository.
https://oss.sonatype.org/content/repositories/orgdkpro-1023/org/dkpro/tc/

[2016-10-24 13:06] Horsmann commented on #391
accidentally included keras - re-run.

[2016-10-24 13:31] reckart commented on #391
@Horsmann 5 pm? C'mon... 72 hours checking period is the minimum...!

[2016-10-24 13:55] daxenberger commented on #391
I'd also appreciate a bit more time - at least 24hrs.

[2016-10-24 13:56] Horsmann commented on #391
Haha ok - :)

The new candidate is here: https://oss.sonatype.org/content/repositories/orgdkpro-1024/

[2016-10-24 14:01] Horsmann commented on #391
Is Thursday until `noon` enough time?

[2016-10-24 14:02] daxenberger commented on #391
From my side, yes.

[2016-10-24 19:23] Horsmann commented on #391
+1
from my side - I done with my testings. Looks good. Awaiting other votes.

[2016-10-26 12:04] daxenberger commented on #393
Confirmed. Works now.

[2016-10-26 18:17] daxenberger commented on #391
I tested now. Generally, works - but in the minimal setup that I tested, I had to explicitly enforce the usage of the latest SPRING version (dependency stems from DKPro Lab 0.13.0 I think) - did anybody experience the same issue?
Furthermore, I haven't checked dependencies for their license.

[2016-10-26 18:29] reckart commented on #391
If TC declares any Spring dependencies or Spring dependency management, that should currently be "3.2.16.RELEASE" which is the version currently used in DKPro Core and uimaFIT.

[2016-10-26 19:14] Horsmann commented on #391
@daxenberger did you try to declare TC in the `dependency management` section, too? When not `inheriting` the version from the TC pom with scope: `import` I remember to had some time ago a similar problem although not now.
TC sets explicitly `3.2.16.RELEASE` as property.

[2016-10-26 19:21] daxenberger commented on #391
Ok, the the problem is solved when inheriting from dkpro-tc parent or explicitly declaring it as dependency with scope import. I guess that's ok then - but we might want to add it to the documentation.

[2016-10-26 19:26] Horsmann commented on #391
I just noticed that for `libsvm` and `liblinear` we are not using the correct copyright file?
http://www.csie.ntu.edu.tw/~cjlin/libsvm/COPYRIGHT
http://www.csie.ntu.edu.tw/~cjlin/liblinear/COPYRIGHT

Both have an Apache License file - is this a problem? If yes, at least `0.8.0` is missing the correct file for `liblinear`

[2016-10-26 19:28] reckart commented on #391
If liblinear is physically contained in one of our JAR files, then this JAR file should reproduce the contents of the liblinear COPYRIGHT file in the NOTICE.txt file - properly marked within the NOTICE.txt file so that it is clear that the respective section is for liblinear. Same for libsvm.

[2016-10-26 19:30] Horsmann commented on #391
We are using 3rd party mavenized liblinear & libsvm  - so not our problem :-)?

[2016-10-26 19:31] reckart commented on #391
Nope. If we only have them as dependencies, not our problem. Both libraries are non-copyleft (actually a 3-clause BSD-like license) and are compatible with ALv2.

[2016-10-26 19:32] reckart commented on #391
But if the upstream people that mavenized the libraries did not include the COPYING, you could open an issue with them ;)

[2016-10-26 19:49] Horsmann commented on #391
I am sure they took care of everything :) - libsvm is the only new module we have which has no problems. Meka had a version update but the license looks correct, too. No other dependencies changed so far I know?

@reckart how much time do you think you will need for your testing?
@daxenberger anything left to do from your side?

[2016-10-27 06:24] daxenberger commented on #391
Actually, yes. The documentation (dkpro-tc-doc) is totally outdated since the changes to how features extractors instantiated. We also might want to update the documentation to reflect the SPRING issue discussed above. Other than that, not really. I added a TODO to update DKPro TC github  pages after the release (update stable release version).

[2016-10-27 07:13] Horsmann opened #396 "Lucene Index size depends on number of CAS that are processed"
During testing with NGrams I noticed that when training models there is a subtle but maybe important dependency between the number of CASs that are created and the size of the model.
The more CAS are processed the larger the model becomes because the Lucene index requires more HDD disc space. This effect seems to be related to how we use the Lucene index-

I had a little test-run in which I read e

[2016-10-27 09:36] Horsmann commented on #391
ok - regarding a release of the `release candidate`? +1/-1 ?

[2016-10-27 09:38] daxenberger commented on #391
release candidate is ok from my side.

[2016-10-27 11:41] Horsmann commented on #391
ok
@reckart any idea when you will have time for taking a look into the RC?

[2016-10-29 12:20] Horsmann commented on #391
@reckart `ping`

[2016-10-31 10:20] Horsmann commented on #391
@reckart Is this still on your list or is this silent agreement for a release :o?

[2016-10-31 10:24] reckart commented on #391
@Horsmann sorry, I haven't been able to look at it and have little time at the moment.

[2016-10-31 10:25] Horsmann commented on #391
@reckart I would then just release it? Johannes gave his ok ~

[2016-10-31 10:26] reckart commented on #391
@Horsmann if you and JD are ok, sure. No use waiting for me this time.

[2016-10-31 10:27] Horsmann commented on #391
Okay!

[2016-10-31 12:37] Horsmann opened #397 "Manual pages need an update"
The manual website is a bit outdated and should be adapted / re-written to fit the `0.9.0` release. Latest documents refer to `0.6.0`

[2016-10-31 12:39] Horsmann commented on #391
@daxenberger I added an own issue (https://github.com/dkpro/dkpro-tc/issues/397) for the documentation. I am closing this one.

[2016-10-31 12:39] #391 closed, assigned to Horsmann

[2016-11-07 20:30] nicolaierbs opened #398 "Dimensions are not declared as discriminators"
When running the method _runCrossValidationWithStatsEval_ in the example WekaTwentyNewsgroupsDemo, the the following error occurs:

[code]

Required dimensions which are required for the reports are not declared (as discriminators)

The required dimension are added to the parameter space, but not recognized by the reports.

[2016-11-07 20:31] nicolaierbs opened #399 "Confusion matrix is not created"
No confusion matrix is generated using the default report.

[2016-11-07 21:02] Horsmann commented on #398
@reckart  Do you have an idea how a dimension might be lost on the way :/

[2016-11-07 21:03] zesch commented on #398
You can declare as many dimensions as you want, but if there is no discriminator to get the value it is just ignored.

[2016-11-07 21:03] reckart commented on #398
Maybe there are nested tasks and something broke the inheritance of the outer parameter space into the inner parameter space?

[2016-11-07 21:04] reckart commented on #398
@zesch +1 ;)

[2016-11-07 21:05] nicolaierbs commented on #398
I just added

[code]

to WekaTestTask and it works, but I guess it is supposed to do something with the values...

[2016-11-07 21:37] nicolaierbs commented on #399
Followed suggestion from @daxenberger and implemented a standalone version, which looks like this:

[code]

[2016-12-26 10:25] Horsmann opened #400 "Update Lab to 0.14.0-SNAPSHOT to enable instances of reports"
Lab snapshot can now use instances of reports instead of only passing the .class files

[2016-12-26 11:43] Horsmann commented on #400
@reckart The groovy scripts don't like instances of reports.
I don't really get the problem here. What exactly is groovies problem? The java code works as usual but some background-magic starts to fail with the groovy scripts.

[code]

Reports are currently passed like this:
[code]

How do I fix this or why is the auto-cast magic failing here?

[2017-01-03 13:51] Horsmann commented on #400
@reckart ping

[2017-01-03 14:00] reckart commented on #400
No clue. Can this be tested by running code from the repo?

[2017-01-03 14:17] Horsmann commented on #400
yes. so far I see every `Groovy` test case runs into this error (update your snapshot versions to use a new 0.14.-SNAPSHOT)

[2017-01-03 15:34] reckart commented on #400
Why is the Jenkins-build green then?

[2017-01-03 15:40] Horsmann commented on #400
The TC build is `yellow`. The Lab build passes. It is just the pairing of groovy with the recent change that fails.

[2017-01-03 15:54] reckart opened #401 "Don't use wildcards in types.txt files"
Don't use wildcards in types.txt files

[2017-01-11 07:51] Horsmann commented on #400
@reckart ping

[2017-01-11 22:12] reckart commented on #400
I currently don't find the time to look at it.

[2017-01-18 13:24] daxenberger opened #402 "NPE when executing Meka multi-label classification and feature selection with too little features"
In a meka classification scenario, when feature selection is activated and there are less features extracted than the filter should keep, a null pointer exception is thrown.

[2017-01-18 13:26] daxenberger commented on #402
fixed.

[2017-01-18 13:26] #402 closed, assigned to nobody

[2017-01-22 14:37] #400 closed, assigned to Horsmann

[2017-01-22 14:37] Horsmann commented on #400
wontfix

[2017-03-27 19:05] Horsmann opened #403 "Replacing the feature store"
I started experimenting how to avoid using the feature store.

The feature store is probably the biggest (performance) bottleneck at the moment. (i) the store grows until it holds all features which will be plenty for large datasets (ii) it becomes extremely slow for large data sets when the gigantic store has to reallocate memory

The `sparse feature store` certainly avoids this problem to some e

[2017-03-27 19:08] Horsmann commented on #403
See branch `issue403` for the prototype

[2017-03-28 06:31] daxenberger commented on #403
Alright, sounds reasonable. Thanks for tackling this!

[2017-03-29 06:58] Horsmann commented on #403
@daxenberger I had a look at the feature filter. At the moment, so far I see, is only one filter provided in TC for achieving a uniform distribution of the outcomes. Here are my thoughts on this for revisiting how the filters are used. Maybe you can comment on this matter :)

I was wondering if a `feature` filter should remove entire instances including all features. The way the feature filter `co

[2017-03-29 11:25] daxenberger commented on #403
You can find more information on why and how the filters were introduced in the first place in https://github.com/dkpro/dkpro-tc/issues/210. I guess, before changing anything here, you should first go through that thread.
Uniform class/label distribution, which is a requirement for most Weka classifiers, could be archived before of after creating the feature store. We could ask the user to make su

[2017-03-29 14:26] Horsmann commented on #403
Thanks.

This is more something that the user should guarantee otherwise the classifier will be biased but Weka wouldn't care if it gets 100 instances from A and only 10 from B ?

using a filter that does that would not really make things better in this case? When the CV data is forcefully uniformed some instances are just kicked-out. It would be more like CV minus arbitrary many instances?

So, a

[2017-03-29 18:18] Horsmann commented on #403
Ok. I had a look again. Three things

1) ExperimentTrainTest does not set the `isTesting` flag in the test task. Consequently, in `ExtractFeaturesConnector` in the `collectionProcessComplete()` method`applyFeatureNameFilter();` is never called. This is probably a bug without consequences? I went back until `0.7.0` this missing flag is there since quite some time.

2) The name filtering is done by

[2017-03-29 18:32] zesch commented on #403
I am emotionally very attached to the current filtering concept.
I also know that it is being used for some specific purposes in experiments
that would not be easy to implement without filters.

-Torsten

2017-03-29 16:26 GMT+02:00 Tobias Horsmann <notifications@github.com>:

[2017-03-29 18:38] Horsmann opened #404 "ExperimentTrainTest does not set 'isTesting' flag"
This flag is set for CrossValidation but not for TrainTest experiments

[2017-03-30 06:23] daxenberger commented on #404
Is this flag actually used in TrainTest scenarios?

[2017-03-30 07:05] Horsmann commented on #404
Well, the `ExtractFeatureConnector` has this code-block:
and this `applyFeatureNameFilter ` should have never been executed for train-test.
This is essentially why I am asking in the #403 regarding this feature-name filtering - this seems to be uncritically if it is not done. Train-Test worked quite well without it.

[code]

[2017-03-30 17:58] daxenberger commented on #404
Ok so this seems to be a bug. I personally haven't used FeatureFilters, and I could life without them in. Maybe @zesch wants to comment more on the matter?

[2017-03-30 18:19] zesch commented on #404
I think we need to distinguish between Filters in general and the FeatureNamesFilter.
I don't really know anymore about the latter.

Filters in general are IMO a useful concept.

[2017-03-31 07:37] Horsmann commented on #403
So, currently my biggest problem is ensuring that only features which occurred during training are used in the testing phase. If I recall correctly, this is what TC is supposed to do, right?

I am talking about this code block here https://github.com/dkpro/dkpro-tc/blob/master/dkpro-tc-core/src/main/java/org/dkpro/tc/core/task/uima/ExtractFeaturesConnector.java#L188

And the implementation of the

[2017-03-31 08:21] #404 closed, assigned to Horsmann

[2017-05-15 12:42] Horsmann commented on #403
I have implemented streaming for all classifiers to directly write into the classifier format. Weka is the only adapter which has to do a detour and first write everything to disc (json) to collect all information the API requires.

@daxenberger Is there a way to use Weka without having to know the total number of instances in advance? The API seems to always want to know everything in advance thi

[2017-05-15 18:19] daxenberger commented on #403
You don't need to know the the total number of instances in advance. There might be other pieces of necessary information - not sure. However, abandoning the Weka API altogether and creating ARFFs manually has the huge problem that we cannot really make sure that the DataWriter produces valid output (or at least throws useful exceptions), which is a serious drawback IMHO.

I can try a few older th

[2017-05-15 18:23] zesch commented on #403
Maybe there is a way to check the validity of the written ARFF via Weka?

On the other hand, I guess that we understand the format well enough to write our subset of the format that is always valid.

[2017-05-15 20:10] Horsmann commented on #403
@daxenberger @zesch Can someone make the `ExperimentCrossValidation` import the InitTask output folder? I don't get the problem the imports are not found.

The whole idea is to collect all outcomes already during the InitTask when iterating the outcomes. This works for TrainTest but Crossvalidation fails becomes it doesnt know the InitTask.

[2017-05-15 20:31] Horsmann commented on #403
I gave up. I reverted the changes should build again.

I am not fully convinced that the ArffSaver can be re-initialized without overwriting the old file. The process is Cas based so far I see it. I would need to re-init ArffSaver without deleting the already written information.
So far I would say this is not supported.

[2017-05-15 20:39] zesch commented on #403
You lost me. AFAIK ArffSaver is a build-in Weka method, so it should not be Cas-based. Also not clear why you want to re-initialize. I thought the whole idea was about not using the Weka stuff but building a work-around ...

[2017-05-16 08:26] daxenberger commented on #403
I don't think you can import them directly. But you could add a dimension for this - as we do for list of files (l. 170 in `ExperimentCrossValidation`).

[2017-05-16 11:10] Horsmann commented on #403
I don't really understand how such a dimension would look like?

@reckart I need to hack into a CrossValidation setup that a file created by an outer-task is made available for one(or all) nested-tasks. Is there some way to pass-through infos from the outer lab task to the inner, nested ones?

[2017-05-16 13:42] reckart commented on #403
I assume you have this structure? I thought that should work.

[code]

[2017-05-16 13:57] Horsmann commented on #403
I think this is what I did.
Take a look here please:
https://github.com/dkpro/dkpro-tc/blob/163cdfee628a053d644262bf02bda19e7f62d5d9/dkpro-tc-ml/src/main/java/org/dkpro/tc/ml/ExperimentCrossValidation.java#L224

I added this line to import the outer init-task into the inner extract feature task (analog for the extract-test task)

When I run CV with this modification I get an import not found excep

[2017-05-17 06:34] daxenberger commented on #403
I remember having encountered this issue a while ago: https://github.com/dkpro/dkpro-lab/issues/42
Maybe the fix does not apply here?

- Johannes

Von: Richard Eckart de Castilho <notifications@github.com>
Antworten an: dkpro/dkpro-tc <reply@reply.github.com>
Datum: Dienstag, 16. Mai 2017 um 15:42
An: dkpro/dkpro-tc <dkpro-tc@noreply.github.com>
Cc: Johannes Daxenberger <daxenberger@ukp.informatik

[2017-05-17 07:34] reckart commented on #403
Why are there two MetaTask executions?

[code]

Looks like you are using timestamps now - so `20170516155647285` is later than `20170516155643982` - I wonder why the import did not resolve to the later one...

[2017-05-17 08:38] Horsmann commented on #403
@reckart @daxenberger The meta task is in the inner task. Each CV-fold has it own one as it seems. So each fold should execute a Meta task.
The issue Johannes linked looks like the problem into which I am running here? I am not really sure how to proceed here :/

[2017-05-17 09:43] reckart commented on #403
I am not sure I have the time atm to look into this. Is there some kind of "check out and run" unit test which provokes this?

[2017-05-17 10:47] Horsmann commented on #403
@reckart Yes. I prepared the setup that cases this error with the commit before this post.

Checkout branch `issue403` and run `WekaTwentyNewsgroupsDemo` (example not a junit test)
Located in `dkpto-tc-examples/org.dkpro.tc.examples.single.document/WekaTwentyNewsgroupsDemo`

Should quickly afterwards fail with aforementioned `import` exception.

[2017-05-17 14:11] Horsmann commented on #388
I will continue this issue, too. The idea is to focus on the preprocessing part and provide tools to bring data in typical data structures that you need for deeplearning.

For instance, seq-to-seq would translate a sequence of tokens and labels into integer array (e.g. PoS tagging). seq-to-label or document classification would create a fixed-size integer array of the words in a document with its

[2017-05-18 20:14] reckart commented on #388
Is this a kind of a generic *features -> numeric feature vector* translation framework that could be used to connect to any type of DL algo?

[2017-05-18 20:14] reckart commented on #388
I'm thinking specifically of DL4J.

[2017-05-19 05:58] Horsmann commented on #388
Yes. Actually there is not much more that you can do on the TC side.
I will include a setup for `sequence-2-label` such as review-sentiment classification and `sequence-2-sequence` e.g. PoS tagging.
The NN construction and how to make the dimensions fit for the respective architecture is left to the user. I expect that the user sticks to the contract of writing me a result file with the prediction

[2017-05-19 05:59] Horsmann commented on #388
At the moment I work mostly with Keras but the effort to add DL4J should be minimalistic. Its just defining a call-stub for TC to start the DL-Code.

[2017-05-20 17:59] Horsmann commented on #388
@reckart @zesch @daxenberger I am stuck here with the same problem as in the other branch when trying to implement CV. I need information from the `initTask` in the `inner tasks`. What could somehow work is to hack around and passing the file-system pointer from the `initTask` into the tasks that need this information. This certainly will leak through the entire code base with some info being lab-

[2017-05-20 19:02] reckart commented on #403
I think I found the problem in DKPro Lab. Cf. https://github.com/dkpro/dkpro-lab/issues/101.

[2017-05-20 20:12] reckart commented on #403
Ok, this should work now.

[2017-05-20 20:40] reckart commented on #388
As mentioned in #403, this should be fixed in DKPro Lab now.

[2017-05-21 07:21] Horsmann commented on #388
@reckart super! thanks. looks good :)

[2017-05-21 09:11] Horsmann commented on #403
I added new task into the pipeline. `CollectionTask` - which is a MetaCollection in a sense but the name is already in use. The collection task runs over all data, train and test, to collect the outcomes.

Other MLA do some more or less expensive operations to fish-out the outcomes from the training files for mapping things. Seems overdue that this information is centrally provided. I am not very

[2017-05-22 08:23] reckart commented on #388
@Horsmann My experience with embeddings was that it took always a lot of time at the beginning of an experiment to load the embeddings into memory. This was rather annoying, in particular when just running small experiments or trying things out.

We have nice classes - BinaryVectorizer/BinaryWordVectorUtils - in the DKPro Core embeddings module that can read/write embeddings in a format which **do

[2017-05-22 08:58] Horsmann commented on #388
At the moment I have a task which filters the embeddings to only contain tokens occurring in the training data. Depending on the size of the data set this is in my experience usually not more than 30 MB (uncompressed plain text) for large data sets. This loads rather quickly?

I am bit concerned about interfacing this data format to other DL frameworks. I would want to use the existing classes pro

[2017-05-22 09:07] reckart commented on #388
The glove vectors are quite a bit larger than 30 MB - more like 500 MB. That takes quite a while.

The code in DKPro Core is easily compatible with DL4J. Actually, the history behind it is coming from the DL4J corner. I was annoying by the slow reading of embeddings, so I asked on the DL4J gitter channel about some faster alternatives. @treo, who hangs out a lot on DL4J, then provided the first dr

[2017-05-22 14:29] Horsmann commented on #388
@reckart I mean that I collect all occurring tokens, read the embedding one time and throw out all vectors if they do not occur in the data. I work with the Glove vectors and they are rarely bigger than 5MB (certainly depends how large the data set is - but I think this is still pretty fast).

[2017-05-22 14:47] Horsmann commented on #403
merged. Our Jenkins did build.

[2017-05-22 17:06] treo commented on #388
The binary word vector loader that @reckart mentions uses a pretty simple format most of it is just a single low level float array.

You could easily use the same prefiltering approach with it at the start of an experiment and still never load more than some pages worth of data.

[2017-05-23 12:21] Horsmann commented on #401
@reckart There is nothing else to do here? The file you changed covers all `TC` types. Can we close this?

[2017-05-23 14:04] reckart commented on #401
If there are no other type descriptors, I yes.

[2017-05-23 14:06] Horsmann commented on #401
nope

[2017-05-23 14:06] #401 closed, assigned to nobody

[2017-05-23 15:24] Horsmann commented on #403
@daxenberger can you test a bit with the current master? I think things look good from my side so far.
btw. are there any (larger) multi-label classification data sets you could give away? The multi-label part has only one test-case at the moment.

[2017-05-24 13:39] Horsmann opened #405 "Implement default constructor in reports for Groovy experiments"
Related to https://github.com/dkpro/dkpro-lab/issues/79 - reports need to implement the default constructor.

[2017-05-24 13:45] Horsmann commented on #56
Issue seems to have no relevance anymore. I close this.

[2017-05-24 13:45] #56 closed, assigned to nobody

[2017-05-24 13:45] Horsmann commented on #55
No relevance. Closed.

[2017-05-24 13:45] #55 closed, assigned to nobody

[2017-05-26 09:26] #405 closed, assigned to Horsmann

[2017-05-26 18:33] Horsmann opened #406 "Crfsuite Id2Outcome report does not print suffix"
The report does not print the suffix information when writing the id. This bug was introduced in 0.9.0.

[2017-05-26 18:33] #406 closed, assigned to Horsmann

[2017-05-26 19:36] Horsmann commented on #398
This feature probably got lost when enabling using the same features with various configurations. Was not intended. The easy solution is to simply call the pipeline twice with a different feature set. I tend to flag this `won't fix`

[2017-05-26 19:38] Horsmann commented on #113
Own issue exists since a while #399, I close this one then

[2017-05-26 19:38] #113 closed, assigned to nobody

[2017-05-26 19:54] Horsmann commented on #388
@reckart Do you have a NLP-example for a setup how you use DL4j? I looking for rather simple and straight forward examples for integration/testing. I have now one working example of a document classification based on one of the examples in the `examples-project` of DL4j but I would like to have something sequence-classification-ish, too - do you have code lying around that you could give away?

[2017-05-26 21:55] reckart commented on #388
@Horsmann check out this one: https://github.com/dkpro/dkpro-core-examples/commit/478eb2b6dc7d365c5f913f9a9d5c65a336f1e038

[2017-05-26 22:27] daxenberger commented on #397
Adressed some issues in Getting Started and FeatureExtractor documentation in 886d43e62c12197aaf07320f2e61ad6365504983 and a5e7f89ea88ea40bc70bb658a0af44a2d4d41e22.

[2017-05-26 22:55] daxenberger commented on #403
@Horsmann any particular thing you want me to test?

See http://meka.sourceforge.net (bottom)

[2017-05-26 23:05] daxenberger commented on #398
In this particular setup, the baseline classification args are required within the same run, to calculate significance scores.
However, the "stats-eval" scenario has not really been kept up-to-date with the last releases - so we should either update the whole module properly or discard it altogether.
I might have a look at this in the next days.

[2017-05-27 08:12] Horsmann commented on #403
@daxenberger At the moment a general test for functionality. The tests are passing, so I assume everything should work but since the test cases do not cover everything I would be good if you could run `0.9.0` experiments on the snapshot and see what happens.

Speed-wise, because we have a new task now to collect the outcomes, we did not win much but the scaleability has certainly increased.

[2017-05-28 15:26] Horsmann commented on #388
I am going to merge the deep learning changes soon into the master branch. I will tackle test-cases for the frameworks in an own issue.

We have now essentially 2 vectorization modi (i) vectorize to word and (ii) vectorize to integer.
You can tell TC to perform the integer mapping and save the step of mapping yourself to integer and back.
(i) is probably what makes more sense for dl4j since there

[2017-06-14 13:33] reckart commented on #388
I'm curious. Why does adding NN support require deleting a ton of unit tests?

[2017-06-14 13:57] Horsmann commented on #388
I am brute-force unit-testing how to get docker working when running in a jenkins environment on Ubuntu. This is quite nasty and I just don't want to wait 20 minutes every time I change something so I temporarily deleted all other test cases. I intend to revert that if this docker stuff ever works.

[2017-06-14 14:07] reckart commented on #388
You could just `@Ignore` them. I worry you are losing the commit history on the deleted tests.

[2017-06-14 18:39] Horsmann commented on #388
@reckart I re-added them already ;-). I think I found the issue with dockers. Getting this to run as JUnit  test in a Jenkins job is an extremely huge pain when the development system is OSX and the Jenkins runs on Linux.

Regarding the UKP Jenkins:

@reckart could you execute this script on your Jenkins `https://github.com/moby/moby/blob/master/contrib/check-config.sh` to see if the system has al

[2017-06-14 19:38] Horsmann commented on #388
I thought I found the problem but I didn't :/. It looks like I have some timing issues sometimes the test passes. This looks extreme unstable. In the worth case no unit tests for Keras and test he TC code via DL4J only

[2017-06-14 19:49] reckart commented on #388
Where do you think the timing issue comes from?

[2017-06-15 07:39] Horsmann commented on #388
@reckart Not sure. After I deleted the other test cases it originally seemed that `tear down` is executed premature or that the API which should block does not block. I removed/out-commented `tear down` and the test passes. Leaving of course active container behind on Jenkins which should not be but at least no crashes caused by the API.
Now, after re-adding the other test cases I start getting ex

[2017-06-16 16:53] reckart commented on #388
Can you put it to Dockerhub?

[2017-06-29 13:01] Horsmann opened #407 "Update Weka-dev to 3.9.1"
Update, currently in use is 3.7.11

[2017-06-29 13:11] Horsmann opened #408 "Update libsvm"
Minor update is available version 3.22 (from 3.21)

[2017-06-29 13:15] Horsmann opened #409 "Update Meka"
Minor update to 1.9.1 available (from 1.9.0)

[2017-06-29 13:20] Horsmann opened #410 "Update version of commons*"
- [x] commons-io --> to 2.5 (from 2.4)
- [x] commons-math --> to 3.6.1 (from 3.2)
- [x] commons-logging --> to 1.2 (from 1.1)
- [x] commons-cli --> to 1.4 (from 1.2)
- [x] commons-lang3 --> to 3.6 (from 3.5)

[2017-06-29 13:26] Horsmann opened #411 "Update JUnit"
Update to version 4.12 (from 4.11)

[2017-06-29 18:22] #411 closed, assigned to nobody

[2017-06-29 18:22] #410 closed, assigned to nobody

[2017-06-29 18:22] #409 closed, assigned to Horsmann

[2017-06-29 18:22] #407 closed, assigned to Horsmann

[2017-06-29 18:22] #408 closed, assigned to Horsmann

[2017-06-30 16:26] Horsmann opened #412 "Update Liblinear"
Update liblinear to 1.95 (from 1.94)

[2017-06-30 17:10] Horsmann opened #413 "Reduce Runtime of Test on Jenkins"
The tests have become extremely time consuming (~30min) for the example project without the example-groovy project.

Its time to clean up and tune the classifier settings to run only few iterations. If possible summarize test case to a single demo.

[2017-06-30 17:19] #412 closed, assigned to nobody

[2017-09-01 12:30] Horsmann opened #414 "Save Model: Should use current threads context class loader as parent"
Using no parent class loader might lead to problems when a stored model is called from an external app. Seemingly setting the parent context class loader with the one of the current thread helps to circumvent this issue.

[2017-09-01 13:32] #414 closed, assigned to Horsmann

[2017-09-15 15:42] Horsmann opened #415 "Libsvm & Liblinear pollute file system with tmp files"
The temporary files that are created are not deleted after prediction.
Furthermore, the final prepared training file should be located at the same location the `training-file.txt` lies.

[2017-09-17 15:33] #403 closed, assigned to nobody

[2017-09-17 15:36] #415 closed, assigned to Horsmann

[2017-09-17 16:21] reckart commented on #305
@Horsmann have you ever had the chance of testing whether the crfsuite binary actually works on Windows 64bit?

[2017-09-17 16:36] reckart commented on #305
Never mind. Found out that I had to install the **Microsoft Visual C++ 2010 SP1 Redistributable Package** (32bit version) for the crfsuite binary to work.

[2017-09-21 13:52] Horsmann opened #416 "Add a switch to turn off (expensive) sanity checking of matching target/outcomes annotations"
A switch would allow to speed up experimental execution if the checking for matching target/outcome annotation can be skipped.
By default the sanity check is ``turned on''

[2017-09-21 14:21] Horsmann opened #417 "InitTask should collect outcomes"
The InitTask should collect the outcomes - to avoid reading everything in again - followed by an aggregation task that merges the outcomes of train/test.

[2017-09-21 14:48] Horsmann commented on #413
@reckart @daxenberger the `Groovy` test cases in the `tc-integrationtest` project - how are they different from the one in `examples-groovy`.
This looks pretty redundant to me? the groovy examples do create dimensions and run cross validation experiments?
Can I delete this project? It seems just to use CPU time every time we build with actually testing anything (that would not yet be covered).

[2017-09-21 14:50] reckart commented on #413
Do the groovy examples actually have asserts? Does the integration tests have asserts? Are the groovy examples built and run during a full build?

[2017-09-21 14:52] Horsmann commented on #413
No, all Groovy are `does-it-crash-if-executed`-testing. I would keep the test cases in the groovy project but would want to drop the integration project.

[2017-09-21 17:40] #417 closed, assigned to Horsmann

[2017-10-05 22:05] Horsmann opened #418 "LibSvm/Liblinear: Id2OutcomeReport rounds to integer breaking regression evaluation"

[2017-10-05 22:06] #416 closed, assigned to Horsmann

[2017-10-19 06:27] #418 closed, assigned to Horsmann

[2017-10-31 19:49] Horsmann opened #419 "Document Classification: The id/title of DocumentMetaData should be used in the id2outcome report"
At the moment an integer is used in the id2outcome report which makes it difficult to map the result back to the actual document that has been classified.

[2017-11-13 14:40] Horsmann opened #420 "AdjectiveEnding feature does not write all features all the time"

[2017-11-14 07:23] #420 closed, assigned to Horsmann

[2017-11-14 07:23] #419 closed, assigned to Horsmann

[2017-12-08 07:48] Horsmann opened #421 "DKPro TC Release 1.0.0"
ToDo list (no release date yet)

DKPro family
- [x] Release DKPro Lab 0.14.0
- [x] Release evaluation module
- [x] Remove the UKP OSS SNAPSHOT repo from the DKPro TC POM
- [x] DKPro Core release 1.9.0 available? (#423)
- [x] Remove the DKPro Core 1.9.0 staging repo from the DKPro TC POM

General dependencies
- [x] Check versions of general dependencies for new latest versions
- [x] Align version o

[2017-12-19 11:02] Horsmann opened #422 "Update DL4j to 0.9.1"

[2017-12-21 08:00] #422 closed, assigned to Horsmann

[2017-12-23 12:02] reckart commented on #421
@Horsmann DKPro Core 1.9.0 is staged here: https://oss.sonatype.org/content/repositories/detudarmstadtukpdkpro-1041

Planning to release it to Maven Central soon.

[2017-12-23 12:09] Horsmann commented on #421
I created a branch core190 where i added this URL as repository and set the version of core-dependencies to 1.9.0. Building this branch crashes with this serialization issue.
I am still using 1.8.0 in TC. Its probably not an issue with the RC but a general change between 1.8. and 1.9 ?

[2017-12-23 12:11] reckart commented on #421
Possibly. What is the problematic class?

[2017-12-23 12:12] Horsmann commented on #421
java.lang.NoSuchFieldError: SERIALIZED
	at org.dkpro.tc.ml.TestFoldUtil.createNoSequenceCas(TestFoldUtil.java:324)
	at org.dkpro.tc.ml.TestFoldUtil.setUp(TestFoldUtil.java:236)

the call looks at the moment like this:
AnalysisEngine xmiWriter = AnalysisEngineFactory.createEngine(BinaryCasWriter.class,
               BinaryCasWriter.PARAM_TARGET_LOCATION, tmpFoldNoSeq.getRoot(),
               Bina

[2017-12-23 12:14] Horsmann commented on #421
I am also a bit confused by the Jenkins log-output:

https://basa.ltl.uni-due.de:33000/job/Core190/7/console

It tries to retrieve the LAB snapshot from the RC repository but for Core it tries to access zoidberg

[code]

I don't know what the problem is

[2017-12-23 12:21] reckart commented on #421
Maven tries to resolve an artifact from all repositories it has access to. You can configure your Jenkins to roll out a settings.xml file with the builds which contains additional repository declarations for your own local (snapshot) repositories to ensure that Jenkins finds the artifacts you have built and deployed to your own repos. If you do not do that, then Maven will still check in the local

[2017-12-23 13:01] Horsmann commented on #421
I uploaded my own settings.xml to Jenkins and set the file as global settings.xml in the Jenkins project that builds the branch with 1.9.0

In the activated profile it should find the needed dependencies i.e.
[code]
but the build log says:
[code]

[2017-12-23 15:18] reckart commented on #421
Are you sure the file is recognized and the profile is active? The Jenkins link you provided earlier doesn't work for me.

[2017-12-23 15:45] Horsmann opened #423 "Update to DKPro Core 1.9.0"

[2017-12-23 15:49] Horsmann commented on #421
I deleted the branch and removed the Jenkins project.

I am not sure. I saw no log messages which settings.xml is used. I copied my settings.xml into var/lib/jenkins/.m2/ but I couldn't tell if the file was actually loaded. I changed the project of the build-job to use the global one I copied over but it didn't work.

[2017-12-23 19:50] reckart commented on #421
On our Jenkins, I have a settings.xml file set up under **Manage Jenkins -> Managed files** and then in the builds under **Build -> Advanced -> Settings file -> provided settings.xml -> Provided settings**, I select this file to be used.

In the logs, I can see this file being used, e.g.

[code]

[2017-12-23 20:07] Horsmann commented on #423
@reckart Updating to 1.9.0-SNAPSHOT led to new error.

We write overall reports as excel and CSV file. When writing the CVS file I know get this error:
[code]

This did not happen in 1.8.0 ? I can't really tell why. The easy solution would be to just not create the CSV file anymore but I wonder what did actually change? Any ideas?

[2017-12-23 20:08] reckart commented on #423
Well, what is the content of the overlong cell?

[2017-12-23 20:11] Horsmann commented on #423
The parameter configurations and results

i.e.

`
{org.dkpro.tc.core.task.InitTask|featureMode=java.lang.Object@796ed904, org.dkpro.tc.ml.weka.task.WekaTestTask|labelTransformationMethod=java.lang.Object@796ed904, org.dkpro.tc.core.task.ExtractFeaturesTask|featureMode=java.lang.Object@796ed904, org.dkpro.tc.core.task.MetaInfoTask|featureSet=java.lang.Object@796ed904, org.dkpro.tc.core.task.MetaInf

[2017-12-23 20:14] reckart commented on #423
Does this file include a string version of the type system? The 1.9.0 type system is a bit larger than the 1.8.0 type system.

[2017-12-23 20:14] reckart commented on #423
Why are all the values like `java.lang.Object@xxxxx`? Is that really how it should be?

[2017-12-23 20:33] Horsmann commented on #423
I copied that from the debugger these values are resolved to string when it is actually written.
They do not contain the typesystem but all kinds of string values that are used in the dimension of lab

i.e.
org.dkpro.tc.core.task.deep.InitTaskDeep|dimEmbedding
.../Downloads/embeds/poly_a/en.polyglot.txt
and so on.

Which does not explain why this problem shows up now. I fixed this problem by simpl

[2017-12-23 20:49] reckart commented on #423
Hard to tell without knowing which value exactly is longer than 32k... another possibility could be that a change in Maven dependencies triggers the problem... no idea.

[2017-12-24 10:05] Horsmann commented on #423
It prints the collection reader with toString (9900) chars i.e.
[code]

If can catch this string with a simple `startsWith()` call but I would have to do this in the `FlexTable` class. This is extremely dirty but I don't see any other way to catch this string. `ReportUtils` seems to write the whole context to file.

[2017-12-24 10:08] reckart commented on #423
You could overwrite `org.dkpro.lab.reporting.FlexTable.getValueAsString(String, String)`.

[2017-12-24 10:12] reckart commented on #423
... I mean e.g. in an anonymous inner class where you create the table that is eventually passed to ReportUtils.

[2017-12-24 11:16] reckart opened #424 "Clean up dependencies"
Ensure that the modules in DKPro TC do not declare more than the required dependencies. Also ensure that test dependencies are marked with the scope `test`.

[2017-12-24 14:05] Horsmann commented on #423
How do I find out why the build failed if Jenkins does not show me anything except the message that somewhere an error occurred https://basa.ltl.uni-due.de:33000/job/DKPro%20TC/625/console
(does not occur in my local workspace)

[2017-12-24 14:06] Horsmann commented on #424
Which one do you mean? The mvn dependency calls show no `used but not declared` nor `unused declared` ?
Jenkins wouldn't build if this would be the case, wouldn't it?

[2017-12-24 14:06] reckart commented on #423
If there are javadoc errors, search for `: error:`:

[code]

[2017-12-24 14:16] reckart commented on #424
Yep. I'm locally checking if the scopes are also ok.

[2017-12-24 14:17] reckart commented on #424
It shouldn't be a blocker though. If you want to release before I am done with it then so be it.

[2017-12-24 14:47] Horsmann commented on #423
merci

[2017-12-26 11:17] Horsmann commented on #423
@reckart the -core module of tc doesn't build anymore but I see again no error message? https://basa.ltl.uni-due.de:33000/job/DKPro%20TC/639/console

Locally the build works :/

[2017-12-26 11:23] reckart commented on #423
Eclipse generates different class files than the compiler used by Maven. When you do a local command line build, do you "clean install" or only "install"? In the first case, you should get the same results as with Jenkins. In the latter case, you'll mosts likely use the class files generated by Eclipse.

If you update to the latest Maven dependency plugin or to the latest DKPro parent pom, you'll

[2017-12-26 11:33] reckart commented on #423
Btw. here is the error message from your log:

[code]

[2017-12-26 13:20] #424 closed, assigned to reckart

[2017-12-26 15:49] Horsmann commented on #423
Thx.
What is the issue with UKP Jenkins? All tests fail o.0

[2017-12-26 15:53] reckart commented on #423
My guess would be that Jenkins had some trouble downloading JARs and got them somehow corrupted... if this persists, I can try cleaning out the Maven cache.

[2017-12-28 10:14] Horsmann commented on #423
@reckart could do that it doesn't look like UKP Jenkins is recovering by its own

[2017-12-28 10:33] reckart commented on #423
We have had some trouble with servers here in general and are still recovering from that. Once they are back, I'll have a look at it. At present, I cannot even access Jenkins via the browser.

[2017-12-29 10:22] reckart commented on #423
Looks like the build is accidentally trying to use uimaFIT 3.0.0-SNAPSHOT, probably via a bad DKPRo Core 1.9.0-SNAPSHOT build. I'll look into it further.

[2017-12-29 11:49] reckart commented on #423
@Horsmann the DKPro TC build on the now fails due to a compiling problem in the DL4J code. I guess this is related to your latest commit?

[2017-12-29 12:31] Horsmann commented on #423
yep forget to update the examples. Our jenkins fails now entirely saying it doesn't find 1.9.0

https://basa.ltl.uni-due.de:33000/job/DKPro%20TC/664/console

[2017-12-29 12:38] reckart commented on #423
Did you configure your Jenkins with a settings.xml file that forces Maven to use a particular mirror? I have added repository a declaration for the DKPro Core 1.9.0 staging repo, so it should find the artifacts there.

[2017-12-29 12:46] Horsmann commented on #423
I removed the settings.xml again everything used to run without before. I saw the repo you added but its seems to be the same issue I had before. The repo is not used.

[2017-12-29 12:48] reckart commented on #423
Odd...

On our Jenkins, I temporarily removed the maven build arguments ("clean install blah blah") and just put a "dependency:purge-local-repository" and ran one build to clean up the locally cached dependencies. After that, I restored the usual build arguments. Might be worth a try?

[2017-12-29 12:52] Horsmann commented on #423
I just did that but did not help either

[2017-12-29 13:00] Horsmann commented on #423
I assume this could be a firewall issue. Seems they forgot to allow port :443
Lets see if UKP Jenkins build - we can then close this issue and just wait until core 1.9.0 is released

[2017-12-29 16:13] Horsmann commented on #423
@reckart seems to work. can you give me a pointer when core is released? I will remove the repository then from TC and then our Jenkins should build, too.

[2017-12-30 01:02] reckart commented on #423
@Horsmann I have promoted the DKPro Core 1.9.0 release to Maven Central.

[2017-12-30 13:00] #423 closed, assigned to Horsmann

[2018-01-11 12:47] Horsmann opened #425 "CV aggregation over runs accesses wrong files"

[2018-01-11 13:44] #425 closed, assigned to Horsmann

[2018-01-18 13:52] Horsmann opened #426 "Create report super class with convenience methods"

[2018-01-19 13:25] Horsmann opened #427 "ContextReports are not working"

[2018-01-19 14:00] #427 closed, assigned to Horsmann

[2018-01-19 14:01] #426 closed, assigned to Horsmann

[2018-01-25 22:21] zesch opened #428 "Integrate Smile ML library"
This looks promising, but seems to need some non-Java libraries to be installed manually.

[2018-01-25 23:35] reckart commented on #428
I believe DL4J ships the native BLAS libraries via Maven. Maybe the Smile ML guys could use these?

[2018-01-26 06:14] Horsmann commented on #428
https://github.com/haifengl/smile

[2018-01-26 06:39] reckart commented on #428
I wonder if the instructions on the repo are still up-to-date - there seems to be a ND4J module which uses the native mavenized libraries from DL4J/ND4J

https://github.com/haifengl/smile/blob/master/nd4j/build.sbt

[2018-01-26 10:45] Horsmann opened #429 "Replace evaluation module"

[2018-01-29 13:50] Horsmann commented on #399
confusion matrix is now created by default for single label setups

[2018-01-29 13:50] #399 closed, assigned to nobody

[2018-01-29 13:51] Horsmann commented on #231
Evaluation module has been replaced #429

[2018-01-29 13:51] #231 closed, assigned to nobody

[2018-01-30 15:53] #429 closed, assigned to Horsmann

[2018-02-01 07:21] Horsmann commented on #377
I close this one, if a module is added it should be #428, which entails everything mallet offers

[2018-02-01 07:21] #377 closed, assigned to nobody

[2018-02-01 07:28] #224 closed, assigned to nobody

[2018-02-01 16:43] cbiehl opened #430 "Deeplearning4j example TaskContextNotFoundException"
When running the example for Deeplearning4j (DeepLearning4jDocumentTrainTest.java) I get the following exception(s): (I cloned the repository and ran the example as-is on Windows 10 in Eclipse Oxygen)

Update: Just checked on another Windows PC and it throws the same exception, might be a Windows issue.

INFO: Executing task [org.dkpro.tc.core.task.deep.PreparationTask-DeepLearning]
Feb 01, 2018 5

[2018-02-01 18:45] Horsmann commented on #430
Hi, thank you for reporting.
I can't reproduce the error on my machine (OSX) and Jenkins (Linux) is working fine, too. I also tried running TC in Oxygen without problems. This makes this error hard to track.

@cbiehl Can you run none of the examples or do just the DL4j example crash? The background setup is different for deep learning, so, could you try one of the non-deep-learning examples and se

[2018-02-01 19:27] reckart commented on #430
Maybe a path problem, e.g. a space character or special character in the path to where DKPro Lab/TC stores the contexts?

[2018-02-01 19:28] reckart commented on #430
Could also be a slash/backslash issue.

[2018-02-01 20:13] cbiehl commented on #430
Hi @Horsmann, hi @reckart,

thanks for the quick response!
I get the same exception when running the keras document classification example, but e.g. the LibsvmTwentyNewsgroups.java example and the WekaTwitterSentimentDemo.java example run without issues.

I don't have spaces in the path to the cloned repo, but I'm pretty sure this is a Windows issue (since the examples worked on multiple Linux mac

[2018-02-02 08:21] Horsmann commented on #430
@cbiehl I think I found the problem. The demo uses a relative file path for the word embeddings, which points to "src/test..".
This relative path is resolved internally to the full file path on Windows, i.e. C:/.../src/... - TC tries to find the key, the relative path, but finds only the absolute one. This causes confusion in the execution of the different tasks/steps letting TC believe a task was

[2018-02-02 08:22] reckart commented on #430
@Horsmann We have a Windows Jenkins at UKP. If you want, I can set up a DKPro TC / Lab build job on it.

[2018-02-02 08:26] Horsmann commented on #430
@reckart Yes, please, this would be helpful :)

[2018-02-02 08:40] reckart commented on #430
Done.

[2018-02-02 08:51] Horsmann commented on #430
@reckart thanks!

@cbiehl Could you pull again and give it another try. I think I fixed the file-path issue. Its working in my Win 7 VM at least.

[2018-02-02 10:30] Horsmann opened #431 "LibSvm/LibLinear train data file should be named 'training-data.txt'"

[2018-02-02 10:46] Horsmann opened #432 "Move AdapterEntries shared by all ML adapters to 'Constants'"
Most files defined in the AdapterEntries are shared by all mla. Its more reasonable to move these file names to the Constants defining Java class and leave only the MLA exclusive files in the AdapterEntry.

[2018-02-02 12:28] Horsmann commented on #430
@reckart I have to update the window-binaries of SvmHmm. The windows binaries still had the .exe suffix and are consequently not found when the `RuntimeProvider` tries to load them without this suffix.

I updated the installation script of the binares in the last commit to rename the binaries for windows and drop the .exe suffix https://github.com/dkpro/dkpro-tc/commit/3f2a719bd66df1f71892d5ebab97

[2018-02-02 12:31] reckart commented on #430
The new JAR should have a new version such that Maven downloads it. Otherwise, if there is already a local copy of the JAR Maven will not fetch it.

[2018-02-02 13:33] #431 closed, assigned to Horsmann

[2018-02-02 13:34] Horsmann commented on #432
The class became obsolete and was removed.

[2018-02-02 13:34] #432 closed, assigned to Horsmann

[2018-02-02 14:43] Horsmann commented on #430
@reckart I uploaded a new version of the binary to the ukp-staging repository but I am doing something wrong; the binaries are not found. When installing them manually via the script it works. Did I deploy them wrongly?

https://zoidberg.ukp.informatik.tu-darmstadt.de/artifactory/public-ukp-staging-local/org/dkpro/tc/ml/svmhmm-bin/org.dkpro.tc.ml.svmhmm-bin/

I tried again with an increased artifa

[2018-02-02 15:03] Horsmann commented on #430
@reckart is there some secret rule which repositories are used during model building it looks on the command line like maven is not even trying to use the staging repository to retrieve the new binary. If I delete all other repositories with only staging left, it says eventually that the binary isn't found, which I don't understand either.
I uploaded two binaries to the staging repository of UKP b

[2018-02-02 15:56] cbiehl commented on #430
@Horsmann it works on my Windows machine too now, thanks for the quick fix!

[2018-02-02 15:57] reckart commented on #430
Well, Maven uses the repos defined in the pom(s) or in the settings.xml. If you have defined a catch-all mirror in the settings.xml, then the repos from the POMs are ignored.

Do you have a settings.xml with a catch-all mirror?

[code]

[2018-02-02 16:49] Horsmann opened #433 "Libsvm/Liblinear mapping outcomes to integer happens too late"
The outcome mapping to integer occurs too late, in the MLA task. This should be done during data writing directly on-the-fly.

[2018-02-02 17:25] #433 closed, assigned to Horsmann

[2018-02-02 17:45] Horsmann commented on #430
No, i use the default one on the dkpro website.

I declare the repository in the TC parent pom like this:
[code]
but the artifact is not downloaded.

When I run mvn install from command line with the -X switch I see that the repo seems to be recognized in general but nothings seems to be found there
[code]

[2018-02-02 17:48] Horsmann commented on #430
@cbiehl great :)

[2018-02-02 18:21] reckart commented on #430
Try "mvn -U clean install"?

[2018-02-02 19:49] Horsmann commented on #430
I did already. no effect. The file in the repository is for some reason not found :/

[2018-02-02 19:54] reckart commented on #430
Well... the last error message you have posted is about a dkpro-tc-core SNAPSHOT version - that certainly is not in the staging repo. Add back the SNAPSHOTs repo, then try again, otherwise you have one problem shadowing another one.

[2018-02-02 20:36] Horsmann opened #434 "Create Super-Module for LibSvm/Liblinear"
Both modules use the same data format and could use a shared super-module.
This would reduce code redundancy considerably. Except for the actual API calls to the backend-SVM, the TC Code is identical (in behavior not in actual line-of-codes).

@zesch any idea for a new module name for this middle-hierarchy module ?

[2018-02-02 20:55] zesch commented on #434
LibX :)
Tobias Horsmann <notifications@github.com> schrieb am Fr. 2. Feb. 2018 um
21:36:

[2018-02-02 20:59] reckart commented on #434
Isn't a shared module that is used by two other modules lower in the hierarchy?

[2018-02-02 21:45] Horsmann commented on #430
Well, I don't know what is wrong and I ran out of ideas, too. Could you add the binary ?

[2018-02-02 22:19] reckart commented on #430
The one with version "20080814.3"?

[2018-02-02 22:55] Horsmann commented on #430
The current version is .1. I forget to check the checkbox when deploying the `.2`, the binaries are the same in the `.3` its just this meta-data file or what it is that has not automatically been created for the `.2` file. Maybe it is the cleanest way if you just run the script in the SVMHMM project again to install a correct `.2` version?

[2018-02-02 23:01] Horsmann commented on #434
Hm, depends how you look at it. If you think of the TC project as a (computer science) tree then the leafs are the lowest level, i.e. most specific, with this LibX project being an intermediate branch between the root and the leaf for the LibSvm and Liblinear project?

It might be possible to let SvmHmm use the same top-level project and #428 might benefit from it, too. Some name that express `alm

[2018-02-03 09:04] Horsmann commented on #434
how about `dkpro-tc-ml-svm-io`, and -liblinear and -libsvm would get a dependency on this project?

[2018-02-03 09:24] reckart commented on #434
I suppose in DKPro Core, it would be called `dkpro-core-io-<formatname>` - no idea what a suitable format name would be in this case though... is it again a "tab separated format" (tsv)... or better to name it after the first/most prominent tool that uses it...?

[2018-02-03 21:00] #434 closed, assigned to Horsmann

[2018-02-04 23:07] reckart commented on #430
Ok, I've added it to my todo list.

[2018-02-05 18:52] Horsmann opened #435 "Machine Learning Adapter should be defined in a dimension"
The MLA to be used should be defined as dimension. This would allow running several classifiers, not just parametrization of the same classifier.

This is essentially already possible by using an outer-for-loop around the TC experiment but why so complicated?! :)

Furthermore, it would be preferable if a more elegant solution would be found than using these `.class.getName()` calls, not just for t

[2018-02-05 19:01] Horsmann opened #436 "Numeric stability of floating-point features"
All numeric feature values should be in the range of 0..1 or -1..1, especially for SVMs. The boolean nature of most features fulfills the former range but especially length/count features are not normalized at the moment, i.e. document length, sentence length, number of tokens, etc.
This might lead to numeric instability when few (length) features output large numbers while all other feature value

[2018-02-06 08:24] Horsmann commented on #435
@reckart Is it possible in Lab to initialize a new Lab-Task when the experiment is already running?

I try to create a facade-task which then executes in its `execute()` method the actual machine learning task. This requires that the actual machine learning task is instantiated pretty late during execution of the facade task. I want to provide all discriminators the facade task has to the instanti

[2018-02-06 08:43] reckart commented on #435
The configuration of tasks happens e.g. here in the BatchTaskEngine:

**org.dkpro.lab.engine.impl.BatchTaskEngine.executeConfiguration(BatchTask, TaskContext, Map<String, Object>, Set<String>)**
[code]

[2018-02-06 10:44] Horsmann commented on #435
Thanks. The discriminators are known, now. Next problem:

I start and execute the new task like this:
[code]

This works so far, my problem is later on when the reports are executed I want to iterate all executed tasks:
[code]
This getSubtasks list does not contain my newly created, executed task. How do I inject my new task so that this method is aware of this newly executed task?

[2018-02-06 12:39] Horsmann commented on #435
@reckart So my problem is more that the Discriminator.txt that is written by the EvaluationTask, which holds all subtasks, is not aware of my newly created task. I am looking for a way how to inject the name of the additional task I am running to be written to the disc with all other tasks names.

This happens imo at the moment at `BatchTaskEngine.run(Task t)` at this line: `cfg.setAttribute(SUBTA

[2018-02-06 13:20] reckart commented on #435
BatchTasks maintain a "scope" (which is essentially a list of executed task IDs):

[code]

... but the SUBTASKS_KEY is afaik not percolated upwards - it is maintained and written only per each BatchTask.

Why do you want to sneak it in?

[2018-02-06 13:34] Horsmann commented on #435
The reports needs to have access to the executed tasks, i.e. know their name. This is done by reading the Discriminators.txt. The new task I executed is not contained in this list that is written to the Discriminator.txt, which means the reports don't find it and eventually crash.

The whole effort comes from trying to make the machine learning adapter part of the dimension declaration: i.e.
` asL

[2018-02-06 13:36] reckart commented on #435
I think your facade task needs to implement BatchTask/extend DefaultBatchTask - because it has child tasks - even if it is only one child task. That should also save you from managing all the metadata manually.

[2018-02-06 13:37] reckart commented on #435
Your reports can recursively inspect the subtasks executed by nested batch tasks in order to get a full overview.

[2018-02-06 14:58] Horsmann commented on #435
Ah, thanks. This works :)

[2018-02-06 15:29] #388 closed, assigned to zesch, Horsmann, daxenberger

[2018-02-06 15:30] Horsmann commented on #421
I think we are getting close to a 1.0.0 release. The windows-bugfix is the last blocking item.

[2018-02-07 14:16] Horsmann opened #437 "Use single Adapter for Weka"
Currently, there is a classification adapter and a regression adapter, which are identical. This should be unified to a single Adapter to conform to the remaining classifiers.

[2018-02-07 20:11] #437 closed, assigned to Horsmann

[2018-02-08 16:08] Horsmann commented on #421
@zesch is it still necessary to keep this project: `dkpro-tc-features-spelling` ? Isn't this moving to the other LREC submission anyway? Can I delete it? This project has an extremely specific use-case. This belongs imo in edu-user-space.

[2018-02-08 16:29] zesch commented on #421
This package can be safely dropped from future releases.

2018-02-08 17:08 GMT+01:00 Tobias Horsmann <notifications@github.com>:

[2018-02-09 15:18] Horsmann opened #438 "SvmHmm should use the io-libsvm data format"

[2018-02-09 22:00] Horsmann commented on #435
@reckart I had to game DKPro Lab a bit to make it do what I want. This new task I created, it essentially forces a re-initialization every time it is executed and delete the list of sub-tasks at each re-init to push in a new machine learning tasks I get from the dimension.
https://github.com/dkpro/dkpro-tc/blob/master/dkpro-tc-core/src/main/java/org/dkpro/tc/core/task/DKProTcShallowTestTask.java

[2018-02-09 22:03] Horsmann commented on #253
I close this for now. No test case is available to verify if the error does still occur after countless changes to the backend.

[2018-02-09 22:03] #253 closed, assigned to nobody

[2018-02-09 22:04] #125 closed, assigned to nobody

[2018-02-09 22:07] reckart commented on #435
As far as I can see, `isInitialized()` is only called by `DefaultLifeCycleManager.destroy(...)` basically to check if `destroy()` has been called. I would expect your code works even without overriding it.

[2018-02-09 22:19] reckart commented on #435
I think this approach is ok. It is a "feature" of DKPro Lab that the task structure is not predefined but rather change dynamically while the experiment is executed. This does not allow to pre-calculate the execution graph but it allows doing the kind of trick you are pulling off here.

[2018-02-09 22:19] Horsmann opened #439 "Update Liblinear to 2.20"
Minor changes to
L2R_L2_SvcFunction.java
L2R_L2_SvrFunction.java
L2R_LrFunction.java

[2018-02-09 22:23] #439 closed, assigned to Horsmann

[2018-02-09 22:30] #438 closed, assigned to Horsmann

[2018-02-09 22:30] Horsmann commented on #435
splendid :D.

[2018-02-09 22:30] #435 closed, assigned to Horsmann

[2018-02-09 22:32] #398 closed, assigned to nobody

[2018-02-09 22:32] Horsmann commented on #251
Any updates on this one?

[2018-02-09 22:33] reckart commented on #251
Nope.

[2018-02-09 22:34] #413 closed, assigned to Horsmann

[2018-02-09 22:35] Horsmann commented on #251
Ok, then I close this for now. Once the demand for this kind of change becomes bigger a new issue can be opened.

[2018-02-09 22:35] reckart commented on #251
Why not leave it open and push it to the next release? If it get's closed, its easier to miss past discussions on the topic.

[2018-02-10 09:58] Horsmann opened #440 "Reengineer ExtractFeatureConnector"
This class has the tendency to become a god-class; break down to more classes and allow code reusability.

[2018-02-10 10:19] Horsmann opened #441 "FeatureExtractors should know the type of feature they return"
i.e. String, Boolean, Numeric, Enum

[2018-02-10 10:31] Horsmann opened #442 "Remove MissingValue Class"

[2018-02-10 10:40] Horsmann commented on #436
Problem is not so easy to solve. Document-relative feature extractors do this already for instance number of tokens per sentence relative to all sentence within the same document/cas; It would probably still be better to do the normalization globally over all document.

At the moment there is no way to know the maximum value of a feature and whether it is numeric or not (i.e. requires normalizatio

[2018-02-10 12:21] Horsmann opened #443 "Add Enumeration feature to Weka experiments"
I am not sure whether dealing with enumeration features does still work. There is no test case with enum features that would test this.

[2018-02-10 12:35] zesch commented on #436
Can you give an example?
Usually a MetaCollector should provide the necessary information to the FE.
Tobias Horsmann <notifications@github.com> schrieb am Sa. 10. Feb. 2018 um
11:40:

[2018-02-10 17:25] Horsmann opened #444 "Reader for typical machine learning data formats"
We should have readers that explicitly read the typical machine-learning data formats, i.e. a dedicated reader that reads `TEXT TAB LABEL` or `TEXT TAB DOUBLE`.

The readers should then automatically annotated `TextClassificationOutcome` and other data types that TC needs. I guess many people will actually start with such a `de-facto standard` flat-file format.
We should have readers that supports

[2018-02-10 17:28] #441 closed, assigned to Horsmann

[2018-02-10 17:28] #442 closed, assigned to Horsmann

[2018-02-10 18:44] Horsmann commented on #436
Ah, right. the meta collectors, I almost forget about them. This probably works, but has to be implemented / adapted for all features. This is some additional work, the unnormalized feature extractors should be consequently deleted from the TC backend feature repository. The FEs provided by TC should all be properly normalized.

[2018-02-10 18:51] Horsmann opened #445 "Rename Lucene Features in features-ngram project"
The Lucene-based features and the project name `features-ngram` are not ideal. With the normalization issue #436, ngram-stuff is only one of the things these features are good for. Furthermore, the naming of the features with the `Lucene*`-prefix is zero informativ to the user. The features should not expose implementation details in their names.

How about `dkpro-tc-features-frequency` as project

[2018-02-10 19:02] Horsmann commented on #436
Furthermore, it is tricky to decide if the majority of features that do some ratio-thingy relative to the current document should be kept or not, for instance `AdjectiveEndingFeatureExtractor`. The meta-collector solution seems cleaner to normalize over the maximum number over all documents rather than just over the instances in the current document.

[2018-02-10 19:32] zesch commented on #445
I agree with the Lucene* comment. This should be renamed.
I don't understand why "ngram" is a bad name. That's what the FEs are doing.

Why have the FreqCutOff in the name?

2018-02-10 19:51 GMT+01:00 Tobias Horsmann <notifications@github.com>:

[2018-02-10 19:38] zesch commented on #436
It might make sense to have a feature that encodes between 0.0 and 1.0 e.g.
the POS ratio in a document not the whole document collection.

The AdjectiveEndingFeatureExtractor is certainly not the best example, but
there are others which should be kept.

There also is the question of why not keep things that make sense
semantically. Behavior can be documented in the JavaDocs.

2018-02-10 20:02 GMT

[2018-02-10 20:35] #443 closed, assigned to Horsmann

[2018-02-10 21:03] Horsmann commented on #445
Okay. I think it is sufficient to just drop the `Lucene` part in the name. The normal token-ngrams could be renamed to 'WordNgrams'.

To help understand what they do, the freq-cut off in the name is a good pointer to how these feature work, which makes it easier to understand what they are doing.
Its probably better to tackle this in the documentation.

[2018-02-11 09:03] #445 closed, assigned to Horsmann

[2018-02-11 09:03] #440 closed, assigned to Horsmann

[2018-02-11 09:36] Horsmann opened #446 "Outsource Instance-extraction of TaskUtils into an own class"
The majority of the TaskUtils methods can be easily outsourced to an own class that deals with instance extraction.

[2018-02-11 10:50] reckart commented on #444
@Horsmann DKPro Core has all kinds of "CoNLL" readers/writers, but none that has word-tab-value. The main problem here is that we do not know which annotation/feature the value should go to. Of course it would be conceivable to implement a generic parametrizable reader, but nobody has done that so far. Might be a nice addition to Core though.

[2018-02-11 14:44] #446 closed, assigned to Horsmann

[2018-02-11 16:29] Horsmann commented on #444
@reckart What I have in mind and now also implemented is something like this: https://github.com/dkpro/dkpro-tc/tree/master/dkpro-tc-io/src/main/java/org/dkpro/tc/io

One could define two additional parameters for defining the annotation to which `Text` and `Label` should go to, but this is about the complexity the readers (for the TC use case) should have, imo.

[2018-02-11 20:03] Horsmann opened #447 "LuceneReader does not call close()"
The base class `LuceneFeatureExtractorBase` does not close the opened Lucene index.

[2018-02-11 21:11] #447 closed, assigned to Horsmann

[2018-02-11 21:13] Horsmann commented on #444
I added two readers now. Line-wise with label and folder-wise with the folder name as label

[2018-02-11 21:13] #444 closed, assigned to Horsmann

[2018-02-12 10:56] reckart commented on #444
Looks good for TC - wouldn't fit in this way with core though. But that's fine.

[2018-02-13 10:46] Horsmann opened #448 "Determining Subtasks Ids should use Sets not Lists"

[2018-02-13 15:20] #448 closed, assigned to Horsmann

[2018-02-13 15:44] Horsmann commented on #396
@daxenberger @zesch Is there a reason why the lucene index is used as count-storage but not for actually querying the most frequent words? If a ngram is added as document (not as field, which is how it is done at the moment) then a field for counting can be added. This would allow querying the documents where this field is top-K highest.

Why this unorthodox usage of Lucene?

[2018-02-13 17:19] daxenberger commented on #396
I honestly don't remember. Might be due to legacy reasons.

[2018-02-14 10:04] Horsmann commented on #430
@reckart did you had time for the new binary yet :/?

[2018-02-14 10:41] Horsmann commented on #396
Ok, I don't expect much performance gains in changing the query-behavior but I was wondering what lead to the current way of using the index. Might be related to the pair-mode.

[2018-02-14 10:41] #396 closed, assigned to nobody

[2018-02-14 15:10] reckart commented on #430
Ok, here you are: https://zoidberg.ukp.informatik.tu-darmstadt.de/artifactory/public-releases/org/dkpro/tc/org.dkpro.tc.ml.svmhmm-bin/20080814.2/

[2018-02-14 20:24] Horsmann commented on #430
Thank you.

[2018-02-15 07:19] Horsmann commented on #430
@reckart Hm, did not work out the way I expected. Windows is complaining that the new binaries are
[code]
If I rename the binaries to use the .exe suffix again they start working again (if executed manually, not in TC). Any idea what is causing the problem?

[2018-02-15 07:43] reckart commented on #430
Are you using the DKPro Core RuntimeProvider with a manifest file that tells the provider to mark the executable as such?

[2018-02-15 10:27] Horsmann commented on #430
I think I found it, a new problem surfaced. SvmHmm has a weird filename restriction of 255 characters. Any longer paths lead to an error, which seemed to cause the problem in this case.

[2018-02-15 12:15] Horsmann opened #449 "Refactor SaveModelUtils into separate classes"

[2018-02-15 13:42] #449 closed, assigned to Horsmann

[2018-02-15 15:28] Horsmann opened #450 "Remove GroovyTestCases"

[2018-02-15 15:32] #450 closed, assigned to Horsmann

[2018-02-15 18:33] #430 closed, assigned to Horsmann

[2018-02-15 18:33] Horsmann opened #451 "TestCases fail on Windows-Jenkins"

[2018-02-15 18:35] Horsmann commented on #451
@reckart Is there a way to see the build-folders of the Windows-JEnkins? I can't really track why it is not able to find the file it is looking for. On my Windows VM this works now but WinJenk keeps failing at this particular test case. This is hard to diagnose from here :/

[2018-02-15 18:45] #436 closed, assigned to Horsmann

[2018-02-15 19:58] reckart commented on #451
Hm... not so easy. What are you looking for?

[2018-02-16 07:59] Horsmann commented on #271
Report in question does not exist anymore. Might have become obsolete.

[2018-02-16 07:59] #271 closed, assigned to mwunderlich

[2018-02-16 09:32] Horsmann commented on #451
I think I might have found it. Thanks anyway :)

[2018-02-16 09:52] #281 closed, assigned to nobody

[2018-02-16 16:09] Horsmann commented on #451
@reckart Can you dig-out from Win-jenkins the full stack-trace of this test-failure? https://zoidberg.ukp.informatik.tu-darmstadt.de/jenkins/job/DKPro%20Text%20Classification%20Framework%20(GitHub)%20-%20Windows/121/org.dkpro.tc$dkpro-tc-examples-groovy/testReport/org.dkpro.tc.groovyexamples.single.sequence/BrownPosDemoTest/testGroovyCrossValidation/

I can't really see what is the problem with th

[2018-02-18 12:40] #121 closed, assigned to nobody

[2018-02-18 16:37] #169 closed, assigned to nobody

[2018-02-19 18:27] Horsmann commented on #451
@reckart Do you have any idea why a test case would fail if executed as Groovy script? I have no problems when executing via Java directly.

[2018-02-19 19:03] Horsmann opened #452 "Code redundancy in ModelSerialization_ImplBase and ModelSerializationTask"
Implement an interface with default methods to circumvent that inheritance doesn't work in this case.

[2018-02-19 20:38] #452 closed, assigned to Horsmann

[2018-02-19 20:42] reckart commented on #451
My guess would be that the problem may be related to line endings since it only occurs on Windows and from the error message seems to be related to seeking in a string (I might be wrong - did only look at the error message, not at the code).

It works on Java but not on Groovy...? No idea. Is some data written/read in slightly different ways between the Java and Groovy version?

[2018-02-22 14:49] Horsmann commented on #451
@reckart I made some progress with this one. It seems that some Windows do not necessarily come with the required `C Runtime Libary`. I set up a Windows 10 VM, since I could not produce this error with my Windows 7 VM. I managed to reproduce a similarly looking error. (I still have no answer why the Java-Tests pass and only the one Groovy test fails but this a least a possibility that is inexpensi

[2018-02-22 15:07] reckart commented on #451
I am pretty sure that these are already installed on the Jenkins slave - I even documented that in the DKPro Core user setup section for Windows: https://dkpro.github.io/dkpro-core/releases/1.9.0/docs/user-guide.html#_windows

[2018-02-22 22:12] reckart commented on #451
So what I can see in the logs of Jenkins for the failing test is this:

[code]

The problem here is most likely that `E:\svc_jenkins\workspace\DKPro Text Classification Framework (GitHub) - Windows\dkpro-tc-examples-groovy\target\repository\ReutersDemoTest\testGroovyTrainTest\org.dkpro.lab\repository\ExtractFeaturesTask-Train-BrownPosDemo-TrainTest-Groovy-20180221195415128\output\featureFile.txt`

[2018-02-23 12:11] Horsmann commented on #397
@reckart Is there a trick to make the website render similar/identical to the github page view.

The same page looks quite different depending from where it is viewed:
https://dkpro.github.io/dkpro-tc/DKProTcDeepLearning_1_0_0/
https://github.com/dkpro/dkpro-tc/blob/gh-pages/pages/DKProTcDeepLearning_1_0_0.md

In particular, the code block part is ugly when viewing via `github.io`.

[2018-02-23 12:57] reckart commented on #397
I'm not deeply familiar with the code-rendering functionalities of Jekyll and how they interact with the CSS from our template.

For documentation, I prefer using Asciidoc: https://dkpro.github.io/dkpro-core/releases/1.9.0/docs/component-reference.html

You can also check out the markdown for the DKPro Core "recipes" such as https://dkpro.github.io/dkpro-core/groovy/recipes/convert-penn-combined-t

[2018-02-23 13:07] Horsmann opened #453 "WordShapeClassifer is GNU license"
We seem to have a license issue in the `features` project.

This class: https://github.com/dkpro/dkpro-tc/blob/master/dkpro-tc-features/src/main/java/org/dkpro/tc/features/window/WordShapeClassifier.java
is copied from Stanford: https://github.com/stanfordnlp/CoreNLP/blob/master/src/edu/stanford/nlp/process/WordShapeClassifier.java, which is GNU

@reckart This probably cannot be resolved without m

[2018-02-23 13:12] reckart commented on #453
The WordShape code from CoreNLP/StanfordNLP cannot be used in our code without making the affected code GPL. It would have to be moved to a separate GPLed module.

Or you'd have to re-implement the code, optimally using a "clean room" approach in which you do actually not look at the original GPLed code.

Or you could ask Manning et al. whether they would consider placing the code under a non-GPL

[2018-02-23 13:15] Horsmann commented on #453
I expected that much :(. I think this class has been added before the last release, which means this is already contained in the 0.9.0 release. I would delete the classes for now. They can be fished-out the Git if they are needed by someone.

[2018-02-23 14:15] #453 closed, assigned to Horsmann

[2018-02-23 15:03] Horsmann commented on #451
Thanks!.

I added a work-around that tests for windows+long paths and then copies everything into the directory of the binary. This is a bit slower because data is copied but this works at least also on Windows.

[2018-02-23 15:03] #451 closed, assigned to Horsmann

[2018-02-23 15:04] reckart commented on #451
if you can move instead of copy, it could be faster

[2018-02-23 15:11] Horsmann commented on #451
True, I thought about it but if something goes wrong it might add to the confusions why the training/testing data are not where they are supposed to be. I rather go whith copying for this case. Furthermore, I would expect that this is more an issue for Jenkins environments. I don't expect that deep file-hierarchies for normal use cases.

[2018-02-25 11:22] Horsmann commented on #397
@reckart what exactly would I have to do to create Asciidocs for TC?

[2018-02-25 11:22] reckart commented on #397
TC already has aciidoc documentation: https://github.com/dkpro/dkpro-tc/tree/master/dkpro-tc-doc/src/main/asciidoc

[2018-03-03 09:31] reckart opened #454 "Include majority class and random baselines in reports"
Would it be possible to always include the majority baseline and random baseline in experiment reports? It may not be obvious to the user that even high fscores are essentially worthless until she looks at the actual prediction files and discovers that the classifier essentially just predicts the majority class.

[2018-03-03 09:45] reckart opened #455 "Add parameter to TcAnnotator to remove target annotations after classification"
When using TcAnnotator in production, it may not be necessary to retain the TextClassificationTarget annotations. It would be nice if there was a parameter to automatically remove them, e.g. `PARAM_RETAIN_TARGETS` with a default value of `true` for backwards compatibility.

[2018-03-03 09:50] reckart opened #456 "Allow passing an outcome converter to TcAnnotator"
Currently, to use TcAnnotator in a production environment, one has to wrap it in another UIMA component which delegates to the TcAnnotator in its `process` method and after running it picks up the `TextClassificationOutcome` annotations, creates the **actually** desired outcome annotations and then removes the outcomes.

In order to avoid the need for creating a wrapper UIMA component all the time

[2018-03-03 09:51] reckart opened #457 "TcAnnotator parameters have no JavaDoc"
The parameters like `PARAM_NAME_UNIT_ANNOTATION` or `PARAM_NAME_SEQUENCE_ANNOTATION` have no JavaDoc. It is unclear if they both need to be set, if only one needs to be set, under which circumstances, etc.

[2018-03-07 21:30] Horsmann commented on #454
I think this should be doable. I will have a look next week. I like the idea.

- [x]  CrfSuite
- [x]  Weka
- [x]  Lib*
- [x]  DeepLearning-DyNet
- [x]  DeepLearning-Keras
- [x]  DeepLearning-Dl4J
- [x]  Excel-Output `BatchTrainTestReport`
- [x]  Excel-Output `BatchCrossValidationReport`

[2018-03-08 10:14] Horsmann commented on #454
What would be a reasonable `majority` value for regression, i.e. mean value of all encountered regression values? Or would one rather have no majority value in case of regression? @zesch

[2018-03-08 10:19] #457 closed, assigned to nobody

[2018-03-08 10:19] #455 closed, assigned to nobody

[2018-03-08 13:49] zesch commented on #454
doesn't make sense for regression in my view

2018-03-08 11:14 GMT+01:00 Tobias Horsmann <notifications@github.com>:

[2018-03-09 10:32] Horsmann opened #458 "DocumentMetaLogger writes to many new-lines"

[2018-03-09 17:53] #458 closed, assigned to Horsmann

[2018-03-09 18:07] Horsmann opened #459 "Add Test-cases that check the created id2outcome file"
We need test cases for all classifiers that check the format of the created id2outcome file. At least the `document` mode should have such a test.

- [x] Weka
- [x] Libsvm
- [x] Liblinear
- [x] SvmHmm
- [x] Crfsuite
- [x] DyNet
- [x] Keras
- [x] DL4j

[2018-03-10 11:41] Horsmann commented on #454
@reckart should be available now

[2018-03-11 10:10] #459 closed, assigned to Horsmann

[2018-03-11 12:48] Horsmann commented on #456
@reckart One could also pass the name of the annotation directly with the field-name? I am not sure how the API looks for this but this would probably most straight forward? It was possible to reference the field of an annotation by a string-name, right?

[2018-03-11 14:03] reckart commented on #456
I think the conversion process of outcome to actual annotation may be more complicated than the case that simply creating an instance of AnnotationFS and setting a field on it:

* **the annotation you want to add the outcome too might already exist from a previous annotation step** - e.g. if you have a TcAnnotator which does performs entity linking on NamedEntity annotations that have been created

[2018-03-12 09:10] Horsmann commented on #456
Ok. I uploaded a change. There is a test case in the example project in the package `org.dkpro.tc.tcAnnotator` that demonstrates / test using such a conversion annotator.

[2018-03-12 09:26] Horsmann opened #460 "Add XGBoost as MLA"
http://xgboost.readthedocs.io/en/latest/

- [x] Windows 64bit (no 32bit support on Windows)
- [x] Linux 64bit
- [x] Linux 32bit
- [x] Mac 64bit
- [x] dynamic library issue problematic?
- [x] upload binaries to UKP Artifactory
- [x] remove basa reference from Xgboos-module's pom.xml

[2018-03-12 16:24] Horsmann commented on #460
@reckart XGBoost has no maven release. There is a third-party fork, which doesn't seem to work. I don't think there will be a working release in the future.

Building and using the binary directly does work. Furthermore, the binary has something like a version by the release on GitHub (0.7). So, I am thinking of integrating this tool as self-build binary.

This introduces of course the problem of

[2018-03-13 14:39] Horsmann commented on #460
@reckart

I have on Linux the following dependencies when building no statically
[code]

What I have read so far is that you probably do not want to statically link all these dependencies. As a matter of fact when compiling with the `-static` linking flag the compiled binary does crash.

I copied the compiled binary over to other Linux machines we have running and it is working. It is of course da

[2018-03-15 18:11] reckart commented on #460
Some basic POSIX libraries like the ones you mention above should not be linked statically - but then they seldom change their APIs, so that should be fine. I have a peek at the XGBoost site and saw that there is some script to create a JAR file with binaries for multiple OSes which could be uploaded to a Maven repo (e.g. JCenter) - didn't check if you made any use of this in your integration. Wha

[2018-03-15 18:20] Horsmann opened #461 "DyNet module is missing Apache license check"
the pom.xml has no header

[2018-03-15 18:29] #461 closed, assigned to Horsmann

[2018-03-15 18:59] Horsmann commented on #460
I compiled the binaries for the respective OS platforms manually. I didn't see this JAR version you mentioned. Unless this jar (do you have a link?) works as-is. I would continue with the binary-compiling.

At the moment I have as open issues here:
- how to compile for Win 32bit (64bit worked fine). I saw a tutorial which I intend to try in the next days
- dynamic lib dependencies of Linux 32/64 b

[2018-03-15 19:04] reckart commented on #460
See https://github.com/dmlc/xgboost/issues/1807#issuecomment-342637198

[2018-03-15 19:08] Horsmann commented on #460
Thx. This script downloads the dynamic libaries for the 3 platforms into the jar but the binaries are not included.

I think I will continue with the binary compiling. @reckart Do you want to have a look regarding the static compilation on Linux? I had no luck with creating a working version.

<img width="447" alt="bildschirmfoto 2018-03-15 um 20 08 28" src="https://user-images.githubusercontent.c

[2018-03-15 19:10] reckart commented on #460
My understanding is that XGBoost has Java bindings (XGBoost4J) which make use of these shared libraries directly without having to go through other CLI binaries.

[2018-03-15 19:15] Horsmann commented on #460
There are some packages on maven central but from other developers `https://search.maven.org/#search%7Cga%7C1%7Cxgboost4j`. This is one of these `won't release to maven` tools.

I think its more work to get the java version to maven. It would be unfortunate if I don't get the windows 32 bit version working but I don't think that there are this many 32 bit windows systems left anyway. I still favor

[2018-03-15 19:53] reckart commented on #460
I assume that you currently build binaries that you then call from Java like command line tools. This creates a new process every time and you have to parse the output of the tool from stdout or from a file. Calling the code directly via its native interface avoids the overhead of creating a new process and also the need to parse data as you can work directly with native objects.

[2018-03-15 20:26] Horsmann commented on #460
Yes, I start a new process and wait for its termination. This is some overhead, true. I think I am not still in favor of the binary way since I have done the work to the largest extent now. Furthermore, this 3rd party wrapper which probably did something similar as this jar with libs (http://docs.h2o.ai/h2o/latest-stable/h2o-docs/data-science/xgboost.html) says at the bottom of the pages that it i

[2018-03-16 12:25] Horsmann commented on #460
@reckart The UKP linux Jenkins is missing `GLIBC` apparently
Is this something you could install on the UKP Jenkins ?

`/lib/x86_64-linux-gnu/libm.so.6: version `GLIBC_2.23' not found (required by /tmp/dkpro2774502877448388853runtime/xgboost?

[2018-03-16 12:39] reckart commented on #460
The build server is still running Debian 8 (Jessie) which only has an older version of libc6 (2.19).

[2018-03-16 12:46] Horsmann commented on #460
Would you update this lib? On our Jenkins the linux test case is passing.

[2018-03-16 12:46] reckart commented on #460
It would require updating the entire VM. Cannot promise when that will be done.

[2018-03-16 14:08] Horsmann commented on #460
I see. What is the best way to deal with the library issue? As-is there won't be any stable builds in the near time. Removing the test cases has a taste to it, too.

Windows `32 bit` doesn't seem to be supported at least I cannot compile a working version. What I have seen so far, all tutorials use 64bit mode. The inception of the project is from 2016, so I am not surprised that this is not suppor

[2018-03-16 14:11] reckart commented on #460
Well, I see three options:

- compile the linux binary on an older debian version with an older libc6 - this should also have the effect that it should compatible with a wider range of systems
- ignore the test case
- either introduce some kind of parameter/property to enable the test or try looking up the library on the file system at runtime to decide if the test should run or not

[2018-03-16 14:13] #454 closed, assigned to nobody

[2018-03-16 14:13] Horsmann commented on #456
@reckart Is the current implementation what you had in mind?

[2018-03-16 14:20] Horsmann opened #462 "Line-breaks should use System.lineSeparator()"
Line-breaks are often hard-coded as '\n'. It would be more clean to use `System.lineSeparator()` which sets them correctly for Windows i.e. `\r\n`

[2018-03-16 14:20] reckart commented on #462
I usually do not do this. It makes the code annoyingly unreadable and hardly contributes anything.

[2018-03-16 14:21] reckart commented on #462
In fact, if I notice any code in my projects which does this, I usually change it to use simply `\n`.

[2018-03-16 14:22] zesch commented on #462
It also might break compatibility when moving a file generated by TC between *nix and Windows machines.

[2018-03-16 14:22] Horsmann commented on #462
^^ ok, I am convinced.

[2018-03-16 14:22] #462 closed, assigned to Horsmann

[2018-03-16 15:59] Horsmann commented on #460
The windows binary might have the same problem. I think I installed the `2015 c++ redistributional` to have a certain `.dll` available. The Jenkins windows has the `2010` package installed according to the documentation - I assume you can't update this either?

[2018-03-16 17:57] reckart commented on #460
I think on Window it is less of an issue as it should just be sufficient to install the package (no OS upgrade necessary). Do you have a link handy?

[2018-03-16 18:52] Horsmann commented on #460
Here:
https://www.microsoft.com/de-de/download/details.aspx?id=48145

[2018-03-17 16:26] Horsmann opened #463 "Code Style Reformatting"
The code-style diverged a bit in the different submodules. Re-format the code with the latest code-style.

[2018-03-17 17:25] #463 closed, assigned to Horsmann

[2018-03-19 21:16] reckart commented on #460
@Horsmann ok, I have installed the VC2015 redistributable package on the Windows build server.

[2018-03-20 08:39] Horsmann commented on #460
Build passed :)

[2018-03-20 09:57] Horsmann commented on #460
@reckart I uploaded a wrong artifact to the UKP repository. There is one binary `org.dkpro.tc.ml.xgboost-bin-20171230.2` that has as group id `org.dkpro.tc.ml`. Sorry - could you delete this please?

[2018-03-23 13:46] Horsmann opened #464 "Name of experiment is not set in MLA if executed by the facade-task"

[2018-03-23 15:04] #464 closed, assigned to Horsmann

[2018-03-23 18:15] reckart commented on #460
Deleted.

[2018-03-24 09:39] Horsmann commented on #460
thx

[2018-03-24 09:39] #460 closed, assigned to nobody

[2018-03-24 09:39] #456 closed, assigned to nobody

[2018-03-24 19:52] Horsmann opened #465 "Re-using of tasks is not working: All tasks are always executed"
The `classificationArguments` dimension is imported into the InitTask (easy to fix) and the ExtractFeatureTask. This is necessary to get the `adapter` from which we get the `DataWriter`.

The parameter also includes the the parameter, which are needed for the `mla`(at a later point in the pipeline). This lets Lab think that the feature extraction has to be run for any parameter variation (imported

[2018-03-28 09:16] Horsmann opened #466 "SaveModel: Executes MLA adapter two times"
When using `ExperimentSaveModel`, the machine learning classifier is executed two times. The saved model itself remains valid as it is just overwritten.

[2018-03-28 09:18] Horsmann opened #467 "SaveModel: Serialization of features does not support inner classes"
When storing classes during model serialization, the `$1` class file with `inner classes` is  not considered if its there. Features using inner classes thus break.

[2018-03-28 13:09] Horsmann commented on #467
@reckart Is there a way to ask a class object for the number of its anonymous classes? At the moment I would try to brute force and simply test if a java class with a `$[0-9]+` exists or not in the range of 1 to 100 or so. I get the inner classes by calling `getDeclaredClasses()` but I haven't figured out how to find the number of anonymous classes?

[2018-03-28 13:10] reckart commented on #467
You could use a Spring PathMatchingResourcePatternResolver to do a search based on the classname + a wildcard.

[2018-03-28 13:12] reckart commented on #467
Well... isn't the number just the position of the class in the array returned by getDeclaredClasses()?

[2018-03-28 13:14] Horsmann commented on #467
getDeclaredClasses() returns the `inner` classes that are explicitly defined. Anonymous (inner) classes a la
[code]
are not covered. I will give PathMatchingResourcePatternResolver a try, thx.

[2018-03-29 06:14] #467 closed, assigned to Horsmann

[2018-03-29 20:11] Horsmann opened #468 "Add builder-class to allow easier configuration of experiments"
A builder-class that wraps the wiring of the `parameter space` into a less complex-looking class would ease using DKPro TC for beginners, i.e. hide all the Dimensions with their HashMaps in a builder.

[2018-03-30 07:10] #465 closed, assigned to Horsmann

[2018-04-05 20:18] Horsmann commented on #466
Not reproducible anymore. Phantom bug.

[2018-04-06 07:47] Horsmann opened #470 "CrfSuite: Separate MLA code from DKPro Lab"
The Lab backend code and MLA code are not separated that prevents using CrfSuite without Lab/UIMA. A clear separation with a few basic interfaces such as `train` and `predict` (free of Lab-code) are missing.

[2018-04-06 09:35] #470 closed, assigned to Horsmann

[2018-04-06 09:37] Horsmann opened #471 "Liblinear: Separate MLA code from DKPro Lab"
The Lab backend code and MLA code are not separated that prevents using Lib* without Lab/UIMA. A clear separation with a few basic interfaces such as train and predict (free of Lab-code) are missing.

[2018-04-06 09:55] Horsmann opened #472 "CV: Write results per fold into a separate file"

[2018-04-06 12:18] #472 closed, assigned to Horsmann

[2018-04-06 13:52] Horsmann opened #473 "Xgboost: Separate MLA code from DKPro Lab"
Separate Xgboost-code from DKPro Lab.

[2018-04-06 14:49] #471 closed, assigned to Horsmann

[2018-04-07 17:38] Horsmann opened #474 "Libsvm: Separate MLA code from DKPro Lab"

[2018-04-07 17:38] #473 closed, assigned to Horsmann

[2018-04-07 17:50] Horsmann opened #475 "CV should write a confusion matrix over all folds"

[2018-04-07 17:54] #475 closed, assigned to Horsmann

[2018-04-07 19:14] Horsmann opened #476 "SvmHmm: Separate MLA code from DKPro Lab"

[2018-04-07 19:52] #474 closed, assigned to Horsmann

[2018-04-07 19:52] #476 closed, assigned to Horsmann

[2018-04-08 10:44] Horsmann opened #477 "Weka: Separate MLA code from DKPro Lab"

[2018-04-08 10:46] Horsmann opened #478 "MLA Trainer classes should be an interface"
The interface is factually already the same this should be also usable via a unified interface.

[2018-04-08 17:52] #478 closed, assigned to Horsmann

[2018-04-08 17:52] #477 closed, assigned to Horsmann

[2018-04-09 18:58] Horsmann opened #479 "The DataWriter's filtering of unknown features is extremely slow"
The feature filtering is extremely slow as it iterates all features of all instances which prolongs the experiment execution time to an extreme extend if many features are used.

[2018-04-09 19:07] #479 closed, assigned to Horsmann

[2018-04-11 13:05] Zepp10x opened #480 "NoClassDefFoundError (org.apache.lucene.codecs.CompoundFormat)"
When running `WekaSaveAndApplyModelSinglelabelDemo.java` in version 0.9.0, I get a `NoClassDefFoundError` for `org.apache.lucene.codecs.CompoundFormat` which apparently has to do with the `LuceneNGram` feature class. Is there a workaround for this issue?

[2018-04-11 14:05] Horsmann commented on #480
Hi, can you tell me a bit more about your setup? You are using the examples project fitting to version `0.9.0`? Do the other examples work?

I just checked out the examples at commit hash-id `b07323e` and the example is working.

I experienced in the past that Eclipse might have some hick-ups with NoClassDefFoundErrors. This problem can often be solved by running a `mvn clean install` on the examp

[2018-04-12 07:58] Horsmann opened #481 "Interface of adapters should return data writer as string"
The writer is only needed as string representation anyway.

[2018-04-12 09:22] #481 closed, assigned to Horsmann

[2018-04-12 13:37] Zepp10x commented on #480
Hi, thank you for your quick reply. I am working on the same commit `b07323e`. Actually I am now getting a different error. When trying to run the class with Maven's `exec:java` I get the following exception while applying the model:

    java.lang.NoClassDefFoundError: org/dkpro/tc/api/features/FeatureExtractor
        at java.lang.ClassLoader.defineClass1 (Native Method)
        at java.lang.Cla

[2018-04-12 14:24] Horsmann commented on #480
Hm, I guess you managed to pick the one example that is not working. I get the same error for this example when executing via `mvn exec`.

If you try another example, for instance `mvn exec:java -Dexec.mainClass="org.dkpro.tc.examples.single.document.WekaTwitterSentimentDemo"` it should work.

If you wanted to execute model saving / loading demo, the demo seems to work if executed via the JUnit te

[2018-04-13 10:49] Zepp10x commented on #480
There seems to be a general problem with saving and then loading models from disk in `0.9.x`. The error originates from `SaveModelUtils.java:552` where it is attempted to load the feature classes relevant to the saved model by looking up the feature class names in `featureExtractorConfiguration.txt`. Though the class loader can find the concrete feature classes because they are actually saved in `

[2018-04-13 12:28] Horsmann commented on #480
It its assumed that the DKPro TC projects/dependencies are on the classpath. The feature interface is not supposed to be model. The features that are serialized are the one which are not part of DKPro TC.

I tried running the example in Eclipse and the error does not show up there. This could be some classpath issue then.
I am not exactly sure which classpath one would have to set to make this exa

[2018-04-15 17:15] #466 closed, assigned to Horsmann

[2018-04-16 12:45] Horsmann commented on #468
@zesch there is now a builder class to hide the dimensions a bit. Any thoughts on this `ExperimentBuilder` ? see for instance `dkpro-tc/dkpro-tc-examples/src/main/java/org/dkpro/tc/examples/MinimalWorkingExample.java`

At least the code looks a bit more clean without the many dimensions :)

[2018-04-16 15:23] zesch commented on #468
It looks like we only went half the way.
It doesn't really serve the user group who wants control over the dimensions and it also doesn't really serve the beginners who just want to set the relevant stuff.

The minimal example (in my view) should only force the user to set input data, features and classifier (anything else?) and not expose any lab related stuff.

[2018-04-16 17:42] Horsmann commented on #468
There is no way of knowing if an experiment is classification or regression. This has to come from the outside. Once you know that you can add some `default configured` classifier that works for a classification setup, too. You can provide several facades that set these two values but then the user must be able to pick the right facade which also requires an understanding of feature mode and learn

[2018-04-16 17:55] zesch commented on #468
I think that the current facade exposes way to much unnecessary detail.

Regarding classification or regression, this is something the user should know and decide. Also whether you want train/test or CV.
I was thinking more of something very easy like:
`TCExp exp = new TCExp(CollReadDesc data, ExpMode expM, MlMode mlMode,  MachineLearningLibrary mllib, FeatureSet features)`
`TCExpResult result = e

[2018-04-17 12:18] Zepp10x commented on #480
I switched to the `1.0.0-SNAPSHOT` version where the error does not occurr.

[2018-04-17 12:18] #480 closed, assigned to nobody

[2018-04-17 12:39] Zepp10x opened #482 "Settings metrics for evaluation"
When running a `ExperimentCrossValidation`, the final results file only seems to contain the accuracy for each classifier and fold. Is it currently (version `1.0.0-SNAPSHOT`) possible to add additional metrics (recall, precision etc.) to a `BatchCrossValidationReport`?

[2018-04-18 07:04] Zepp10x commented on #482
Are additional metrics currently not supported? In version `0.9.0` the evaluation results file contained additional metrics besides accuracy.

[2018-04-18 07:44] Horsmann commented on #482
Hi,

For classification, you should find in the WekaTestTask folder also a file with FScore, Recall and Precision. I am not sure If such a file also exist in the Evaluation folder but in the WekaTestTask it should be there.

Which other metrics are you missing ?

[2018-04-18 14:06] Zepp10x commented on #482
Thank you for your hint! Precision & Recall for each fold in a cross validation experiment can be found in the `scorePerCategory.txt` files in the `WekaTestTask*` directories in `DKPRO_HOME`.

[2018-04-18 14:06] #482 closed, assigned to nobody

[2018-04-18 16:29] reckart commented on #468
@zesch I didn't look at the actual builder code, but a builder should be much better and self-explanatory than a constructor with many arguments.

[code]

I do not know what a FeatureSet is, but it could possibly be folded in like
[code]

[2018-04-18 19:23] zesch commented on #468
@reckart I like the clear structure of your proposal.

In this style, it is difficult to distinguish mandatory from optional settings.
What is best practice? To have meaningful error messages and let the users figure it out?

[2018-04-18 19:57] Horsmann commented on #468
It probably makes sense to go both ways. @reckart's version would be something offered in `dkpro-tc-ml` and is directed at the intermediated/advanced user.

Features are grouped in feature sets to allow experimenting with feature variations. You can add N feature sets with mostly the same features and see which one works best.

The second version would probably move to an own project `dkpro-tc-sim

[2018-04-18 20:12] reckart commented on #468
Meaningful error messages and sensible defaults. Or one can put the mandatory fields into the builder constructors. Here are a few examples of different styles: https://stackoverflow.com/questions/7302891/the-builder-pattern-and-a-large-number-of-mandatory-parameters

[2018-04-18 20:20] reckart commented on #468
@Horsmann I'd try not having different builders for different levels of users. Just different examples using the same builder targeted at different experience levels. E.g. `features` from the first example could become a varargs method which would create one feature set and add all the features to it. in addition you could have `featureSets` which would be a vararg for FeatureSets. Actually, I did

[2018-04-18 20:21] reckart commented on #468
[code]

[code]

[2018-04-19 09:58] Horsmann commented on #468
I added a `setter` style builder, which looks like this:

This configures a train-test experiment with two MLBackends using two features ( a single feature set).

[code]

@reckart Is this what you had in mind?

@zesch
The minimized `default configuration` is tricky. What is a useful default depends on the learning mode. Regression or classification (I would ignore pair entirely here). It would sti

[2018-04-19 12:37] Horsmann commented on #468
@zesch The simplified version would look like this now:

´´´

        TcTrainTestExperiment tte = new TcTrainTestExperiment(readerTrain, readerTest,
                LearningMode.SINGLE_LABEL, FeatureMode.DOCUMENT, new WekaAdapter(), tcFeatureSet,
                AnalysisEngineFactory.createEngineDescription(BreakIteratorSegmenter.class));
        tte.run();

        TcCrossValidationExperiment cve

[2018-04-19 13:07] reckart commented on #468
You are calling `setReader` twice - that looks strange. Maybe `addDataset`? But then you use a var-arg for the ML backends, so `setDatasets(reader1, reader2, ...)`?

For builders, I prefer a style without "set" - it is a builder, not a bean.

[2018-04-19 13:28] Horsmann commented on #468
I changed the names.

The CV call looks like this now (using null for the not needed parameter).

[code]

This looks still a bit cleaner than varargs since its only 1 or 2 readers anyway, the varargs would probably add to the confusion?

[2018-04-19 13:34] reckart commented on #468
IMHO the builder should end with `build()` and the result should be a configuration/task that is then passed to Lab.run(). Would that work?

`getDefault` looks a bit magic. Also the `null` argument in the `dataReaders()` makes one question what is going on here.

How about a setter for the folds numbers and a default of 10 if it is not called?

[2018-04-19 15:39] Horsmann commented on #468
Ok. how is this. dataReaderTrain() and dataReaderTest separated now, i.e. CV does not need the testreader call.

Newbie code:
[code]

[code]

Anyone else:
[code]

[2018-04-20 10:10] Horsmann opened #483 "Feature filtering merges train and test data in test step"
A re-initilaization or clean up step is missing to ensure that a file does not exist anymore.

[2018-04-20 11:31] #483 closed, assigned to Horsmann

[2018-04-22 16:38] #397 closed, assigned to nobody

[2018-05-01 09:07] Horsmann opened #484 "PronounRatio Feature misses 'it'"

[2018-05-02 13:06] #484 closed, assigned to Horsmann

[2018-05-02 13:35] #468 closed, assigned to Horsmann

[2018-05-02 13:59] Horsmann commented on #421
@reckart

We have a TC `1.0.0` RC candidate available at
[code]
Please test :)

[2018-05-02 15:06] Horsmann commented on #421
Found a bug. I drop RC.

[2018-05-02 19:50] Horsmann commented on #421
New RC
[code]
@reckart Is it realistic for you to take a look on the RC? I would want to release it before LREC...

[2018-05-03 07:43] reckart commented on #421
Unfortunately, before LREC it is quite unrealistic for me to have a look at it.

[2018-05-03 07:47] Horsmann commented on #421
Ok. I will release TC then and rather prepare a new release if serious problems show up.

[2018-05-03 09:16] #421 closed, assigned to Horsmann

[2018-05-07 03:04] Horsmann opened #485 "Results.xls - experiment results of multiple classifier experiments are not distinguishable"
The cannot be separated by the information in the .xls if more than one classifier is used.
This problem is limited to cross-validation experiments. Can be probably solved by reading the DISCRIMINATOR.txt of the ML-tasks and printing them into the Excel file.

[2018-05-07 04:46] zesch commented on #485
They used to be because the parameterization was written as one of the
discriminators. Isn’t that the case anymore?
Tobias Horsmann <notifications@github.com> schrieb am Mo. 7. Mai 2018 um
05:04:

[2018-05-09 01:13] Horsmann commented on #485
Not anymore. I re-added this but its hard to tell when/where this was lost. I re-introduced this information.

[2018-05-09 01:13] #485 closed, assigned to Horsmann

[2018-05-09 01:54] Horsmann opened #486 "DocumentMetaData should be written to a file"
The document meta data with id and title should be dumped to a file in the `feature extraction` and `vectorization` to provide a human readable file in which order the document have been processed. Furthermore, having this file available may be useful for some use cases where you need the `DocumentMetaData` information in a report.

[2018-05-11 01:51] #486 closed, assigned to Horsmann

[2018-05-11 01:55] Horsmann opened #487 "Id2OutcomeMerger crashes if the equal-sign is the token"
The split should scan the string from the right instead of splitting blindly the full string at this sign.

[2018-05-11 02:01] Horsmann opened #488 "DKPro TC Release 1.0.1"
Bugfix-release with following changes:

- [x] Merge #485
- [x] Merge #486
- [x] Merge #487
- [x] Merge #489
- [x] Merge #490
- [x] Merge #491

[2018-05-11 02:16] #487 closed, assigned to Horsmann

[2018-05-22 10:59] Horsmann opened #489 "FScore and precision are swapped in the category report"
The order of the values is wrong in the created `per-category` report

[2018-05-22 11:23] #489 closed, assigned to Horsmann

[2018-05-24 08:22] Horsmann opened #490 "Update to DKPro Core 1.9.2"

[2018-05-24 08:24] #490 closed, assigned to Horsmann

[2018-05-26 16:37] Horsmann opened #491 "Id2Outcome report might miss values in unit-mode"
The id2outcome report uses a `property` object to write the results per unit to file. In unit-mode, there a situations in which the name of the unit is not unique, which might lead to situations in which entries are swallowed by duplicated keys.

[2018-05-26 18:10] #491 closed, assigned to Horsmann

[2018-05-27 18:35] #488 closed, assigned to Horsmann

[2018-06-27 07:36] Horsmann opened #492 "Category results are created only for one run if multiple setups are used"
In classification, the result report with the metrics per label, i.e. fscore, precision, recall, are only created once for the last setup that is executed iff its an multi-configuration setup.
Furthermore, it is not possible to recognize to which execution the report is referring to.

[2018-06-27 14:12] #492 closed, assigned to Horsmann

[2018-09-03 14:04] Horsmann opened #493 "SvmHmm is not under Apache License"
The license of SvmHmm is not Apache compatible but currently a 'Apache' project in TC.

[code]

[2018-09-03 14:07] reckart commented on #493
That shouldn't be an issue in this case because we do not really link to the code - we only call it. TreeTagger is also not license in an ASL-compatible way, but still the DKPro Core TreeTagger module is ASL. It only contains wrapper code which calls the external binary. The binary is not directly included in the module either.

[2018-09-03 14:09] reckart commented on #493
If we package pre-compiled binaries of svmhmm and distribute them, a permission from Thorsten Joachims would be required. Do we have that? If it is there, it should probably be in some README file in the module or in the binaries artifact (or both).

[2018-09-03 14:12] Horsmann commented on #493
We call the pre-compiled binaries via our wrapper code. The binaries are provided in Maven artifacts. I guess this would require an explicit permission then?

But this line is counter-intuitive for ASL, isn't ? `free of charge for non-commercial research and
education purposes. However you must obtain a license from the author
to use it for commercial purposes.`

[2018-09-03 14:18] reckart commented on #493
As far as I can see, the SVMHMM license is not reciprocal (like GPL), thus it does not enforce a particular license on the calling code. Even if it were GPL, because we call it as an external process, the reciprocal terms shouldn't not trigger. So the DKPro TC code is not affected by the license.

According to the license terms, for the redistribution of the pre-compiled binaries via Maven artifac

[2018-09-03 14:20] Horsmann commented on #493
Ah, good :D - I think I will leave this issue open as 'won't fix' as a reminder. This is not as clearly visible as it should be.
Thx

[2018-09-10 18:52] Horsmann opened #494 "DKPro TC Release 1.0.2"
Minor release with following changes:

Complete and merge issues to 1.0.x branch
- [x] #492
- [x] #495
- [x] #496
- [x] #497
- [x] #499
- [x] #500
- [x] #502
- [x] #503
- [x] #504

[2018-09-10 18:52] reckart commented on #494
How about upgrading to DKPro Core 1.10.0? ;)

[2018-09-10 18:53] Horsmann opened #495 "Update dependency to use DKPro Core Release 1.10.0"
Update to newest DKPro Core release

[2018-09-10 18:55] #495 closed, assigned to Horsmann

[2018-09-10 19:01] Horsmann opened #496 "Result reporting is confusing"
The result reporting is a bit confusion at the moment. Too many files. It is unclear which file does what. Also the redundancy, i.e. CSV, Excel and the compact version is confusing

[2018-09-10 19:01] Horsmann commented on #494
#495 ;-)

[2018-09-10 19:25] Horsmann commented on #493
Using SvmHmm for commerical purposes is at the moment not possible. This probably requires permission on a case-to-case basis by the author of SvmHmm.

[2018-09-10 19:25] #308 closed, assigned to nobody

[2018-09-13 08:49] #496 closed, assigned to Horsmann

[2018-09-20 11:58] Horsmann opened #497 "CharacterNgram feature: Lower case input text rather than each ngram"
The feature does lower casing on each extracted ngram rather than just providing the lower-cased text as input.
Minor issue will not make much difference in practice.

[2018-09-20 12:58] Horsmann opened #498 "Refactor Ngram Collection in MetaCollection"
--obsolete

[2018-09-21 07:08] #498 closed, assigned to Horsmann

[2018-09-21 07:08] #497 closed, assigned to Horsmann

[2018-09-21 08:01] Horsmann opened #499 "Speed up feature name collection by using a mock CAS"
Collecting the feature names should not run with the actual CAS, which can be pretty big. Creating a slim mock CAS will be a lot faster.

[2018-09-21 09:30] Horsmann opened #500 "FeatureName escaping should be cached"
The escaping of feature names is currently done anew for every feature name, which wastes CPU time. Feature names should be cached and not run every time to the escaping process.

[2018-09-21 09:51] #499 closed, assigned to Horsmann

[2018-09-21 10:11] #500 closed, assigned to Horsmann

[2018-09-21 12:19] Horsmann opened #501 "Introduce managed FeatureSet for speeding up processing"
The sparse feature mode could be speed up a bit by making the feature set a bit smarter and distinguishing internally the features that are actually set with a non-default value.
This would shorten processing time a bit for larger datasets.
This modifies the `FeatureExtractor` signature and uses no longer a `Set<Feature>`

[2018-09-21 20:02] Horsmann commented on #501
Changes can be bulk reverted by
`git revert ba3de18e85d35c`
Needs testing if this is really faster in larger settings. Changing the feature extractor interface is a serious beauty flaw of this change and its unsure if the processing gets really faster in practice.

[2018-09-22 21:06] Horsmann opened #502 "CrfSuite report crashes when the label is a colon character"
The substitution for the reserved colon character is missing in the Crf report. Must have been lost during refactoring. This bug is contained in the `1.0.0` and `1.0.1` release.

[2018-09-22 21:17] #502 closed, assigned to Horsmann

[2018-09-23 07:54] Horsmann commented on #501
Speed evaluation showed that this change is not worth it to change the feature signature. ~Closed.

[2018-09-23 07:54] #501 closed, assigned to Horsmann

[2018-09-23 08:58] Horsmann opened #503 "DataWriter interface should use List instead of Collection"
Almost all data writer classes perform as first step a conversion of the collection into a list to having index access to the elements. It would more reasonable to directly pass a List to avoid the unnecessary conversion.

[2018-09-23 09:46] #503 closed, assigned to Horsmann

[2018-09-23 10:06] Horsmann opened #504 "Refactor Ngram Features for quicker processing"
The Character Ngram feature does not use the special characters to mark word boundaries when collecting the top-K ngrams. Consequently, frequently wound boundary ngrams are not marked as such and will never be returned for a given word.

[2018-09-23 15:35] #504 closed, assigned to Horsmann

[2018-09-23 15:45] #494 closed, assigned to Horsmann

[2018-09-24 11:55] Horsmann opened #506 "Separate TcAnnotator into three classes"
The `TcAnnotator` should be renamed and split into three classes. The class provides the functionality to use a pre-trained model. The name of the class reflects this only poorly. Furthermore, some more parametrization should be possible. Some of the parameters should be made optional. The separation will also de-confuse the usage a bit as some parameters are applicable only to one of the three pr

[2018-09-24 19:44] #506 closed, assigned to Horsmann

[2018-09-24 19:45] Horsmann opened #507 "General minor backend performance improvements"
Issue for minor improvements for faster processing in the backend.

[2018-10-01 09:13] Horsmann opened #508 "ScorePerCategory report is missing file ending"
The file ending is missing for the score per category report in the MLA adapter's output folder.

[2018-10-01 11:50] #508 closed, assigned to Horsmann

[2018-10-02 08:28] Horsmann opened #509 "Remove log messages of LibSvm wrapper"
The wrapper has own log messages, which are distracting. They should be removed.

[2018-10-02 08:37] #509 closed, assigned to Horsmann

[2018-10-02 09:29] Horsmann opened #510 "ExperimentBuilder's variables and methods should be protected"
The `ExperimentBuilder` class should use protected rather than private methods variables. This class is probably something one mights want to overwrite or customize. There is no strict necessity for `private` everywhere.

[2018-10-02 09:47] #510 closed, assigned to Horsmann

[2018-10-02 09:52] Horsmann opened #511 "Integrate asher-stern/CRF"
Should be inspected first if suited for an integration

https://github.com/asher-stern/CRF

[code]

`MIT` license

[2018-10-02 09:55] Horsmann commented on #428
I have been playing around with the CRF implementation; Either I am missing something or the implementation scales zero. Plain POS tagging example is extremely RAM greedy and slow.

[2018-10-02 10:34] Horsmann opened #512 "Check logging in TC"
Many log messages are printed at `info` level, which probably should be `debug`.

[2018-10-02 12:40] Horsmann opened #513 "Enable retrieving a mapping dict from id2outcome file"
affects `Tc2LtlabEvalConverter`.

[2018-10-02 12:50] #513 closed, assigned to Horsmann

[2018-10-02 14:16] Horsmann opened #514 "Aggregation of Id2Outcome files might loose data points"
The aggregation of multiple id2outcome files might lose instances if for instance the document text is used as id-key and the text starts with a '#' character, which internally used to mark comment lines.

[2018-10-02 14:46] #514 closed, assigned to Horsmann

[2018-10-04 09:05] Horsmann opened #515 "Leave one out cross validation not working"
Leave one out cross validation is not working any more. `-1` for the number of folds should be a valid value again.

[2018-10-04 15:24] #515 closed, assigned to Horsmann

[2018-10-07 17:12] Horsmann opened #516 "Add a learning curve experiment"
Introduce a new experiment type which runs a learning curve experiment.

The experiment should support large and small sized experiments, i.e. averaging all combinations on a lc-stage might become extremely expensive for large Ns, so a small-sized version that skips some steps is necessary. The smaller version lead to a less steady curve but runs a lot faster for larger datasets.

[2018-10-07 20:02] reckart commented on #516
@Horsmann I'm curious: at what granularity does the report work? CAS-by-CAS or is the control more fine-grained, e.g. sentence-by-sentence?

[2018-10-07 20:39] Horsmann commented on #516
@reckart This is based on the CAS bucket system that is also used for the regular `cross validation`. It should be possible to use the cas-multiplier to force this down to sentence-by-sentence but this is not yet supported. Alternatively, if your reader creates for each sentence an own CAS this should be useable as-is, once fully implemented.

[2018-10-08 11:02] Horsmann commented on #516
@reckart Lab creates in the folded dimension buckets with the training data in it. Is it somehow possible to provide this information (which bucket-ids the current training sets is based on) in the tasks? I am currently have the problem that I loose track which run is based on which set of training buckets. This makes it impossible to track which learning curve runs belong together. This informati

[2018-10-08 12:19] reckart commented on #516
The `FoldDimensionBundle` seems to write the information into the parameter space, so you should be able to pick it up from there:

**org.dkpro.lab.task.impl.FoldDimensionBundle.current()**
[code]

Actually, if the task subscribes to the value as a `Discriminator`, then it should also be written to the corresponding file in the run folder.

[2018-10-08 13:20] Horsmann commented on #516
The bucketing is resolved at the point in the code you pasted. I have all .bin files later on but I do not know to how many buckets the files correspond. I think I will have to introduce a new information piece at this point in code and import a new dimension in the `MLA` adapters.
i.e.
[code]

This requires an (unused) import in each MLA TestTask, just to make this bucketing information available

[2018-10-08 13:43] reckart commented on #516
Hm. Why do you need an import? I'd say an `@Attribute` (i.e. not even a `@Discriminator`) should be enough, no?  After all, this is metadata and not a file that you would need to import.

Also, `trainingData` and `buckets[...]` both return lists with the details about what goes into what. Is that not sufficient? If you need a temporal ordering of the buckets, I suppose you could e.g. sort the runs

[2018-10-08 13:47] reckart commented on #516
@Horsmann another option would be to allow `@Attribute` annotations in reports and have the `TaskBase` check for attributes in reports in its `analyze()` method.

[2018-10-08 13:52] Horsmann commented on #516
@reckart This sounds a lot cleaner that hacking this information into each MLA task. Where/How do I make this option available?

[2018-10-08 13:55] reckart commented on #516
@Horsmann probably you just loop over the reports and call

[code]

on them in `TaskBase.analyze()` (sorry, I said `@Attribute` before, but it seems to be `@Property`).

[2018-10-08 14:19] Horsmann commented on #516
Hm, the information is in the `Discriminator.txt` so I added the Discriminators; but the type-cast magic fails for some reasons.

in taskbase I have
[code]

in my report its now:
[code]

[code]

I am not sure what is causing the problem.

[2018-10-08 14:35] Horsmann commented on #516
@reckart

I am not sure why retrieving the value of the discriminator fails
[code]
the name is resolved to the `ExperimentLearningCurve`, which is the class that wires the tasks together. The problem could be that this information does not yet exist (at init-time), its is created afterwards and not yet available when the analyze code is executed?

[2018-10-08 17:13] reckart commented on #516
What is the value of these fields when they are written to the DISCRIMINATORS.txt/ATTRIBUTES.txt?

[2018-10-08 17:15] reckart commented on #516
And what type is `bucketCount`? I don't see that currently in the `FoldDimensionBundle`. Is it simply `buckets.length`?

[2018-10-08 18:07] Horsmann commented on #516
I am using a new implementation of the `FoldDimensionBundle`, which is just based on the fold-dimension and does something similar. https://github.com/dkpro/dkpro-tc/blob/5c8245b9f253fde1c8dd67d975141046d58f4ee2/dkpro-tc-ml/src/main/java/org/dkpro/tc/ml/LearningCurveDimensionBundle.java line 187-190 hacks-in the bucket information. This class is at the moment in TC but probably should move into La

[2018-10-09 11:24] reckart commented on #516
Ok, good you found a working solution :)

[2018-10-09 11:26] Horsmann commented on #516
No I haven’t ^^. Using the annotation in a report leads to an early crash of the entire experiment execution ~

Is there a way to fix the crashing report problem ?

[2018-10-09 11:35] reckart commented on #516
What I can say is that I'm pretty sure that we shouldn't use `@Descriminator` but `@Property` instead - reason being that reports should not influence the dependencies between tasks.

Then, I don't understand why the Lab would story a value of type `ExperimentLearningCurve` as the value of a parameter called `DIM_NUM_TRAINING_FOLDS`. It seems from the stack trace to me it is rather a problem happe

[2018-10-10 07:20] Horsmann commented on #516
Hm, I am not sure how to inject the information into the report. Avoiding the exception during `anaylze()` is rather easy although then no property is added which is probably fine since the report defines no new values and is supposed to only import existing once.

How/Where do I get access to the outer-reports in a way that I can inject the properties. I am probably looking at the wrong place. th

[2018-10-10 11:46] reckart commented on #516
You mean the report in question is attached to the top-level batch task?

[2018-10-10 11:55] Horsmann commented on #516
Yes, I import the property in a report that is attached to the outer/top-level batch task. The task that is the `CrossValidationExperiment` task in a normal `CV` setup. Does this change the way how to access this information?

[2018-10-10 12:01] reckart commented on #516
A top-level task cannot have any attributes or discriminators. If you have a top-level BatchTask X with a parameter space P, then X iterators over P and configures all its subtasks accordingly. But The top-level task itself is parameterless.

[2018-10-10 12:22] Horsmann commented on #516
hm, so the original way of making sure that MLA imports the discriminator I need is the only way for this to work? Then I can simply load this information from the MLA Discrimnator directly.
Hm, ugly :(. Alternatively, I could add the dimension into FeatureExtraction task but then I have to back-track which FeatureExtraction Task belongs to the MLA I am currenlty processing. All information is sto

[2018-10-10 13:33] reckart commented on #516
Well, at least you cannot expect injections happening at the level of a batch task which itself does not live in a parameter space. There is simply nothing to inject here. If you add a task under that batch task and attach your report there, that would be another thing. I think I still didn't entirely understand what you want to do. What is a MLA?

If you want to do an aggregating report, it needs

[2018-10-10 13:45] Horsmann commented on #516
Ok, I try to explain:

A full-scale learning curve that splits the data into 10 blocks/folds could look like this:

1st Level - 1 Train Block 1 Test Block
[code]
(The curve would then average over all of above runs for an average one-train-fold performance)

2nd Level - 2 Train Blocks 1 Test Block
[code]
(The curve would then average over all of above runs for an average two-train-fold performance

[2018-10-10 14:32] reckart commented on #516
**Problem 1:** *the "bucket index" and "max bucket index" are not accessible*

I think your solution to have the dimension add these to the parameter space is good. We should integrate this into the default fold dimension.

**Problem 2:** *even if the "bucket index" and "max bucket index" are in the parameter space, they do not end up in the `ATTRIBUTES.txt` or `DISCRIMINATORS.txt` on disk*

This

[2018-10-11 06:24] Horsmann commented on #516
Hi Richard,
this sounds like it could work. The information contains the bucket info I need and the implementation of the dimension is already `ConfigurationAware` .
However, I am not sure how I get at this point a file pointer to store the new file at a reasonable location. `getContext()` is not available within the dimension. I someone have to place this file in the tasks, how do I do that?

Thi

[2018-10-11 08:26] reckart commented on #516
The dimension isn't responsible for storing stuff. It's only responsible for generating parameters. The configuration would need to be saved in the relevant subtasks of your batch task such that the aggregating report on the batch task can pick it up from there.

[2018-10-11 13:53] Horsmann commented on #516
Thanks. This seems to work :). Is this customized new dimension https://github.com/dkpro/dkpro-tc/blob/5c8245b9f253fde1c8dd67d975141046d58f4ee2/dkpro-tc-ml/src/main/java/org/dkpro/tc/ml/LearningCurveDimensionBundle.java
be moved to Lab? Right now its in TC. I am not sure if this is something general enough for Lab?

[2018-10-11 14:10] reckart commented on #516
@Horsmann I think the addition of the bucket ID and the bucket count should be added to the `FoldDimensionBundle` so that you don't need your custom bundle. IMHO it's a pretty generic and useful addition.

[2018-10-11 14:38] Horsmann commented on #516
@reckart I can add this change to the `FoldDimensionBundle` but the actual LearningCurveDimension does a bit more extra stuff, which I need. Its not just to add the bucket count info but also to do the learning curve splits.

[2018-10-11 14:51] reckart commented on #516
Ok - counting the splits is probably rather specific to the learning curve thing. I thought the number of splits was equal to the number of buckets.

[2018-10-20 09:58] Horsmann opened #517 "Harmonize Weka's id2outcome report"
Weka's id2outcome report always uses the document id in the id2outcome report. It should prefer the document title over the id if one is set. This should be harmonized as all other MLAs use this selective behavior already.

[2018-10-20 13:15] #517 closed, assigned to Horsmann

[2018-10-20 13:16] Horsmann opened #518 "Remove dead parameters from Ngram features"

[2018-10-21 14:36] #518 closed, assigned to Horsmann

[2018-10-22 11:52] Horsmann opened #519 "Weka should support sparse feature mode"
Weka still runs on dense features. It should also start to properly support sparse features.

[2018-10-23 06:03] #519 closed, assigned to Horsmann

[2018-10-23 07:03] Horsmann opened #520 "Integrate VowpalWabbit"
powerful logistic regression

https://github.com/VowpalWabbit/vowpal_wabbit

Comes as binary as it seems

Tutorial:
https://github.com/VowpalWabbit/vowpal_wabbit/wiki/Tutorial
http://www.philippeadjiman.com/blog/2018/04/03/deep-dive-into-logistic-regression-part-3/

Again, the question is how and if the TC-logic can be reasonably used with this binary.

https://github.com/VowpalWabbit/vowpal_wabbi

[2018-10-23 09:26] Horsmann commented on #520
@reckart I played around with the c++/c binary of `vowpalWabbit`. I don't see an immediate way how to get this compiled statically.

The setups is a bit untypical what I need of the files are two binaries
[code]
So far I understood, the toplevel `vw` operates the libtools binary that loads the libaries in the subfolder and is the intended command line interface to the binary. `vw` for itself conta

[2018-10-23 09:31] reckart commented on #520
The RuntimeProvider is designed to support deploying multiple files - worth a try :)

[2018-10-23 14:44] Horsmann commented on #520
@reckart How would I retrieve a working file in this case? calling `runtimeProvider.getFile("vw")` did not have the desired effect.

I have all files packed in the .jar but apparently the runtime provider is not able to unpack them. Any suggestions?

[2018-10-23 15:31] reckart commented on #520
@Horsmann The runtime provide requires you to provide a manifest file which contains a list of the files to deploy. Cf. the manifest file added to the hunpos binaries JAR that is created by the build.xml in the hunpos module:

[code]

[2018-10-23 18:18] Horsmann commented on #520
hm,

my ant script looks like this. Its a bit messy I suppose but the content actually reaches the .jar file. When instantiating the RuntimeProvider, the folder that is created, is empty.

[code]
I essentially need a hidden folder `.libs` with the library files in it.
The "vw" top level is actually a bash script in case this matters.

[2018-10-23 18:52] reckart commented on #520
Set a break-point in `de.tudarmstadt.ukp.dkpro.core.api.resources.RuntimeProvider.install()` and step it through.

[2018-10-31 09:27] Horsmann commented on #520
@reckart UKP's Jenkins is failing with a `missing license` error https://zoidberg.ukp.informatik.tu-darmstadt.de/jenkins/job/DKPro%20Text%20Classification%20Framework%20(GitHub)/984/console

 On our Jenkins the rat check is passing without any errors, i.e. all licenses in place.
I cannot see the folder structure of the project on the UKP Jenkins and I cannot reproduce the problem locally, could yo

[2018-10-31 09:31] Horsmann commented on #520
btw. The Windows build does not fail with this rat check issue (it fails later, elsewhere thats ok imo). Anyway, I look into the rat.txt of the Linux build would be good.

[2018-10-31 10:42] reckart commented on #520
You can configure rat to list the names of the problematic files in the console:

http://creadur.apache.org/rat/apache-rat-plugin/check-mojo.html#consoleOutput

[2018-10-31 10:48] reckart commented on #520
I have added a "cleanup" step to the build which removes all unversioned files before the build. That should take care of coredump files which are usually the problem if rat works locally but not on Jenkins.

[2018-10-31 10:54] Horsmann opened #521 "Upgrade DKPro parent pom"
Current version is 14, latest is 19

[2018-10-31 10:56] Horsmann commented on #520
Thx.

In which repository can I upload the `vowpalwabbit` .jar with the binaries? The `public-snapshots` does  not seem to exist anymore or it is not visible to me anymore?

[2018-10-31 11:03] reckart commented on #520
I believe you should be able to publish snapshots to `https://oss.sonatype.org/content/repositories/snapshots/` using your Sonatype OSS account. But we (@Rentier and me) are also looking in giving you access to zoidberg.

[2018-10-31 12:16] Horsmann opened #522 "Update software versions"
Software versions needs to be checked and updated accordingly.

[2018-10-31 12:33] Horsmann commented on #522
Since 3.23 Libsvm needs Java > 1.8

This component is not updated.

[2018-10-31 12:50] #521 closed, assigned to Horsmann

[2018-10-31 13:44] #522 closed, assigned to Horsmann

[2018-10-31 15:01] Horsmann commented on #520
@reckart The DKPro TC pom.xml contains our artifactory but it seems to be ignored when trying to retrieve the vowpalwabbit .jar. Any ideas why? I find no traces in the log that our artifactory was asked for the jar. UKP Jenkins checks the UKP reps and central where the .jar is not available.

[2018-10-31 15:36] reckart commented on #520
zoidberg should take any repos declared in the POM into account. I just checked: it uses a special settings.xml file, but there is no catch-all-proxy defined in it.

[2018-11-05 10:38] Horsmann commented on #520
@reckart Could you upload the .jar into the UKP rep? The installation script is provided at the usual location.

[2018-11-07 13:53] Horsmann opened #523 "MLA Task should have a dedicated file for the classifier name"
create a file that dumps the classifier name

[2018-11-07 15:32] #520 closed, assigned to Horsmann

[2018-11-07 15:33] #516 closed, assigned to Horsmann

[2018-11-07 15:47] #512 closed, assigned to Horsmann

[2018-11-07 15:47] #523 closed, assigned to Horsmann

[2018-11-26 11:48] huangpanzhang opened #524 "CV id2outcome labels differs to the one in train test"
As I see, if you do a single label classification using the _VowpalWabbit_ classifier, the output label in _Train_Test_ report is "1" and "2". However, the in the output report of _Cross_Validation_, the label is "0" and "1" (same as other classifiers).

[2018-11-27 16:50] reckart opened #525 "Mock CAS is somewhat broken"
The mock CAS created in ExtractFeaturesConnector creates two document annotations (because it sets the document language before creating the DMD) and also doesn't set the text on all views.

[2018-11-27 17:38] #525 closed, assigned to reckart

[2018-11-27 17:40] Horsmann commented on #524
The combined id2outcome report should respect now the integer mapping from the individual runs. In the case of vowpal wabbit, it should start counting at 1 instead of zero as for the most other machine learning classifiers.