[2015-06-06 19:36] daxenberger opened #6 "Enable classification of unlabeled data based on a trained model"
Originally reported on Google Code with ID 6
[code]

Reported by `daxenberger.j` on 2013-05-15 09:26:45

[2015-06-06 19:38] daxenberger opened #14 "Certain special characters cause problems when used as feature names."
Originally reported on Google Code with ID 14
[code]

Reported by `torsten.zesch` on 2013-05-20 16:04:18

[2015-06-06 19:40] daxenberger opened #23 "TC restructuring: get rid of the tc.features dependency in core"
Originally reported on Google Code with ID 23
[code]

Reported by `oliver.ferschke` on 2013-06-06 10:07:50

[2015-06-06 19:56] daxenberger opened #28 "Create misclassified instances/feature value matrix"
Originally reported on Google Code with ID 28
[code]

Reported by `daxenberger.j` on 2013-07-10 07:45:41

[2015-06-06 20:05] daxenberger opened #38 "Handling of multi-valued features"
Originally reported on Google Code with ID 38
[code]

Reported by `daxenberger.j` on 2013-08-06 08:25:14

[2015-06-06 20:07] daxenberger opened #42 "Pipeline parameters vs. feature parameters - FEs are not properly initialized"
Originally reported on Google Code with ID 42
[code]

Reported by `torsten.zesch` on 2013-08-21 14:48:03

[2015-06-06 20:17] daxenberger opened #49 "Enable Weka Feature Selection"
Originally reported on Google Code with ID 49
[code]

Reported by `daxenberger.j` on 2013-09-17 16:38:15

[2015-06-06 20:35] daxenberger opened #243 "Make better usage of UIMA internationalized exceptions"
Originally reported on Google Code with ID 243
[code]

Reported by `daxenberger.j` on 2015-06-06 11:42:03

[2015-06-06 20:48] #6 closed

[2015-06-06 20:50] #14 closed

[2015-06-06 20:50] #23 closed

[2015-06-06 20:50] #28 closed

[2015-06-06 20:50] #38 closed

[2015-06-06 20:50] #42 closed

[2015-06-06 20:50] #49 closed

[2015-06-06 21:12] daxenberger commented on #243
Closed in r1500.

[2015-06-06 21:12] #243 closed

[2015-06-09 14:01] daxenberger commented on #6
Reported by `oliver.ferschke` on 2013-07-12 12:53:28

[2015-06-09 14:01] daxenberger commented on #6
Reported by `daxenberger.j` on 2013-07-23 13:48:59
- **Blocking**: #35

[2015-06-09 14:01] daxenberger commented on #6
Reported by `daxenberger.j` on 2013-07-31 14:48:10
- **Labels added**: Milestone-Release1.0

[2015-06-09 14:01] daxenberger commented on #6
Reported by `daxenberger.j` on 2013-10-15 06:59:24
- **Status changed**: `Started`

[2015-06-09 14:01] daxenberger commented on #6
[code]

Reported by `daxenberger.j` on 2013-12-04 08:31:28
- **Labels added**: Demo-Experiments

[2015-06-09 14:01] daxenberger commented on #6
Reported by `daxenberger.j` on 2014-05-12 07:56:23
- **Blocking**: #129

[2015-06-09 14:01] daxenberger commented on #6
Reported by `daxenberger.j` on 2014-06-04 12:31:36
- **Labels added**: Milestone-Release0.6.0
- **Labels removed**: Milestone-Release1.0

[2015-06-09 14:02] daxenberger commented on #6
[code]

Reported by `daxenberger.j` on 2014-06-11 17:52:50
- **Status changed**: `Fixed`

[2015-06-09 14:02] daxenberger commented on #6
[code]

Reported by `daxenberger.j` on 2014-06-11 17:54:17

[2015-06-09 14:02] daxenberger opened #9 "Add tests for all FeatureExtractors"
Originally reported on Google Code with ID 9

[code]

Reported by `daxenberger.j` on 2013-05-15 09:59:16

[2015-06-09 14:02] daxenberger commented on #9
[code]

Reported by `EmilyKJamison` on 2014-02-04 22:42:14

[2015-06-09 14:02] daxenberger commented on #9
Reported by `daxenberger.j` on 2014-06-04 12:34:02
- **Labels added**: Milestone-Release0.7.0

[2015-06-09 14:02] daxenberger commented on #9
Reported by `daxenberger.j` on 2014-08-29 10:02:26
- **Labels added**: Milestone-Release1.0
- **Labels removed**: Milestone-Release0.7.0

[2015-06-09 14:02] daxenberger commented on #9
Reported by `daxenberger.j` on 2014-09-05 08:42:22
- **Labels added**: Milestone-Release0.8.0
- **Labels removed**: Milestone-Release1.0

[2015-06-09 14:02] daxenberger commented on #9
Reported by `daxenberger.j` on 2014-10-08 09:02:02
- **Blocked on**: #169

[2015-06-09 14:02] daxenberger commented on #14
[code]

Reported by `torsten.zesch` on 2013-05-28 14:06:03
- **Status changed**: `Fixed`

[2015-06-09 14:02] daxenberger commented on #14
Reported by `daxenberger.j` on 2014-06-13 15:06:09
- **Labels added**: Release-0.5.0

[2015-06-09 14:02] daxenberger commented on #23
Reported by `daxenberger.j` on 2013-06-06 13:38:27
- **Blocked on**: #1

[2015-06-09 14:02] daxenberger commented on #23
Reported by `oliver.ferschke` on 2013-06-21 10:16:18

[2015-06-09 14:02] daxenberger commented on #23
Reported by `torsten.zesch` on 2013-06-25 18:09:42
- **Status changed**: `Started`

[2015-06-09 14:02] daxenberger commented on #23
[code]

Reported by `torsten.zesch` on 2013-06-26 15:08:26
- **Status changed**: `Fixed`

[2015-06-09 14:02] daxenberger commented on #23
[code]

Reported by `oliver.ferschke` on 2013-07-12 12:29:47

[2015-06-09 14:02] daxenberger commented on #23
Reported by `daxenberger.j` on 2014-06-13 15:08:34
- **Labels added**: Release-0.5.0

[2015-06-09 14:03] daxenberger commented on #28
[code]

Reported by `l.flekova` on 2013-07-17 18:01:08
- **Status changed**: `Started`

[2015-06-09 14:03] daxenberger commented on #28
[code]

Reported by `l.flekova` on 2013-07-17 18:05:48

[2015-06-09 14:03] daxenberger commented on #28
[code]

Reported by `daxenberger.j` on 2013-07-19 14:04:36

[2015-06-09 14:03] daxenberger commented on #28
[code]

Reported by `daxenberger.j` on 2013-07-19 14:05:39

[2015-06-09 14:03] daxenberger commented on #28
[code]

Reported by `l.flekova` on 2013-07-19 18:24:16

[2015-06-09 14:03] daxenberger commented on #28
[code]

Reported by `daxenberger.j` on 2013-07-22 08:28:47

[2015-06-09 14:03] daxenberger commented on #28
[code]

Reported by `krishperumal11` on 2013-08-01 09:10:39

[2015-06-09 14:03] daxenberger commented on #28
[code]

Reported by `krishperumal11` on 2013-08-01 13:32:30

[2015-06-09 14:03] daxenberger commented on #28
[code]

Reported by `daxenberger.j` on 2013-12-04 08:33:51
- **Labels added**: Priority-Low
- **Labels removed**: Priority-Medium

[2015-06-09 14:03] daxenberger commented on #28
[code]

Reported by `daxenberger.j` on 2014-05-06 09:50:12
- **Status changed**: `Fixed`

[2015-06-09 14:03] daxenberger commented on #28
Reported by `daxenberger.j` on 2014-06-13 15:09:38
- **Labels added**: Release-0.6.0

[2015-06-09 14:03] daxenberger opened #35 "Make DKPro-TC pipelines/models re-usable as DKPro components"
Originally reported on Google Code with ID 35

[code]

Reported by `daxenberger.j` on 2013-07-23 13:48:52
- **Blocked on**: #6, #34

[2015-06-09 14:03] daxenberger commented on #35
Reported by `daxenberger.j` on 2014-05-12 07:56:24
- **Blocking**: #129

[2015-06-09 14:03] daxenberger commented on #35
Reported by `daxenberger.j` on 2014-08-29 10:01:37
- **Labels added**: Milestone-Release1.0

[2015-06-09 14:03] daxenberger commented on #35
[code]

Reported by `daxenberger.j` on 2014-12-11 15:28:02
- **Status changed**: `Started`

[2015-06-09 14:03] daxenberger commented on #35
Reported by `daxenberger.j` on 2014-12-11 15:28:43
- **Labels added**: Milestone-Release0.8.0
- **Labels removed**: Milestone-Release1.0

[2015-06-09 14:03] daxenberger commented on #38
[code]

Reported by `torsten.zesch` on 2013-08-06 08:38:47
- **Status changed**: `Started`

[2015-06-09 14:03] daxenberger commented on #38
[code]

Reported by `torsten.zesch` on 2013-08-06 08:46:37
- **Status changed**: `Done`

[2015-06-09 14:03] daxenberger commented on #38
[code]

Reported by `daxenberger.j` on 2013-08-06 14:22:13
- **Status changed**: `Fixed`

[2015-06-09 14:03] daxenberger commented on #38
[code]

Reported by `daxenberger.j` on 2013-08-06 14:24:24

[2015-06-09 14:03] daxenberger commented on #38
[code]

Reported by `torsten.zesch` on 2013-08-06 14:27:52

[2015-06-09 14:03] daxenberger commented on #38
[code]

Reported by `richard.eckart` on 2015-04-10 09:53:07

[2015-06-09 14:03] daxenberger commented on #38
[code]

Reported by `richard.eckart` on 2015-04-10 10:20:46

[2015-06-09 14:03] daxenberger commented on #38
[code]

Reported by `richard.eckart` on 2015-04-10 13:10:49

[2015-06-09 14:03] daxenberger commented on #38
[code]

Reported by `richard.eckart` on 2015-04-10 13:34:51

[2015-06-09 14:03] daxenberger commented on #38
[code]

Reported by `richard.eckart` on 2015-04-10 13:53:47

[2015-06-09 14:04] daxenberger commented on #38
[code]

Reported by `richard.eckart` on 2015-04-10 13:57:44

[2015-06-09 14:04] daxenberger commented on #38
[code]

Reported by `richard.eckart` on 2015-04-10 13:58:43

[2015-06-09 14:04] daxenberger commented on #38
[code]

Reported by `richard.eckart` on 2015-04-10 14:00:15

[2015-06-09 14:04] daxenberger commented on #38
[code]

Reported by `richard.eckart` on 2015-04-10 14:33:34

[2015-06-09 14:04] daxenberger commented on #38
[code]

Reported by `richard.eckart` on 2015-04-10 14:51:06

[2015-06-09 14:04] daxenberger commented on #38
[code]

Reported by `richard.eckart` on 2015-04-10 14:55:22

[2015-06-09 14:04] daxenberger opened #39 "Multiple instances of the same feature extractor with different configurations should be possible"
Originally reported on Google Code with ID 39

[code]

Reported by `torsten.zesch` on 2013-08-07 16:01:42

[2015-06-09 14:04] daxenberger commented on #39
[code]

Reported by `daxenberger.j` on 2013-08-07 16:33:05

[2015-06-09 14:04] daxenberger commented on #39
[code]

Reported by `torsten.zesch` on 2014-03-19 08:46:38
- **Status changed**: `WontFix`

[2015-06-09 14:04] daxenberger commented on #39
[code]

Reported by `lisa.beinborn@gmx.de` on 2014-05-27 14:46:11

[2015-06-09 14:04] daxenberger commented on #39
[code]

Reported by `daxenberger.j` on 2014-05-27 14:52:45
- **Status changed**: `Accepted`

[2015-06-09 14:04] daxenberger commented on #39
Reported by `daxenberger.j` on 2014-06-04 12:34:23
- **Labels added**: Milestone-Release0.7.0

[2015-06-09 14:04] daxenberger commented on #39
Reported by `daxenberger.j` on 2014-08-29 10:03:18
- **Labels added**: Milestone-Release0.8.0
- **Labels removed**: Milestone-Release0.7.0

[2015-06-09 14:04] daxenberger commented on #39
Reported by `daxenberger.j` on 2014-10-29 17:24:00
- **Blocking**: #207

[2015-06-09 14:04] daxenberger commented on #39
[code]

Reported by `richard.eckart` on 2014-12-07 19:45:46

[2015-06-09 14:04] daxenberger commented on #39
Reported by `daxenberger.j` on 2014-12-11 15:28:26
- **Status changed**: `Started`

[2015-06-09 14:04] daxenberger commented on #39
Reported by `daxenberger.j` on 2014-12-11 15:30:30
- **Blocking**: #73

[2015-06-09 14:04] daxenberger commented on #39
[code]

Reported by `daxenberger.j` on 2015-04-10 13:59:34

[2015-06-09 14:04] daxenberger commented on #39
[code]

Reported by `daxenberger.j` on 2015-04-10 16:16:16

[2015-06-09 14:04] daxenberger commented on #39
[code]

Reported by `daxenberger.j` on 2015-04-11 07:10:23

[2015-06-09 14:04] daxenberger commented on #39
[code]

Reported by `daxenberger.j` on 2015-04-11 07:26:15

[2015-06-09 14:04] daxenberger commented on #39
[code]

Reported by `daxenberger.j` on 2015-04-11 07:28:53

[2015-06-09 14:04] daxenberger commented on #42
Reported by `torsten.zesch` on 2013-08-21 15:25:45
- **Status changed**: `Started`

[2015-06-09 14:04] daxenberger commented on #42
[code]

Reported by `torsten.zesch` on 2013-08-21 15:44:11

[2015-06-09 14:04] daxenberger commented on #42
[code]

Reported by `torsten.zesch` on 2013-08-21 16:33:22

[2015-06-09 14:04] daxenberger commented on #42
[code]

Reported by `daxenberger.j` on 2013-08-27 13:38:28
- **Status changed**: `Fixed`

[2015-06-09 14:04] daxenberger commented on #42
Reported by `daxenberger.j` on 2014-06-13 15:11:46
- **Labels added**: Release-0.5.0

[2015-06-09 14:04] daxenberger commented on #49
[code]

Reported by `vovk.artem` on 2013-10-02 13:35:53

[2015-06-09 14:04] daxenberger commented on #49
[code]

Reported by `daxenberger.j` on 2013-10-02 13:48:55

[2015-06-09 14:04] daxenberger commented on #49
[code]

Reported by `vovk.artem` on 2013-10-02 14:26:49

[2015-06-09 14:04] daxenberger commented on #49
[code]

Reported by `vovk.artem` on 2013-10-02 16:00:59
- **Status changed**: `Fixed`

[2015-06-09 14:04] daxenberger commented on #49
[code]

Reported by `vovk.artem` on 2013-10-02 16:02:37

[2015-06-09 14:04] daxenberger commented on #49
[code]

Reported by `daxenberger.j` on 2013-10-02 16:20:43
- **Status changed**: `Started`

[2015-06-09 14:04] daxenberger commented on #49
[code]

Reported by `daxenberger.j` on 2013-10-04 09:42:21
- **Status changed**: `Fixed`

[2015-06-09 14:04] daxenberger commented on #49
[code]

Reported by `daxenberger.j` on 2013-10-04 09:48:46

[2015-06-09 14:04] daxenberger commented on #49
Reported by `daxenberger.j` on 2013-11-05 14:28:50
- **Labels added**: Release-0.5.0
- **Labels removed**: Milestone-Release1.0

[2015-06-09 14:04] daxenberger opened #50 "Create a dedicated evaluation object/module"
Originally reported on Google Code with ID 50

[code]

Reported by `daxenberger.j` on 2013-09-17 16:41:45

Edit by Tobias Horsmann - ToDo list:
- [x] make sure that each MLAdapter/Framework creates id2outcome files (TestTasks)
- [x] delete old (ML framework dependent) results reports (TestTasks)
- [x] adapt all higher(batch)-level reports to work with new evaluation mode (in particular, Issue #113

[2015-06-09 14:04] daxenberger commented on #50
[code]

Reported by `EmilyKJamison` on 2014-03-21 18:25:17

[2015-06-09 14:04] daxenberger commented on #50
[code]

Reported by `richard.eckart` on 2014-03-23 12:44:03

[2015-06-09 14:04] daxenberger commented on #50
[code]

Reported by `daxenberger.j` on 2014-04-22 15:42:58
- **Labels added**: Priority-High
- **Labels removed**: Priority-Low

[2015-06-09 14:04] daxenberger commented on #50
Reported by `daxenberger.j` on 2014-04-22 15:48:43
- **Blocking**: #113

[2015-06-09 14:04] daxenberger commented on #50
Reported by `daxenberger.j` on 2014-04-22 15:49:15
- **Blocking**: #112

[2015-06-09 14:04] daxenberger commented on #50
Reported by `daxenberger.j` on 2014-06-04 12:34:49
- **Labels added**: Milestone-Release0.7.0

[2015-06-09 14:04] daxenberger commented on #50
Reported by `daxenberger.j` on 2014-09-05 08:45:17
- **Status changed**: `Started`

[2015-06-09 14:04] daxenberger commented on #50
[code]

Reported by `daxenberger.j` on 2014-10-08 09:12:56

[2015-06-09 14:04] daxenberger commented on #50
[code]

Reported by `daxenberger.j` on 2014-10-08 09:48:59

[2015-06-09 14:04] daxenberger commented on #50
[code]

Reported by `daxenberger.j` on 2014-10-08 10:00:34

[2015-06-09 14:04] daxenberger commented on #50
[code]

Reported by `daxenberger.j` on 2014-12-10 08:54:40

[2015-06-09 14:04] daxenberger commented on #50
[code]

Reported by `daxenberger.j` on 2015-03-17 11:47:34

[2015-06-09 14:04] daxenberger commented on #50
[code]

Reported by `daxenberger.j` on 2015-03-17 16:16:36

[2015-06-09 14:04] daxenberger commented on #50
Reported by `daxenberger.j` on 2015-03-27 13:05:34
- **Labels added**: Milestone-Release0.8.0
- **Labels removed**: Milestone-Release0.7.0

[2015-06-09 14:04] daxenberger commented on #50
[code]

Reported by `daxenberger.j` on 2015-03-30 08:24:47

[2015-06-09 14:04] daxenberger commented on #50
[code]

Reported by `daxenberger.j` on 2015-04-02 16:04:35

[2015-06-09 14:04] daxenberger commented on #50
[code]

Reported by `daxenberger.j` on 2015-04-03 15:09:25

[2015-06-09 14:05] daxenberger commented on #50
[code]

Reported by `daxenberger.j` on 2015-04-07 14:05:51

[2015-06-09 14:05] daxenberger commented on #50
[code]

Reported by `daxenberger.j` on 2015-05-18 10:25:04

[2015-06-09 14:05] daxenberger opened #55 "add LemmaNGramFeatureExtractor"
Originally reported on Google Code with ID 55

[code]

Reported by `eckle.kohler` on 2013-11-06 09:32:27

[2015-06-09 14:05] daxenberger commented on #55
Reported by `eckle.kohler` on 2013-11-06 09:32:40
- **Labels added**: Type-Enhancement
- **Labels removed**: Type-Defect

[2015-06-09 14:05] daxenberger commented on #55
[code]

Reported by `torsten.zesch` on 2013-11-06 09:36:48

[2015-06-09 14:05] daxenberger commented on #55
[code]

Reported by `daxenberger.j` on 2013-11-06 09:48:48

[2015-06-09 14:05] daxenberger commented on #55
[code]

Reported by `torsten.zesch` on 2013-11-06 09:50:47

[2015-06-09 14:05] daxenberger commented on #55
[code]

Reported by `daxenberger.j` on 2013-11-06 10:17:47

[2015-06-09 14:05] daxenberger commented on #55
[code]

Reported by `daxenberger.j` on 2014-06-04 11:53:20
- **Labels added**: Priority-Low
- **Labels removed**: Priority-Medium

[2015-06-09 14:05] daxenberger commented on #55
Reported by `daxenberger.j` on 2014-06-04 11:54:35
- **Blocking**: #56

[2015-06-09 14:05] daxenberger commented on #55
[code]

Reported by `eckle.kohler` on 2014-06-04 12:10:08

[2015-06-09 14:05] daxenberger commented on #55
Reported by `daxenberger.j` on 2014-06-04 12:32:17
- **Labels added**: Milestone-Release0.7.0

[2015-06-09 14:05] daxenberger commented on #55
Reported by `daxenberger.j` on 2014-08-29 10:50:04
- **Labels added**: Milestone-Release0.8.0
- **Labels removed**: Milestone-Release0.7.0

[2015-06-09 14:05] daxenberger commented on #55
Reported by `daxenberger.j` on 2014-09-05 08:45:43
- **Status changed**: `Accepted`

[2015-06-09 14:05] daxenberger opened #56 "add SemanticFieldFeatureExtractor"
Originally reported on Google Code with ID 56

[code]

Reported by `eckle.kohler` on 2013-11-06 09:46:40

[2015-06-09 14:05] daxenberger commented on #56
[code]

Reported by `torsten.zesch` on 2013-11-06 09:51:48

[2015-06-09 14:05] daxenberger commented on #56
[code]

Reported by `eckle.kohler` on 2013-11-06 10:00:32

[2015-06-09 14:05] daxenberger commented on #56
[code]

Reported by `daxenberger.j` on 2013-11-06 10:22:25

[2015-06-09 14:05] daxenberger commented on #56
[code]

Reported by `eckle.kohler` on 2013-11-10 13:45:38

[2015-06-09 14:05] daxenberger commented on #56
[code]

Reported by `l.flekova` on 2013-12-10 15:02:12

[2015-06-09 14:05] daxenberger commented on #56
[code]

Reported by `daxenberger.j` on 2014-06-04 11:54:34
- **Labels added**: Priority-Low
- **Labels removed**: Priority-Medium
- **Blocked on**: #55

[2015-06-09 14:05] daxenberger commented on #56
[code]

Reported by `eckle.kohler` on 2014-06-04 12:08:11

[2015-06-09 14:05] daxenberger commented on #56
Reported by `daxenberger.j` on 2014-06-04 12:32:25
- **Labels added**: Milestone-Release0.7.0

[2015-06-09 14:05] daxenberger commented on #56
Reported by `daxenberger.j` on 2014-08-29 10:50:58
- **Labels added**: Milestone-Release0.8.0
- **Labels removed**: Milestone-Release0.7.0

[2015-06-09 14:05] daxenberger opened #58 "ModalVerbsFeatureExtractor for German"
Originally reported on Google Code with ID 58

[code]

Reported by `eckle.kohler` on 2013-11-10 13:17:35

[2015-06-09 14:05] daxenberger commented on #58
[code]

Reported by `richard.eckart` on 2013-11-10 13:26:10

[2015-06-09 14:05] daxenberger commented on #58
[code]

Reported by `oliver.ferschke` on 2013-11-10 13:30:31

[2015-06-09 14:05] daxenberger commented on #58
[code]

Reported by `oliver.ferschke` on 2013-11-10 13:34:49

[2015-06-09 14:05] daxenberger commented on #58
[code]

Reported by `eckle.kohler` on 2013-11-10 13:35:24

[2015-06-09 14:06] daxenberger commented on #58
[code]

Reported by `torsten.zesch` on 2013-11-10 17:19:57

[2015-06-09 14:06] daxenberger commented on #58
[code]

Reported by `eckle.kohler` on 2013-11-11 06:35:35

[2015-06-09 14:06] daxenberger commented on #58
[code]

Reported by `daxenberger.j` on 2014-06-04 11:55:05
- **Labels added**: Priority-Low
- **Labels removed**: Priority-Medium

[2015-06-09 14:06] daxenberger commented on #58
[code]

Reported by `eckle.kohler` on 2014-06-04 12:08:15

[2015-06-09 14:06] daxenberger commented on #58
Reported by `daxenberger.j` on 2014-06-04 12:32:36
- **Labels added**: Milestone-Release0.7.0

[2015-06-09 14:06] daxenberger commented on #58
Reported by `daxenberger.j` on 2014-08-29 10:50:13
- **Labels added**: Milestone-Release0.8.0
- **Labels removed**: Milestone-Release0.7.0

[2015-06-09 14:06] daxenberger commented on #58
[code]

Reported by `lisa.beinborn` on 2015-03-12 11:29:53

[2015-06-09 14:07] daxenberger opened #73 "Named Features Sets"
Originally reported on Google Code with ID 73

[code]

Reported by `daxenberger.j` on 2013-12-17 13:38:21

[2015-06-09 14:07] daxenberger commented on #73
[code]

Reported by `daxenberger.j` on 2013-12-17 16:21:10

[2015-06-09 14:07] daxenberger commented on #73
Reported by `daxenberger.j` on 2014-06-04 12:39:35
- **Labels added**: Milestone-Release0.7.0

[2015-06-09 14:07] daxenberger commented on #73
Reported by `daxenberger.j` on 2014-08-29 10:09:09
- **Labels added**: Milestone-Release0.8.0
- **Labels removed**: Milestone-Release0.7.0

[2015-06-09 14:07] daxenberger commented on #73
[code]

Reported by `torsten.zesch` on 2014-10-23 14:28:00

[2015-06-09 14:07] daxenberger commented on #73
[code]

Reported by `daxenberger.j` on 2014-10-27 09:26:22

[2015-06-09 14:07] daxenberger commented on #73
Reported by `daxenberger.j` on 2014-10-27 09:26:37

[2015-06-09 14:07] daxenberger commented on #73
[code]

Reported by `daxenberger.j` on 2014-10-27 14:07:25

[2015-06-09 14:07] daxenberger commented on #73
[code]

Reported by `daxenberger.j` on 2014-10-27 14:10:10

[2015-06-09 14:07] daxenberger commented on #73
[code]

Reported by `torsten.zesch` on 2014-10-28 21:38:33

[2015-06-09 14:07] daxenberger commented on #73
Reported by `daxenberger.j` on 2014-12-11 15:30:23
- **Blocked on**: #39

[2015-06-09 14:07] daxenberger commented on #73
Reported by `daxenberger.j` on 2014-12-11 15:30:35

[2015-06-09 14:07] daxenberger opened #83 "Ngram FEs only write binary features"
Originally reported on Google Code with ID 83

[code]

Reported by `torsten.zesch` on 2014-02-01 08:52:15

[2015-06-09 14:07] daxenberger commented on #83
[code]

Reported by `daxenberger.j` on 2014-02-03 13:52:40

[2015-06-09 14:07] daxenberger commented on #83
[code]

Reported by `torsten.zesch` on 2014-02-03 13:59:18

[2015-06-09 14:07] daxenberger commented on #83
[code]

Reported by `daxenberger.j` on 2014-02-03 14:09:03

[2015-06-09 14:07] daxenberger commented on #83
Reported by `daxenberger.j` on 2014-06-04 12:39:49
- **Labels added**: Milestone-Release0.7.0

[2015-06-09 14:08] daxenberger commented on #83
Reported by `daxenberger.j` on 2014-08-29 10:10:14
- **Labels added**: Priority-High
- **Labels removed**: Priority-Medium

[2015-06-09 14:08] daxenberger commented on #83
Reported by `daxenberger.j` on 2014-08-29 10:52:23
- **Labels added**: Milestone-Release0.8.0
- **Labels removed**: Milestone-Release0.7.0

[2015-06-09 14:08] daxenberger opened #95 "Feature extractors returning more than one feature with same name cause IndexOutOfBoundsException"
Originally reported on Google Code with ID 95

[code]

Reported by `daxenberger.j` on 2014-02-21 08:57:35

[2015-06-09 14:08] daxenberger commented on #95
[code]

Reported by `torsten.zesch` on 2014-02-21 09:07:48

[2015-06-09 14:08] daxenberger commented on #95
[code]

Reported by `daxenberger.j` on 2014-02-21 09:13:50

[2015-06-09 14:08] daxenberger commented on #95
[code]

Reported by `richard.eckart` on 2014-02-21 09:17:27

[2015-06-09 14:08] daxenberger commented on #95
[code]

Reported by `daxenberger.j` on 2014-02-21 09:33:41

[2015-06-09 14:08] daxenberger commented on #95
[code]

Reported by `richard.eckart` on 2014-02-21 09:52:31

[2015-06-09 14:08] daxenberger commented on #95
[code]

Reported by `torsten.zesch` on 2014-02-21 10:11:43

[2015-06-09 14:08] daxenberger commented on #95
[code]

Reported by `torsten.zesch` on 2014-02-21 10:13:05

[2015-06-09 14:08] daxenberger commented on #95
[code]

Reported by `richard.eckart` on 2014-02-21 10:18:02

[2015-06-09 14:08] daxenberger commented on #95
Reported by `torsten.zesch` on 2014-04-25 08:25:34
- **Status changed**: `Started`

[2015-06-09 14:08] daxenberger commented on #95
[code]

Reported by `torsten.zesch` on 2014-04-25 08:34:31
- **Status changed**: `Accepted`

[2015-06-09 14:08] daxenberger commented on #95
Reported by `daxenberger.j` on 2014-06-04 15:46:27
- **Labels added**: Milestone-Release0.7.0

[2015-06-09 14:08] daxenberger commented on #95
Reported by `daxenberger.j` on 2014-08-29 10:11:06
- **Labels added**: Priority-Low, Milestone-Release0.8.0
- **Labels removed**: Priority-Medium, Milestone-Release0.7.0

[2015-06-09 14:09] daxenberger opened #113 "Re-write BatchCrossValidationReport"
Originally reported on Google Code with ID 113

[code]

Reported by `daxenberger.j` on 2014-04-22 15:48:42
- **Blocked on**: #50

[2015-06-09 14:09] daxenberger commented on #113
[code]

Reported by `daxenberger.j` on 2014-05-02 14:58:00
- **Status changed**: `Started`

[2015-06-09 14:09] daxenberger commented on #113
[code]

Reported by `daxenberger.j` on 2014-05-02 15:25:29

[2015-06-09 14:10] daxenberger commented on #113
[code]

Reported by `daxenberger.j` on 2014-06-03 10:04:09

[2015-06-09 14:10] daxenberger commented on #113
Reported by `daxenberger.j` on 2014-06-04 15:48:06
- **Labels added**: Milestone-Release0.7.0

[2015-06-09 14:10] daxenberger commented on #113
[code]

Reported by `EmilyKJamison` on 2014-10-15 13:22:30

[2015-06-09 14:10] daxenberger commented on #113
[code]

Reported by `torsten.zesch` on 2014-10-15 13:30:15

[2015-06-09 14:10] daxenberger commented on #113
[code]

Reported by `daxenberger.j` on 2014-10-15 13:36:20

[2015-06-09 14:10] daxenberger commented on #113
Reported by `daxenberger.j` on 2015-03-27 13:06:00
- **Labels added**: Milestone-Release0.8.0
- **Labels removed**: Milestone-Release0.7.0

[2015-06-09 14:10] daxenberger commented on #113
[code]

Reported by `daxenberger.j` on 2015-05-18 12:31:19

[2015-06-09 14:10] daxenberger commented on #113
[code]

Reported by `daxenberger.j` on 2015-05-18 12:35:03

[2015-06-09 14:10] daxenberger opened #119 "Change implementation of Feature"
Originally reported on Google Code with ID 119

[code]

Reported by `torsten.zesch` on 2014-05-08 17:27:26

[2015-06-09 14:10] daxenberger commented on #119
Reported by `daxenberger.j` on 2014-06-04 11:52:18
- **Labels added**: Priority-Low
- **Labels removed**: Priority-Medium

[2015-06-09 14:10] daxenberger commented on #119
Reported by `daxenberger.j` on 2014-06-04 16:43:50
- **Labels added**: Milestone-Release0.7.0

[2015-06-09 14:10] daxenberger commented on #119
[code]

Reported by `richard.eckart` on 2014-06-25 12:04:41

[2015-06-09 14:10] daxenberger commented on #119
[code]

Reported by `richard.eckart` on 2014-06-25 12:15:15

[2015-06-09 14:10] daxenberger commented on #119
Reported by `daxenberger.j` on 2014-08-29 10:18:48
- **Labels added**: Priority-High
- **Labels removed**: Priority-Low

[2015-06-09 14:10] daxenberger commented on #119
Reported by `daxenberger.j` on 2014-08-29 10:19:17
- **Labels added**: Milestone-Release0.8.0
- **Labels removed**: Milestone-Release0.7.0

[2015-06-09 14:10] daxenberger opened #120 "Improve escaping of feature names"
Originally reported on Google Code with ID 120

[code]

Reported by `torsten.zesch` on 2014-05-08 17:29:30

[2015-06-09 14:10] daxenberger commented on #120
[code]

Reported by `daxenberger.j` on 2014-06-04 11:49:12
- **Labels added**: Priority-High
- **Labels removed**: Priority-Medium

[2015-06-09 14:10] daxenberger commented on #120
[code]

Reported by `torsten.zesch` on 2014-06-04 11:52:25

[2015-06-09 14:10] daxenberger commented on #120
[code]

Reported by `daxenberger.j` on 2014-06-04 11:57:56

[2015-06-09 14:10] daxenberger commented on #120
[code]

Reported by `oliver.ferschke` on 2014-06-04 12:12:07

[2015-06-09 14:10] daxenberger commented on #120
[code]

Reported by `daxenberger.j` on 2014-06-04 12:26:08

[2015-06-09 14:10] daxenberger commented on #120
[code]

Reported by `richard.eckart` on 2014-06-04 15:38:06

[2015-06-09 14:10] daxenberger commented on #120
[code]

Reported by `torsten.zesch` on 2014-06-04 15:39:09

[2015-06-09 14:10] daxenberger commented on #120
[code]

Reported by `daxenberger.j` on 2014-06-04 15:42:57

[2015-06-09 14:10] daxenberger commented on #120
Reported by `daxenberger.j` on 2014-06-04 15:48:48
- **Labels added**: Milestone-Release0.6.0

[2015-06-09 14:10] daxenberger commented on #120
[code]

Reported by `torsten.zesch` on 2014-06-04 15:50:18

[2015-06-09 14:10] daxenberger commented on #120
[code]

Reported by `daxenberger.j` on 2014-06-04 16:37:21

[2015-06-09 14:10] daxenberger commented on #120
[code]

Reported by `torsten.zesch` on 2014-06-04 16:40:59

[2015-06-09 14:10] daxenberger commented on #120
Reported by `daxenberger.j` on 2014-06-13 10:19:25
- **Labels added**: Milestone-Release0.7.0
- **Labels removed**: Milestone-Release0.6.0

[2015-06-09 14:10] daxenberger commented on #120
Reported by `daxenberger.j` on 2014-08-29 10:19:42
- **Labels added**: Milestone-Release0.8.0
- **Labels removed**: Milestone-Release0.7.0

[2015-06-09 14:10] daxenberger opened #121 "Actually use requiredType annotations to check validity of setup"
Originally reported on Google Code with ID 121

[code]

Reported by `torsten.zesch` on 2014-05-08 17:33:13

[2015-06-09 14:10] daxenberger commented on #121
Reported by `daxenberger.j` on 2014-06-04 15:49:00
- **Labels added**: Milestone-Release0.7.0

[2015-06-09 14:10] daxenberger commented on #121
Reported by `daxenberger.j` on 2014-06-11 17:25:48
- **Blocking**: #144

[2015-06-09 14:10] daxenberger commented on #121
Reported by `daxenberger.j` on 2014-08-29 10:29:06
- **Labels added**: Milestone-Release1.0
- **Labels removed**: Milestone-Release0.7.0

[2015-06-09 14:10] daxenberger commented on #121
Reported by `daxenberger.j` on 2014-09-05 08:42:44
- **Labels added**: Milestone-Release0.8.0
- **Labels removed**: Milestone-Release1.0

[2015-06-09 14:10] daxenberger opened #125 "Create more general AnnotationRatioFE"
Originally reported on Google Code with ID 125

[code]

Reported by `torsten.zesch` on 2014-05-08 17:43:17

[2015-06-09 14:10] daxenberger commented on #125
Reported by `daxenberger.j` on 2014-06-04 15:50:43
- **Labels added**: Priority-Low, Milestone-Release0.7.0
- **Labels removed**: Priority-Medium

[2015-06-09 14:10] daxenberger commented on #125
Reported by `daxenberger.j` on 2014-08-29 10:35:49
- **Labels added**: Milestone-Release0.8.0
- **Labels removed**: Milestone-Release0.7.0

[2015-06-09 14:10] daxenberger commented on #125
Reported by `daxenberger.j` on 2014-08-29 11:01:30

[2015-06-09 14:13] daxenberger opened #169 "Add test cases for FeatureExtractors"
Originally reported on Google Code with ID 169

[code]

Reported by `daxenberger.j` on 2014-07-25 07:22:51

[2015-06-09 14:13] daxenberger commented on #169
Reported by `daxenberger.j` on 2014-10-08 09:02:10
- **Blocking**: #9

[2015-06-09 14:13] daxenberger commented on #169
Reported by `daxenberger.j` on 2015-01-06 11:39:59
- **Labels added**: Milestone-Release0.8.0
- **Labels removed**: Milestone-Release0.7.0

[2015-06-09 14:14] daxenberger opened #180 "Users should only be required to set the report type (for standard reports) - ML adapter should then provide the right instances"
Originally reported on Google Code with ID 180

[code]

Reported by `torsten.zesch` on 2014-09-09 11:52:32

[2015-06-09 14:14] daxenberger opened #188 "Separate reading logic from label annotation in TC readers"
Originally reported on Google Code with ID 188

[code]

Reported by `daxenberger.j` on 2014-10-07 13:31:13

[2015-06-09 14:14] daxenberger commented on #188
[code]

Reported by `torsten.zesch` on 2014-10-07 14:03:10

[2015-06-09 14:14] daxenberger commented on #188
[code]

Reported by `daxenberger.j` on 2014-10-07 14:24:51

[2015-06-09 14:14] daxenberger commented on #188
Reported by `daxenberger.j` on 2014-12-11 15:46:27
- **Labels added**: Milestone-Release0.8.0
- **Labels removed**: Milestone-Release0.7.0

[2015-06-09 14:14] daxenberger commented on #188
[code]

Reported by `daxenberger.j` on 2015-03-25 13:46:26

[2015-06-09 14:14] daxenberger commented on #188
[code]

Reported by `richard.eckart` on 2015-03-25 13:53:38

[2015-06-09 14:15] daxenberger opened #207 "Potential severe problem with ngram meta collectors and extractors"
Originally reported on Google Code with ID 207

[code]

Reported by `torsten.zesch` on 2014-10-29 15:25:58

[2015-06-09 14:15] daxenberger commented on #207
[code]

Reported by `richard.eckart` on 2014-10-29 15:38:33

[2015-06-09 14:15] daxenberger commented on #207
[code]

Reported by `torsten.zesch` on 2014-10-29 15:43:04

[2015-06-09 14:15] daxenberger commented on #207
[code]

Reported by `EmilyKJamison` on 2014-10-29 16:55:00

[2015-06-09 14:15] daxenberger commented on #207
[code]

Reported by `daxenberger.j` on 2014-10-29 17:23:52
- **Blocked on**: #39

[2015-06-09 14:15] daxenberger commented on #207
Reported by `daxenberger.j` on 2014-12-11 15:48:47
- **Labels added**: Type-Enhancement, Priority-Medium, Milestone-Release0.8.0
- **Labels removed**: Type-Defect, Priority-Critical

[2015-06-09 14:16] daxenberger opened #218 "Broken tests in dkpro-tc-features-readability"
Originally reported on Google Code with ID 218

[code]

Reported by `daxenberger.j` on 2014-12-04 14:13:19

[2015-06-09 14:16] daxenberger commented on #218
[code]

Reported by `daxenberger.j` on 2014-12-04 15:15:59
- **Status changed**: `Started`

[2015-06-09 14:16] daxenberger commented on #218
[code]

Reported by `daxenberger.j` on 2014-12-11 09:08:53

[2015-06-09 14:16] daxenberger commented on #218
[code]

Reported by `daxenberger.j` on 2014-12-11 15:49:39
- **Labels added**: Milestone-Release0.8.0
- **Labels removed**: Milestone-Release0.7.0

[2015-06-09 14:16] daxenberger commented on #218
[code]

Reported by `daxenberger.j` on 2015-04-08 15:44:38

[2015-06-09 14:16] daxenberger commented on #218
[code]

Reported by `daxenberger.j` on 2015-04-08 15:45:39

[2015-06-09 14:16] daxenberger opened #221 "Verify that experiment name does not include special characters"
Originally reported on Google Code with ID 221

[code]

Reported by `daxenberger.j` on 2014-12-09 08:44:19

[2015-06-09 14:16] daxenberger commented on #221
Reported by `daxenberger.j` on 2015-01-06 11:39:32
- **Labels added**: Milestone-Release0.8.0
- **Labels removed**: Milestone-Release0.7.0

[2015-06-09 14:16] daxenberger opened #224 "Adapter and report for statistics evaluation package"
Originally reported on Google Code with ID 224

[code]

Reported by `daxenberger.j` on 2014-12-10 21:56:03

[2015-06-09 14:16] daxenberger commented on #224
[code]

Reported by `daxenberger.j` on 2014-12-10 21:57:28

[2015-06-09 14:16] daxenberger commented on #224
[code]

Reported by `daxenberger.j` on 2014-12-11 11:36:38

[2015-06-09 14:16] daxenberger commented on #224
[code]

Reported by `daxenberger.j` on 2014-12-11 15:33:09

[2015-06-09 14:16] daxenberger commented on #224
Reported by `daxenberger.j` on 2014-12-11 15:51:02
- **Labels added**: Milestone-Release0.9.0

[2015-06-09 14:16] daxenberger commented on #224
[code]

Reported by `daxenberger.j` on 2014-12-12 13:55:57

[2015-06-09 14:16] daxenberger commented on #224
[code]

Reported by `daxenberger.j` on 2014-12-13 11:34:25

[2015-06-09 14:16] daxenberger commented on #224
[code]

Reported by `daxenberger.j` on 2014-12-13 19:32:38

[2015-06-09 14:16] daxenberger commented on #224
[code]

Reported by `daxenberger.j` on 2014-12-13 19:33:29

[2015-06-09 14:16] daxenberger commented on #224
[code]

Reported by `daxenberger.j` on 2014-12-18 15:16:15

[2015-06-09 14:16] daxenberger opened #226 "Possible duplicate FE TypeTokenRatio"
Originally reported on Google Code with ID 226

[code]

Reported by `torsten.zesch` on 2014-12-12 21:10:56

[2015-06-09 14:16] daxenberger commented on #226
Reported by `daxenberger.j` on 2015-01-06 11:24:07
- **Labels added**: Milestone-Release0.9.0

[2015-06-09 14:17] daxenberger opened #230 "SparseFeatureStore take N-times more RAM than DenseFeatureStore"
Originally reported on Google Code with ID 230

[code]

Reported by `Tobias.Horsmann` on 2014-12-23 16:12:21

[2015-06-09 14:17] daxenberger commented on #230
[code]

Reported by `daxenberger.j` on 2014-12-23 18:13:23

[2015-06-09 14:17] daxenberger commented on #230
[code]

Reported by `Tobias.Horsmann` on 2014-12-23 18:36:21

[2015-06-09 14:17] daxenberger commented on #230
[code]

Reported by `daxenberger.j` on 2014-12-23 20:45:45

[2015-06-09 14:17] daxenberger commented on #230
[code]

Reported by `torsten.zesch` on 2014-12-24 11:33:35
- **Status changed**: `Accepted`

[2015-06-09 14:17] daxenberger opened #231 "Handling "empty" predictions in the evaluation module"
Originally reported on Google Code with ID 231

[code]

Reported by `daxenberger.j` on 2015-01-26 08:48:04

[2015-06-09 14:17] daxenberger commented on #231
Reported by `daxenberger.j` on 2015-03-27 13:05:48
- **Labels added**: Milestone-Release0.8.0
- **Labels removed**: Milestone-Release0.7.0

[2015-06-09 14:17] daxenberger opened #239 "SVMhmm is missing OSx binary"
Originally reported on Google Code with ID 239

[code]

Reported by `daxenberger.j` on 2015-04-07 13:50:38

[2015-06-09 14:17] daxenberger commented on #239
Reported by `daxenberger.j` on 2015-04-07 16:04:46
- **Labels added**: Milestone-Release0.8.0

[2015-06-09 14:17] daxenberger commented on #243
[code]

Reported by `daxenberger.j` on 2015-06-06 21:14:34
- **Status changed**: `Fixed`

[2015-06-09 14:58] daxenberger opened #244 "Make use of ngramFreqThreshold or remove it"
The ngramFreqThreshold parameter in the NGram module is not used by any (child) feature extractor. That is misleading. Furthermore, its functionality (min. frequency-based ngram selection rather than absolute number) would be helpful.

[2015-06-09 18:56] Horsmann opened #245 "Add .gitignore in TC root folder"
There is no central .gitignore file yet

[2015-06-09 18:58] Horsmann commented on #245
The last commit excluded
.settings
.classpath
.project

which is the same as for dkpro-core.
Anything on top of this that one should exclude?

[2015-06-09 19:03] #245 closed, assigned to nobody

[2015-06-09 20:51] reckart commented on #245
"target" is a typical exclusion - I wonder if that is not also in the dkpro-core .gitignore.

[2015-06-13 18:16] daxenberger commented on #244
This has been fixed for frequency-based FEs (cf. #246). TODO: fix for Lucene-based ones.

[2015-06-14 13:35] mwunderlich commented on #244
I have just sent another pull request with the changes for Lucence-based FEs.

[2015-06-15 20:24] daxenberger commented on #244
Thanks!! To summarize: we now have the ngramFreqThreshold parameter for Frequency Distribution and Lucene based ngram FEs. By default, ngramFreqThreshold will not be applied (unless set by the user, in which case it will definitely by applied). topK parameter remains as is, default value is applied unless otherwise specified.

I guess this can be closed.

[2015-06-15 20:24] #244 closed, assigned to nobody

[2015-06-22 13:52] Horsmann opened #248 "CRFSuite ModelLoading uses static variables to hold model reference"
The model classes that loads the CRFSuite model makes use of static variables. This potentially leads to situations where a previous loaded model might be overwritten by second one (i.e. no statics if avoidable).

[2015-06-22 13:53] #248 closed, assigned to nobody

[2015-06-26 14:05] logological commented on #245
There's [a list of recommended .gitignore entries per language and environment](https://github.com/github/gitignore).  Of interest are the ones for Java and Maven, which contain some lines not already in DKPro TC and DKPro Core's. Some of the lines are pretty obscure (but probably harmless to include anyway) but others could be useful.  `**/target/` is probably good for multi-module Maven projects

[2015-07-06 23:42] ghost commented on #83
fixed with commits on Jul 7, 2015.

[2015-07-06 23:42] #83 closed, assigned to nobody

[2015-07-10 07:47] daxenberger opened #251 "Unit classification mode: Integrate TextClassificationUnit.setSuffix() with externalD"
In unit mode, the id2outcome report contains random IDs for units in documents with more than one unit. It would be much easier to interpret and analyze classification errors, if the IDs were interpretable.
To make this happen, we should introduce a new feature to the TextClassificationUnit type which holds (optionally) stores a user-specified string. This field can be set together with the label

[2015-07-10 07:54] zesch commented on #251
We already have something similar in the form of the "suffix" field in the TextClassificationUnit type.
This does not replace numerical ids, but as the name says is added as a suffix.

[2015-07-10 08:10] daxenberger commented on #251
True. However, AFAIK this suffix is only explicitely used in a feature (ID_FEATURE_NAME) and is not applied within id2outcome report. I guess, the best option is to use this (string) value to append it to the document ID in ClassificationUnitCasMultiplier, rather than adding a new one. The IDs do not need to be numeric.

[2015-07-10 08:12] zesch commented on #251
They need to be unique. When only using a user-defined name, we cannot rely on that.

[2015-07-10 08:15] daxenberger commented on #251
We need to make sure that document IDs are unique as well. I think, there, we also rely on the user to set unique values, don't we? I guess uima(FIT) will complain if the IDs are not unique.

[2015-07-10 08:18] zesch commented on #251
Yes, that is right. As document IDs are usually file names, the problem is less critical there as they need to be kind of unique already.
As we have multiple units per document, there is some danger that we will get CASes with the same name here.

However, just pointing out the problem. Whether we want to take action or leave it to the user is another question.

[2015-07-10 08:22] reckart commented on #251
I don't see why uima(FIT) should complain about any IDs not being unique. From the perspective of these frameworks, I'd say the IDs you are speaking about are "user-defined" and oblique to the framework.

[2015-07-10 08:23] daxenberger commented on #251
Within a single document, it is easy to ensure that user-specified IDs are unique by verifying in the ClassificationUnitCasMultiplier. If user-specified IDs are not unique within the same document, we can append numeric indices and output a warning.

[2015-07-10 08:25] reckart commented on #251
Btw. external IDs are a very common request... a related issue is e.g. https://github.com/dkpro/dkpro-core/issues/609

[2015-07-10 08:36] daxenberger commented on #251
The feature requested in https://github.com/dkpro/dkpro-core/issues/609 will be bound to sentences or tokens, right? In DKPro TC we need to bind it to units (which can be sentences, but also many other things). If there is a way to combine these requests and to make it a common feature, that would be good; but at the moment I have no idea how this could be done.

[2015-07-10 08:45] reckart commented on #251
Well... we don't have a common base-class for all DKPro annotations and I personally would prefer not to introduce one (gut feeling). If we had such a base-class, we could introduce all kinds of common features there and they would be automatically inherited. But we'd risk inheriting such common features where they are not actually needed and there is no way of "removing" features in subclasses.

[2015-07-10 08:52] reckart commented on #251
Btw. there are some considerations towards making JCas more dynamic in future versions of UIMA:

https://cwiki.apache.org/confluence/display/UIMA/Ideas+for+UIMAJ+v3#IdeasforUIMAJv3-AutomaticJCasGenofmergedtypesystem

[2015-07-10 09:10] logological commented on #251
Not only the instance IDs but the label IDs should be consistent from report to report.  Is there already an issue for that?

[2015-07-10 09:38] daxenberger commented on #251
Sounds good to me. That would require us to agree upon a common name for that field.

[2015-07-10 09:44] reckart commented on #251
It would merely require that you don't object to using "externalId" ;)

[2015-07-10 09:46] reckart commented on #251
Mind that "externalId" is the name I have in mind for DKPro Core. It implies that a single annotation type cannot have more than one external id. In case you store labelId and instanceId in a single type, a different DKPro TC solution would be required.

... or we could maintain multiple external IDs, e.g.

[code]

But I'm not sure... it seems a bit of an overkill. I believe in the majority of cas

[2015-07-10 10:01] daxenberger commented on #251
I'm not exactly sure whether I understand that request. units (TextClassificationUnit) and label (TextClassificationOutcome) annotations need to span across the same text. So it should be enough to have unique IDs with the units.
Or do you have another application in mind?

[2015-07-10 10:21] logological commented on #251
Currently `id2outcome.txt` uses numeric IDs for the classification outcomes, but (at least for cross-validation experiments) these IDs are not consistent from file to file.  For example, `BrownPosDemo` does a two-fold cross-validation.  One of the `id2outcome.txt` file uses the following mapping of numeric IDs to the original labels:

[code]

The other `id2outcome.txt` file uses a slightly differe

[2015-07-10 11:08] EmilyKJamison commented on #251
@Tristan: Whoops, we have two different discussions here.  User-set unit
ids is a separate issue from maintaining continuity in numeric ids of
classifications in a CV task.

@Johannes, CC:Tristan: Yes, TextClassificationUnit.setSuffix(String v) does
show up in id2outcome, along with the auto-generated numeric unit id.
AFAIK, the proposed issue is that it would still be desirable to remove the
auto

[2015-07-13 09:07] logological opened #252 "Use original (or at least consistent) outcome labels in id2outcome.txt"
Currently `id2outcome.txt` uses numeric IDs for the classification outcomes, but (at least for cross-validation experiments) these IDs are not consistent from file to file.  For example, `BrownPosDemo` does a two-fold cross-validation.  One of the `id2outcome.txt` file uses the following mapping of numeric IDs to the original labels:

[code]

The other `id2outcome.txt` file uses a slightly differe

[2015-07-13 09:07] logological commented on #251
OK, I've opened a separate issue for the outcome classification labels ([Issue 252](https://github.com/dkpro/dkpro-tc/issues/252)).

[2015-07-13 09:24] daxenberger commented on #251
Emily is right. These are two issues (the second to be tracked in Issue 252).
TextClassificationUnit.setSuffix(String v) does indeed show up in the id2outcome report. I'll add a line to the BrownCorpusReader to show its usage and to make it effective in the BrownUnitPOSDemo. This should solve the original request.

I'm leaving this issue open to integrate it with DKPro's externalId.

[2015-07-14 15:58] logological opened #253 "BatchCrossValidationReport throws ArrayIndexOutOfBoundsException when external resources are used"
When I define an external resource and pass it to a feature extractor using Groovy, my cross-validation experiments fail with an ArrayIndexOutOfBoundsException in BatchCrossValidationReport:

[code]

We do not currently have any Groovy examples demonstrating how to use external resources, so I will commit one.

[2015-07-14 16:07] logological commented on #253
In Commit 38585fc053da1db38637a71546a93907b0e640f6 I added de.tudarmstadt.ukp.dkpro.tc.groovyexamples.singleunit.BrownUnitPosExternalResourceDemo to the dkpro-tc-examples-groovy module.  This is an example of how to pass an external resource to a feature extractor in Groovy.  it triggers the above-noted crash.

[2015-07-15 14:27] logological commented on #253
On further testing, I think the proximate cause is that the `evaluation_results.csv` file which `de.tudarmstadt.ukp.dkpro.tc.ml.report.BatchCrossValidationReport.execute()` tries to read is not in the expected format.  In experiments which do not pass external resources to the feature extractors, the CSV files are relatively "normal" in that every logical line in the file corresponds to a single p

[2015-07-15 15:11] logological commented on #253
Tracing further back, the `evaluation_results.csv` files are produced by `de.tudarmstadt.ukp.dkpro.tc.ml.report.BatchTrainTestReport.execute()`.  The newline-containing entries are read from `DISCRIMINATORS.txt` (where the newlines are escaped as `\n`) but when `de.tudarmstadt.ukp.dkpro.lab.reporting.FlexTable<V>` writes them to the CSV, it unescapes the newlines.

So there are a lot of different

[2015-07-15 15:34] reckart commented on #253
Newlines between quotes should have no special meaning in CSV files. Only newlines outside quotes are meaningful, no?

DISCRIMINATORS.txt is a properties file. Again, the Java Properties class should be smart enough to escape/unescape and kind of characters that have a special meaning in properties files. It should also handle UTF-8 (un)escaping.

I looks like the CSV reader from OpenCSV doesn't p

[2015-07-15 15:39] reckart commented on #253
Looks like the CSV parser in Apache CSV is pretty competent and should be able to handle newlines between quotes nicely.

http://grepcode.com/file/repo1.maven.org/maven2/org.apache.commons/commons-csv/1.1/org/apache/commons/csv/Lexer.java#Lexer

It would probably be good to replace OpenCSV with Apache Commons CSV in Lab just to be consistent:

[2015-07-15 15:47] logological commented on #253
That's correct, for certain fancy CSV formats. (There's no one standard CSV format.)

I looked again at `BatchCrossValidationReport`—it looks like it's not (fully) using a CSV reader at all.  Rather, it uses `org.apache.commons.io.FileUtils.readLines(File)` to read lines one at a time.  I think that method is file format–agnostic; it just treats the input as a text file.  The only CSV-specific pro

[2015-07-15 15:48] reckart commented on #253
That said, you'd probably not render external resource descriptions into a descriminator anyway. This sounds more like something I'd use a ClosureDimension for, specially in Groovy. The idea here is that you name your values, e.g.:

[code]

What happens here is that we have a dimension with two values:
- first: { "one" }
- second: { "two" }

The values are actually named values. E.g. "first" it th

[2015-07-20 09:19] logological commented on #253
I'm just following the example given in `de.tudarmstadt.ukp.dkpro.tc.examples.single.pair.ExternalResourceDemo` – I suspect that this is currently the only way of passing resources to feature extractors.  (I think it's problematic for some other reasons as well, for which I'll probably file a separate issue.)

[2015-07-24 09:17] Horsmann opened #255 "TC model loading: .class files are not added to the classpath"
The current model loading still requires that the features are present in the classpath. TC itself does not really care about it anymore, but the underlying resource creation in UIMA complains if the resource (i.e. feature) that is used is not in the classpath.

This worked in the past (for me) because I had the respective projects that defined those features in my dependency hierarchy without not

[2015-07-24 09:29] Horsmann commented on #255
I added an inflection hack to add each of the .class files in the model folder to the classpath.
See TcAnnotatorUtil.java method addToClassPath();

Does anyone know an inflection-free way to add classes to the classpath?

[2015-07-24 09:36] reckart commented on #255
Typically you would use a custom classloader.

DKPro Core ResourceObjectProviderBase internally creates such a custom classloader in order to retrieve resources from auto-loaded JAR files.

There are some ways to configure UIMA to use a custom classloader for pipelines, but this is not accessible through uimaFIT - it would be necessary to use more basic UIMA API. E.g. UIMA uses this to support PEA

[2015-07-24 09:45] Horsmann commented on #255
Like I said, the loading of a model by TC does work. It is jsut at the point when UIMA creates the analysis engine when it is noticed that there are features which do no exist on the work space. Basically, adding the model does the trick for TC, but not for the UIMA part. UIMA is unaware that I have a folder in my model with class files I wish to be "noted as present and available".

I wonder if t

[2015-07-24 12:05] reckart commented on #255
Do you add the model as a Maven dependency?

Are the class files contained in a proper folder structure as mandated by the JAR specification, e.g. "org.lala.MyClass" should be in the JAR under "/org/lala/MyClass.class"?

The problem with the reflection-based approach (not inflection) is that it is not guaranteed to work on all Java platform implementations. You are not using a public API here.

[2015-07-24 12:17] Horsmann commented on #255
Yes and no.

The attached screenshots shows the current structure. The ant-script installs the entire folder under the ...////flextag path being unaware of the features class files in this subfolder.

So, if I would get the package-as-maven-artifact thing working I could simply move the features out of there current subfolder? Just by adding the model-artifact one would get the respective features

[2015-07-24 12:21] reckart commented on #255
If you moved the classes out of the `featureClassFolder` and into the JAR root, they would be on the classpath - actually they are already, but in a location where Java doesn't look for them.

Of course, you'd risk that different models that use different versions of these feature extractors could clash with each other. That clash could only be avoided by using a custom classloader.

[2015-07-24 13:17] Horsmann commented on #255
I think I prefer the custom classloader way. By placing the .class where java does not look for them it encapsulates the model better. I actually don't want that features defined in my models become _available_ to the project that uses the models. This is just an unexpected behavior.

I looked into the `ResourceObjectProviderBase` that you mentioned. I am not sure which part of the code actually a

[2015-07-24 13:26] reckart commented on #255
That's what I meant. `ResourceObjectProviderBase` doesn't add anything to the root classloader (as your hack does), it uses its own custom classloader.

[2015-07-24 13:31] Horsmann commented on #255
I am still unsure of how this works exactly. I have to trick UIMA not TC where and when would I have to place the custom class loader. The problem is that UIMA complains about a resource that is unknown. So how/where can I place an own loader that UIMA uses it?

[2015-07-24 13:58] reckart commented on #255
In general, the UIMA ResourceManager has methods called setExtensionClassPath(...) that could be used. However, the resource manager is created before a pipeline is started, e.g. in `de.tudarmstadt.ukp.dkpro.lab.uima.engine.simple.SimpleExecutionEngine`.

[2015-07-24 14:20] Horsmann commented on #255
That means I would need the awareness at program launch that I will use a TC trained model with user-defined features? This is supposed to be TC-local thing but it looks like it leaks down to the underlying UIMA framework. I wonder if such a solution is really preferable over reflection and keeping changes TC-local?

[2015-07-24 16:55] reckart commented on #255
This is about FEs that are UIMA external resources, right?

[2015-07-24 17:39] Horsmann commented on #255
Ehm, yes all FE inherit from `FeatureExtractorResource_ImplBase`

[2015-07-26 09:45] reckart commented on #255
Hm, the problem happens inside FlexTag around this point here, I guess:

[code]

If yes, then it should be easy to solve I guess. `AnalysisEngineFactory.createEngine` internally creates a resource manager:

[code]

If instead of calling `AnalysisEngineFactory.createEngine`, you would just do the above manually and while pass on your custom classloader to the `ResourceManager` created from `Resourc

[2015-07-28 06:27] Horsmann commented on #255
This worked, thanks a lot :+1:

[2015-07-28 06:30] #255 closed, assigned to nobody

[2015-08-04 20:38] zesch commented on #239
I have compiled the binary. Where should be store the files so that they can be installed with the script?

[2015-08-04 20:38] reckart commented on #239
How about bintray? https://bintray.com

[2015-08-04 20:39] reckart commented on #239
Btw. I'm planning to put stuff that was previously on google code downloads there too.

[2015-08-04 20:41] reckart commented on #239
There already is a "DKPro Core" org on bintray. We might consider renaming that to be in-line with the "DKPro" on Github. Then we could have multiple "repositories" within that org. I didn't check recently if they have any size limits.

[2015-08-04 20:47] zesch opened #257 "Test experiments should have limited runtime"
I have been running a lot of tests lately and the test experiments run quite a while.
We should limit the run-time for each test, e.g. by removing some of the test data.

[2015-08-05 06:57] daxenberger commented on #239
Why not store it with the models for other distributions on https://zoidberg.ukp.informatik.tu-darmstadt.de?
(public-model-releases-local:de/tudarmstadt/ukp/dkpro/tc/de.tudarmstadt.ukp.dkpro.tc.svmhmm-bin/20080814.0/de.tudarmstadt.ukp.dkpro.tc.svmhmm-bin-20080814.0.jar)

[2015-08-05 07:11] zesch commented on #239
For the final model .jar - yes sure.
I meant the compiled files that also need to be stored somewhere so that the build script can download them.
Of course we could skip that step, but it seems to be DKPro policy to do it that way.

[2015-08-05 07:14] reckart commented on #239
I published the resources separately
- so that the Ant script can pick them up (they don't have to be in the SVN/Git repo)
- so that people can use the resources independently from DKPro

If you directly generate JAR files and do not even use an Ant script, then uploading them directly to the Maven repo should be ok.

[2015-08-06 16:50] zesch opened #258 "BrownCorpusReader duplicated in SVMhmm module"
Is there a deeper reason behind that (it is almost a verbatim copy of the version in examples).
The example also seems to work fine with the other version.
I think the one in the SVMhmm module could be deleted.

[2015-08-06 17:16] daxenberger commented on #258
Maybe because ML modules should not have dependencies to the example modules (which are excluded from releases)?

[2015-08-06 17:18] zesch commented on #258
That's what I thought in the first place, but the reader is only used by the SVMhmm example in the examples module and not in the ML module itself :)

[2015-08-06 17:21] habernal commented on #258
Probably quick & dirty & bad refactoring from my side :) No deep reasons, feel free to delete it.

[2015-08-06 17:32] #258 closed, assigned to nobody

[2015-08-06 19:32] zesch commented on #188
I have created a first version for this issue.
ValidityCheck is now split into a pre-preprocessing that checks early if the setup is valid (this is only run once for the first CAS) and a post-preprocessing step that checks for outcome & unit annotations (this is run for each CAS).

TwentyNewsgroupStandardReader demo shows how to use that for single label/document setup.

[2015-08-07 11:35] daxenberger commented on #188
Thanks.
TODO: test for unit/sequence/pair feature mode, and multi-label/regression learning mode.

[2015-08-08 17:44] reckart opened #259 "Shove documentation from wiki into asciidoc"
Shove the information from the old Googlecode Wiki into asciidoc format.

[2015-08-09 18:58] kulukimak opened #260 "id2outcome.java does not allow for spaces in labels"
_Releveant class:_

[code]

_Relevant function:_

[code]

Since getLables() splits labels on spaces it does not allow for labels to contain spaces themselves:
_Relevant part:_

[code]

Is this intended behavior? Working with crfsuite the labels are used "as is" which in my case means containing spaces. This generally results in an ArrayIndexOutOfBoundsException, though running with labels without

[2015-08-10 07:38] daxenberger commented on #260
It's probably better not to set restrictions on the label strings. Thus, we need to make sure that either the relevant functionality in the Id2Outcome class is changed, or that label strings get escaped by default (and independent of the ML framework used). I'll have a look at this.

[2015-08-10 10:59] reckart commented on #259
Documentation auto-built by Jenkins:
- [User Guide](https://zoidberg.ukp.informatik.tu-darmstadt.de/jenkins/job/DKPro%20TC%20Documentation%20%28GitHub%29/de.tudarmstadt.ukp.dkpro.tc$dkpro-tc-doc/doclinks/1/)
- [Developer Guide](https://zoidberg.ukp.informatik.tu-darmstadt.de/jenkins/job/DKPro%20TC%20Documentation%20%28GitHub%29/de.tudarmstadt.ukp.dkpro.tc$dkpro-tc-doc/doclinks/2/)

[2015-08-10 12:22] daxenberger commented on #259
Looks good. Thanks :)

[2015-08-10 13:36] daxenberger commented on #260
Should be fixed in 13158f4436fbf9a0185fc499e788b074c9db6ab2. Please verify

[2015-08-15 16:00] mwunderlich opened #261 "ClassificationUnitCasMultiplier does not set "isLastSegment" flag"
The ClassificationUnitCasMultiplier is currently not setting the isLastSegment flag which is required for a second CAS multiplier to be able to merge the results of the multiplier step back into one CAS.
For details on CAS merging see:
https://uima.apache.org/downloads/releaseDocs/2.1.0-incubating/docs/html/tutorials_and_users_guides/tutorials_and_users_guides.html#ugr.tug.cm.using_cm_to_merge_cas

[2015-08-17 16:05] daxenberger commented on #261
Sounds reasonable. I don't think there is any reason why this flag has not been set. Please go ahead.

[2015-08-17 17:11] #261 closed, assigned to mwunderlich

[2015-08-17 17:11] mwunderlich commented on #261
Done: 1bb68516aacc76953ed64460a52c359ba5b17dd4

Cheers,

Martin

[2015-08-21 12:05] mwunderlich opened #262 "AnnotationHelper should be setting IDs on the created TC units."
I guess incremented integers starting from 0 should be sufficient.

[2015-08-21 19:26] mwunderlich opened #263 "UnitContextMetaCollector should not output the context for all units for each multiplied CAS"
In a TC context, the CAS might come from a CAS multiplier step and therefore the same document text would be output as many times as there are TC units in the text. Once is enough.

[2015-08-21 19:52] #262 closed, assigned to nobody

[2015-08-21 19:52] #263 closed, assigned to nobody

[2015-08-24 14:56] mwunderlich opened #264 "DKpro TC 0.8.0-SNAPSHOT does not work with Lab 0.12.0-SNAPSHOT"
There are some incompatilibities caused by the modifications to the BatchTask implementation. Most of the required fixes in TC are already done in this branch here:

https://github.com/dkpro/dkpro-tc/tree/DKPro-Lab_Migration_to_0.12.0-SNAPSHOT_WIP

However, there are still failing unit tests in some of the examples, which needs to be looked into.

[2015-08-25 08:10] mwunderlich commented on #264
Fixed by Richard.

[2015-08-25 19:42] mwunderlich opened #265 "Update Apache commons-io to 2.2. or higher"
The version currently used (2.0.1.) is five years old.

Once the lib is updated, FileUtils should be used in ContextCollectorUFE.writeOutput() to avoid getting a literal "\t" instead of a tab character in the output file.

[2015-08-25 19:48] reckart commented on #265
I'd say feel free to update, how about version 2.4? I'll also make the upgrade in Core (unless it breaks something).

[2015-08-25 20:20] mwunderlich commented on #265
2.4 sounds good. :)

[2015-08-26 21:19] mwunderlich commented on #265
I had a look where the version for commons-io is derived from (its a managed dependency) and I found it in DKpro Core: dkpro-core/de.tudarmstadt.ukp.dkpro.core-asl/pom-xml
So, as soon as you have made the change there, it should trickle down to the other projects and modules.

[2015-08-26 21:23] reckart commented on #265
The change in Core is already done: https://github.com/dkpro/dkpro-core/commit/fa30944c24bdce1915a1e481f6817fe6ed0b46c8

[2015-08-26 21:35] mwunderlich commented on #265
Ah, ok. Sorry, I should have checked.

[2015-08-27 10:06] mwunderlich commented on #265
Just one more thing. Dkpro TC is currently using the release version of Dkpro Core (1.7.0). In order to make this update available, we'd have to use 1.8.0-SNAPSHOT instead.
Is there anything that would speak against using the Snapshot version?

[2015-08-27 10:16] zesch commented on #265
It is a matter of release cycles.
Once we have the Core snapshot in TC, a TC release is bound to a Core
release.
Given the periodically rapid development of TC, this might cause problems.

@Richard: Is there already a release plan for the next Core version?

-Torsten

2015-08-27 12:06 GMT+02:00 Martin Wunderlich notifications@github.com:

[2015-08-27 17:53] mwunderlich opened #266 "Potential MetaData error in ClassificationUnitCasMultiplier"
When the processed CAS already contains an annotations for DocumentMetaData, the following will produce an error further downstream:

[code]

This can lead to a situation where the CAS has two MetaData annotations, which leads to the following error:
java.lang.IllegalArgumentException: java.lang.Throwable: CAS contains more than one de.tudarmstadt.ukp.dkpro.core.api.metadata.type.Document

So, the

[2015-08-29 09:01] reckart commented on #265
There is no release plan for DKPro Core 1.8.0 yet. We have sufficient changes to make a release, but nobody stepped up so far to drive the release. Also, the release guide probably needs quite some updating after the move to Github - and various decisions need to be made regarding what to drop fro 1.8.0 because it is not ready/mature/etc. But this is not the right venue to discuss details.

[2015-09-01 12:47] daxenberger commented on #265
I would not want to be dependent on the Core 1.8.0 release for the next TC release. Unless this is a blocker, I'd like to wait with the upgrade to Core 1.8.0-SNAPSHOT. AFAIK, Core 1.8.0 also requires Java 8 which TC currently does not support.

[2015-09-01 12:51] daxenberger commented on #266
This could be avoided by a simple check if I am not mistaken.

[2015-09-01 12:52] reckart commented on #265
Yep. Core is on Java 8. Likewise DKPro Lab 0.12.0-SNAPSHOT since yesterday (and yes, I already started using Java 8 features).
But just for upgrading a few dependencies, it isn't necessary to wait for a new DKPro Core release (I wouldn't agree with renaming the issue rather with opening another one). Just add managed dependencies for those libraries you want to upgrade to the TC pom. This works fi

[2015-09-01 12:59] daxenberger commented on #265
Agree. That makes two new issues: Upgrade to Java 8 and upgrade to Core 1.8.0 (once it's released).

[2015-09-01 13:00] daxenberger opened #267 "Upgrade to Java 8"
DKPro Lab 0.12.0-SNAPSHOT uses Java 8.

[2015-09-01 13:02] mwunderlich commented on #265
Hi Johannes,

Are there any known issues with Java 1.8 in TC?

Cheers,

Martin

[2015-09-01 13:08] daxenberger commented on #265
No, not yet ;-)
Maybe some of the internal libraries we're using, but I don't think that's too much work.

[2015-09-01 13:09] reckart commented on #265
Java 8 is a bit more picky about correct Javadoc formatting ;)

[2015-09-01 13:13] daxenberger commented on #265
Jepp; that might be most work-intense part ...

[2015-09-01 16:23] daxenberger opened #268 "Use explicit names for Discriminators"
This is now in DKPro Lab now and should be applied in TC. See https://github.com/dkpro/dkpro-lab/issues/82.

[2015-09-02 07:24] daxenberger opened #269 "Replace @author annotation in source by a contributors.txt file"
This change is in line with best practice in DKPro Core and DKPro Lab.

[2015-09-02 10:21] reckart commented on #267
Due to the dependency on DKPro Lab 0.12.0-SNAPSHOT, I've already changed the Jenkins build to use a JDK 8.

[2015-09-02 12:50] daxenberger commented on #264
There are a couple of things left - most tests are currently failing at runtime. I suspect this is related to DKPro Lab 0.12.0-SNAPHOT.

[2015-09-02 12:55] daxenberger commented on #269
Also, refer to contribution guidelines at https://dkpro.github.io site and DKPro Code Style file for Eclipse at http://dkpro.github.io/contributing/ (on GitHub pages).

[2015-09-02 14:10] mwunderlich opened #271 "DetailedOutcomeReport: Only one report is created for several test tasks"
In an experimental setting with several Weka test tasks, such as a feature ablation experiment, only one detailed outcome report is generated. The detailed outcome report file resides in the Evaluation directory and possibly gets overwritten for each test task. There should be one report per test task, preferably referencing the test task by ID and maybe even including the features.

[2015-09-02 14:12] reckart commented on #271
How can a report output be overwritten? Reports run only once and task context are not reused.

[2015-09-02 14:25] mwunderlich commented on #271
Just a first hypothesis of what the cause might. Could very well be something else, as I haven't looked into it closely, yet.

[2015-09-02 14:41] reckart commented on #271
If the "AccessMode" (readonly, readwrite, addonly) parameter is correctly specified on these methods

[code]

then DKPro Lab should take care of copying any imported data to the current context such that no data once written is ever changed after a task execuction is complete.

[2015-09-02 16:14] mwunderlich commented on #271
I had a closer look now and I think the error is in the way the relevant test task is determined:

[code]

If there are more than one test task, this will only take into account the predictions from the last one in the loop. I'll get that fixed.
(in a comment in the above, I even noted at the time I wrote the code that this is a bad hack; what goes around, comes around)

[2015-09-02 16:31] daxenberger commented on #271
At the Batch (=top/experiment) level, reports need to be aware that such kind of loops

[code]

potentially react to various tasks of the same kind (here: TestTasks).
See e.g. BatchTrainTestReport on how to deal with this.

The note about the bad hack is much older - now you know why this is not the optimal solution. We need a better way to refer to certain kinds of tasks here.

[2015-09-02 16:38] mwunderlich commented on #271
Ah, yes, you're right. That wasn't even my comment about the bad hack. Phew. :)

[2015-09-03 21:47] mwunderlich opened #272 "Potential Exception in ClassificationUnitCasMultiplier"
When a CAS which does not have any "TextClassificationUnit" annotations reaches the ClassificationUnitCasMultiplier in Unit mode, the following line will throw an Exception:

[code]

This can easily be avoided by checkin in the proces() method whether or not the TC unit iterator has any elements.

[2015-09-03 23:05] reckart opened #273 "NPE in number/string parsing in reports"
In BatchCrossValidationReport, I am now seeing an NPE here:

[code]

This is because for the first value `0.0`, the sVals is set to null and for the second value `[]` parsing as a double fails.

[code]

Any idea?

[2015-09-04 10:53] daxenberger commented on #272
This was closed by commit 1881545ead548bcdf3fd587f96ddfc1edc46f9d7.

[2015-09-04 10:53] #272 closed, assigned to mwunderlich

[2015-09-04 13:06] mwunderlich commented on #272
Ah, yes, sorry. I thought it would be closed automatically by the commit message with issue ID. Maybe you need the '#' char for that to work.

[2015-09-04 13:16] #273 closed, assigned to nobody

[2015-09-04 13:22] daxenberger commented on #273
This happened because the values for the (empty) featureFilters dimension were "changed" after the first execution of the ExtractFeaturesTask. It is both a TC issue (the "default" value for this discriminator was set too late) as well as a Lab issue (which behaves a bit counter-intuitive here).

[2015-09-04 14:42] daxenberger commented on #273
See also https://github.com/dkpro/dkpro-lab/issues/85.

[2015-09-04 15:23] daxenberger opened #274 "Broken tests"
A couple of tests are failing since the last changes in DKPro TC, among them ClassificationUnitCasMultiplierTest (package core), ExternalResourceDemo (package examples - UnresolvedImportException), and potentially others which I have't checked yet.

[2015-09-04 15:26] daxenberger commented on #239
Hm, I'm still getting java.io.FileNotFoundException: No file found at [classpath:/de/tudarmstadt/ukp/dkpro/tc/svmhmm/osx-x86_64/manifest.properties] when running de.tudarmstadt.ukp.dkpro.tc.examples.single.sequence.BrownPosSVMHMMDemoTest on OSx. Can anybody reproduce this?

[2015-09-04 15:33] zesch commented on #239
The binary is there and this used to work.
However, I have another user report with the very same error.
It remains unclear whether this is related to this issue or a new one regarding e.g. the Java8 move.

[2015-09-05 09:37] reckart commented on #239
To those where the binary does not work: what happens when you extract it from the JAR to disk and try to run it simply on the command line?

Maybe the binary is no longer compatible with the latest OS X?

[2015-09-05 09:44] zesch commented on #239
I build the binary with the latest OS X.

[2015-09-05 09:49] reckart commented on #239
Ok, I just ran this. This is the JAR where the binaries are supposed to be: `de.tudarmstadt.ukp.dkpro.tc.svmhmm-bin-20080814.0.jar` - but that one contains only linux (32/64 bit) and windows (32 bit).

Is there maybe a newer build.xml to build a newer JAR version that should be uploaded to UKP OSS and that should be used?

[2015-09-05 09:52] reckart commented on #239
@zesch when you added the OS X stuff to the build.xml you did not update the version in the build.xml and possibly not upload a new version to UKP OSS. Even if you uploaded a current JAR, since the version did not change, people that already had the previous JAR cached will not get the latest JAR.

If you make changes to a JAR and do not want to change the "date version" (`20080814`) e.g. because

[2015-09-05 10:14] zesch commented on #239
Right I forgot that.
What should be the version then 20080814.1 or 2015something?

[2015-09-05 10:16] reckart commented on #239
You could make the decision based on the latest change to the sources / timestamp of the sources - or you could base on the latest build. If I'm using pre-built binaries from third parties, I usually use the date of the build. But if all the executables are built by the TC team, you might consider the date of the sources more convenient. If in doubt, maybe throw a coin but then remain consistent f

[2015-09-05 10:28] zesch commented on #239
I committed the script with updated version and uploaded the jar.
Please test.

[2015-09-06 09:57] #239 closed, assigned to zesch

[2015-09-06 16:57] reckart opened #275 "LuceneKeywordPFE JavaDoc missing references"
Fields referenced in JavaDoc of LuceneKeywordPFE no longer exist:
- `PARAM_NGRAM_USE_TOP_K_ALL
- `PARAM_USE_VIEWBLIND_NGRAMS_AS_FEATURES`

[2015-09-07 14:14] daxenberger commented on #239
Works now.

[2015-09-09 17:29] daxenberger commented on #264
Ok, tests are passing now.

[2015-09-09 17:29] #264 closed, assigned to reckart

[2015-09-10 07:49] daxenberger commented on #274
Build is stable since the last commits.

[2015-09-10 07:49] #274 closed, assigned to nobody

[2015-09-10 20:36] #266 closed, assigned to mwunderlich

[2015-09-10 20:37] mwunderlich commented on #266
I have created a fix for this issue, based on the observed properties of the superfluous metadata annotation. It is a bit strange, though (both the bug and the fix).

[2015-09-11 12:36] daxenberger opened #276 "Upgrade to meka 1.9.0"
Meka 1.7.7 is now available from maven central.

[2015-09-14 06:53] zesch opened #277 "Example for experiment over varying preprocessing"
After some discussion on the dev list (and offline with @reckart ), we decided not to make preprocessing a new dimension but to provide an example that changes preprocessing based on user defined dimensions such as "useStemming".

[2015-09-14 09:16] logological opened #278 "Remove Google Code build jobs on Jenkins"
If/when they are no longer in use, please remove this project's Google Code build jobs on Jenkins:
- [DKPro Text Classification Framework (Google Code)](https://zoidberg.ukp.informatik.tu-darmstadt.de/jenkins/job/DKPro%20Text%20Classification%20Framework%20%28Google%20Code%29/)
- [DKPro Text Classification Framework 0.3.x Branch (Google Code)](https://zoidberg.ukp.informatik.tu-darmstadt.de/jenkin

[2015-09-14 09:24] daxenberger commented on #278
Done.

[2015-09-14 09:24] #278 closed, assigned to nobody

[2015-09-15 12:59] reckart commented on #277
Looks ok - I have condense the code a bit.

In my opinion, there should be a getPreprocessing() method and the field should be private in ExperimentCrossValidation. Then I might not even override initialize() but directly getPreprocessing (well, right now there are various pros/cons and doing so would not be the best choice).

With the changes, I think preprocessing should be turned into an option

[2015-09-15 13:14] daxenberger commented on #277
Richard's suggestion sounds reasonable to me. Unless anybody objects, we can introduce getPreprocessing() and make the constructor parameter optional.

[2015-09-15 17:58] zesch commented on #277
+1

Preprocessing should be optional in a strict sense anyway :)

2015-09-15 15:14 GMT+02:00 Johannes Daxenberger notifications@github.com:

[2015-09-15 18:02] zesch opened #279 "Remove preprocessing from constructor arguments of experiments"
This should rather be a setter.

[2015-09-16 14:02] daxenberger commented on #267
This can be closed now.

[2015-09-16 14:02] #267 closed, assigned to nobody

[2015-09-17 11:01] zesch commented on #279
Done.

[2015-09-17 11:01] #279 closed, assigned to zesch

[2015-09-17 11:24] zesch opened #280 "Allow to drop invalid CASes (optional)"
There should be a way to configure an experiment to ignore invalid CASes, e.g. if they do not contain any TCUs

[2015-09-17 19:11] #280 closed, assigned to nobody

[2015-09-17 19:35] zesch commented on #226
The one in readability is more comprehensive than the one in style, but people might not be looking in readability for TTR features.
I am unsure how to resolve this.

[2015-09-17 19:58] reckart commented on #226
Create an overview over all FEs in Asciidoc ;)

[2015-09-18 18:20] #265 closed, assigned to mwunderlich

[2015-09-18 18:36] #119 closed, assigned to nobody

[2015-09-21 18:56] Horsmann commented on #95
Bug fixes introduced a N-times higher memory demand

[2015-09-23 19:55] Horsmann commented on #95
What is left to do:
A feature extractor might still return the same feature twice and an instance thus might have the same feature two or more times (if the user does not pay attention).

Attempts to solve this:
- Keep a namelist in the Instance.java to track if the same name has been added before
- Using TreeSets instead of a List to store the features

Issues:
- Keeping track of the names in the

[2015-09-23 19:57] reckart commented on #95
How many unique feature names do you typically have?

[2015-09-23 20:00] Horsmann commented on #95
836 at the moment. By using a Set to store all names in each Instance, an instance would have to store all 836 names. The WSJ has around 1.100.000 tokens, this easily adds up.

[2015-09-23 20:07] reckart commented on #95
Sure ;) If you create new instances of the names every time, you'll clogg your memory. When you create a new feature name, use `intern()` to get a unique instance. In that way you make sure that for every unique String you only have a single instance in memory:

[code]

[2015-09-23 20:48] zesch commented on #95
This is actually not possible, as all FEs now have Set<Feature> as return type.

Regarding the feature stores: There is certainly endless potential to optimize them further :)

[2015-09-23 20:53] reckart commented on #95
Are you sure? The equals/hashCode/compareTo functions of Feature do not only take the name into account but also the value. Unless you use a set with a custom comparator, the same feature could still be added as along as it has a different value.

[2015-09-23 20:55] zesch commented on #95
This is a bug then. It should only depend on the name.

[2015-09-24 07:49] daxenberger commented on #259
Closing this. Documentation is moved.

[2015-09-24 07:49] #259 closed, assigned to reckart

[2015-09-24 09:05] Horsmann commented on #257
Test of the example-project run now a bit less than 10 minutes on my machine.

I deleted quite a lot training data. Many tests had for no clear reason SVM and NaiveBayes as ML classifier. I assumed these were copy/paste artifacts. Same for different feature configurations. I furthermore removed the N for the Ngram features down from 1000 to 100 etc.

[2015-09-24 10:03] Horsmann commented on #257
A further option for speeding things even more up would be to either CV or either TrainTest. Atm this is seems to arbitrary. Some test both, some only CV and others only TrainTest.

Any thoughts on this? I would tend to go on TrainTest and only in one case on CV to have it covered.

[2015-09-24 10:11] daxenberger commented on #257
I think we should have one TrainTest and one CV example and test case for each feature and each learning mode. So far, this has not been implemented consequently, I guess.

[2015-09-24 10:15] Horsmann commented on #257
The most tests seemed to have a lot copy / paste artifacts such as feature ablation tests, several classifier (most the time only SVM and NavBay). This slowed things down additionally especially in the CV mode.

So you want one huge test with all TC features that iterates all ML classifier? While the actual "api examples" run than only in TrainTest?

[2015-09-24 10:22] daxenberger commented on #257
Nope. I suggest to have for each feature mode (document, unit, sequence, pair) and for each learning mode (single-label, multi-label, regression) one demo experiment and consequently one test case, which ensures that this configuration can also be executed (we introduced such tests to make sure we note when a modification breaks any of the several experiment setups as we do not have low-level unit

[2015-09-24 11:57] Horsmann commented on #257
In total my changes saved 25 minutes Jenkins build-time. It still takes 30 minutes for the Java experiments and 25 for the Groovy experiments (untouched).

[2015-09-24 12:08] zesch commented on #257
That is already quite good.
For further savings we might want to ignore some tests that are not testing any new combination of learning/mode feature mode (if we still have such duplication in the tests).

Another optimization would be to use NaiveBayes as the default not SMO, which should be much faster.

[2015-09-24 12:16] Horsmann commented on #257
I think the tests do not really have to use all those reports? They also take some time?
We have two goals here which is probably another issue
1) documentation / how-to-use X
2) integration tests

The former probably should have the reports the latter should not - at least not in every single test.

[2015-09-24 12:49] daxenberger commented on #257
Reports should be tested via integration as well, but only once, I agree.

[2015-09-24 13:34] Horsmann commented on #257
Ok
- I set Naive Bayes as classifier in case the test is not about testing specific ML adapters
- Added a package with two new tests dedicated to reports
- Outcommented all reports unless the demo used some specific tests (e.g. liblinear)

This should have made things even faster. Lets see what Jenkins says.

[2015-09-24 14:38] Horsmann commented on #257
The change was not very effective, the example module still needs 30 mins.

The next chance for improvements would be more consolidated tests. I assume loading the entire CV and TT Lab-Stuff anew in the background drains also some CPU time. It would probably better to test more things in a single test - for the Jenkins runtime at least. Readability might suffer and it wouldn't be clear anymore wha

[2015-09-24 14:43] zesch commented on #257
Do we know which task now eats up the most time?
Maybe it is now preprocessing or feature extraction and not classification.

2015-09-24 16:38 GMT+02:00 Tobias Horsmann notifications@github.com:

[2015-09-24 15:01] Horsmann commented on #257
The following 3 demos seems obsolete
de.tudarmstadt.ukp.dkpro.tc.examples.single.document
- SimpleDkproTCReaderDemo
- TwentyNewsgroupsStandardReader
- TwitterSentimentDemo

Would someone miss them?

Attached the runtimes on my local machine for each test - the AblationTest is stuck at snail-speed
![runtime](https://cloud.githubusercontent.com/assets/8234699/10076845/d7bebf50-62dd-11e5-80a5-06880f6

[2015-09-24 15:23] daxenberger commented on #257
Yes, at least TwitterSentimentDemo is the reference demo we used in the DKPro TC ACL demo. No need for a test, though.
Not sure about the other ones.

[2015-09-24 15:54] zesch commented on #257
I don't really know what was the purpose of the SimpleDkproTCReaderDemo.
Probably it was introduced when we added the (now somewhat) obsolete
TCReader interface and base classes.

TwentyNewsgroupsStandardReader is definitely needed.
Maybe the name is not optimal, but this is the only demo we have which uses
a standard Core reader and a specialized AE to set the TCO annotation.
This should also kee

[2015-09-24 17:43] Horsmann commented on #257
@daxenberger this implies the Twitter training data should stay complete, too? I actually deleted some of it. I can restore it and simply remove the Demo from the TestCases.

[2015-09-25 06:32] zesch commented on #257
The amount of data for the Twitter demo should be enough to showcase what
is going on.
The current amount might not be enough for that.
So, yes. Please restore the data and remove the demo from test cases.

2015-09-24 19:43 GMT+02:00 Tobias Horsmann notifications@github.com:

[2015-09-25 07:09] daxenberger commented on #257
Yes, thanks.

[2015-09-25 07:59] zesch opened #281 "BatchRuntimeReport does not work for cross validation setup"
As we are now using an inner batch task for cross validation, the runtime report does not work anymore.
It only see the ExperimentCrossValidation task, but not the subtasks of the inner batch task.

The report still works fine for train/test.
As cross validation is basically n-times train/test it might work to use the runtime report on the inner batch and then sum up the results.

[2015-09-25 12:32] Horsmann commented on #221
This bug is best handled in the Experiment_ImplBase

I think it is easier to define what is allowed than what is not.
How about
a-z, A-Z, 0-9, hyphen, underscore

I would then auto-replace each illegal character with a hyphen or do you see any problems  with that?

[2015-09-25 12:38] zesch commented on #221
This might not work, e.g. if the illegal character is the first in the string this could lead to serious problems downstream.

Maybe just throw a meaningful exception and let the user select a better name? :)

[2015-09-25 12:49] Horsmann commented on #221
An exception is throw if anything other than [a-zA-Z0-9-_] is found in the name

[2015-09-25 12:49] #221 closed, assigned to nobody

[2015-09-27 17:06] Horsmann opened #282 "Model saving/loading of SVMHMM models"
Making the next classifier available for the TC model storing/loading

[2015-09-27 18:52] Horsmann commented on #282
In the SVMHMM module are many calls such as this one:

`File trainingDataStorage = aContext.getStorageLocation(TEST_TASK_INPUT_KEY_TRAINING_DATA,
                StorageService.AccessMode.READONLY);`

getStorageLocation() seems to be deprecated - which API call is the new one?

[2015-09-27 20:05] Horsmann commented on #282
ToDo:
- The classification arguments need to be serialized, too
- Testing

[2015-09-28 07:27] reckart commented on #282
As it says in the JavaDoc for `TaskContext.getStorageLocation(String, AccessMode)`:

[code]

[2015-09-28 08:43] Horsmann opened #283 "Model Saving/Loading: Feature dependencies to local work space"
Hi,
I noticed a new dependency of the features we export with a model.

Take for instance the feature below:

I call a `NormalizationUtils`method which lies in my local workspace. This dependency is not exported with the feature. Trying to run the model will then fail with a ClassNotFoundException. (unless this project /class happens to be by chance somewhere in the class path)
Anyone any ideas ho

[2015-09-28 09:01] reckart commented on #283
I believe the contract we had was that feature extractors must be self-contained and can only depend on tc-(core). So I'd say, do not have such external dependencies. E.g. copy the methods into the FE class.

[2015-09-28 11:50] Horsmann commented on #283
I like this contract. :+1:

[2015-09-28 11:50] #283 closed, assigned to nobody

[2015-09-28 15:11] Horsmann opened #284 "SVMHMM: crashes with BatchTrainTestReport"
Hi,

for testing purposes I added the BatchTrainTestReport.class as report to the `BrownPosSVMHMMDemo` in the `de.tudarmstadt.ukp.dkpro.tc.examples.single.sequence` package

I returned to an older commit a50600 to make sure that this bug was not newly introduced by the latest changes. It remained unnoticed because the Demo did not make use of any reports. Which module is supposed to create this re

[2015-09-28 15:41] daxenberger commented on #284
Hi Tobias,

results.prop (as defined in Constants.RESULTS_FILENAME) is the name of a
file generated by the ML TestTask which holds the results of the internal
evaluation carried out by the ML framework (copied to the final results
file, or averaged in case of CV). This has not been implemented for each
ML framework (apparently not for SVMHMM) and should be replaced anyway by
the using the new eval

[2015-09-29 09:46] Horsmann commented on #284
Hi
thanks so far.

I added the `SVMHMMOutcomeIDReport.class` as report hoping it would create the id2outocome report for the new evaluation modules, but unfortunately this report crashes as well.

The report has a method `loadGoldAndPredictedLabels()` which is called several times. It looks for a mapping file which is located in the `SVMHMM-**/output` folder. This file is found for the first few c

[2015-09-29 10:07] daxenberger commented on #284
Tobias, have you had a look at de.tudarmstadt.ukp.dkpro.tc.svmhmm.SVMHMMAdapter? The adapter specifies all necessary reports and at least in the respective demo (BrownPosSVMHMMDemo), they appear to work.

[2015-10-04 12:51] #282 closed, assigned to Horsmann

[2015-10-04 12:51] #284 closed, assigned to nobody

[2015-10-04 12:53] Horsmann commented on #35
This one can be closed, too?

[2015-10-05 07:04] daxenberger commented on #284
@Horsmann: How did you finally resolve this one?

[2015-10-05 07:19] daxenberger commented on #35
I think so. A demo for reusing SVMhmm models would be nice.

[2015-10-05 08:31] Horsmann commented on #284
I think there is just no report for calculating accuracy so I hacked an own additional report for counting by using one of the files that are created. The module does not create a outcome2Id report, at least not in the format of the others. Instead a `outcomesGoldPredicted.csv` is created which is not exactly the same.

[2015-10-05 08:36] Horsmann commented on #35
There is a `SVMHMMSaveAndLoadModelTest` which is the same as for CrfSuite?

[2015-10-05 08:44] daxenberger commented on #35
Ah, in the test package. Alright, I missed that one. Ok, fine. I think we can close this.

[2015-10-05 08:44] #35 closed, assigned to nobody

[2015-10-06 13:48] Horsmann opened #285 "Model Saving/Loading: Store TC version used for training"
Hi,
an open point for the model saving/loading is storing the TC version under which a model was trained.

It is in general a good idea to be able to associate a model with a certain TC version.

This would be helpful to point the user to potential problems in the version of TC used for training the model and the one that is used at the moment. For instance the recent API changes of the FE now ret

[2015-10-06 15:25] reckart commented on #285
Well, you can check for example how ResourceObjectProviderBase.getModelVersionFromMavenPom() works in principle. I'm sure there are other options as well.

[2015-10-14 06:47] Horsmann commented on #285
Thx, I can read the version if I run the code from Eclipse, but reading the version from the jar to let it work with Jenkins is not yet working.

I skipped some of the code because I didn't know how to initialise it. This is probably why :). The method you link calls at the beginning:

[code]

[2015-10-14 13:22] reckart commented on #285
I think getting artifactId / groupId is not relevant for your case - only the part that actually parses the POM should be relevant for you.

In order to locate the pom, you should probably use some method to find out the URL where your FE class was loaded from and then use it to construct a new URL that points to the typical location of the pom.xml. E.g if FE was loaded from JAR x, then the pom sh

[2015-10-15 15:43] Horsmann commented on #285
Is there a way to simulate the access if packed as jar? It works in Eclipse but fails on Jenkis.

Atm I try this and I get an error that the "URI is not hierarchical"

[code]

[2015-10-15 15:45] reckart commented on #285
Well, you cannot work with File. The URLs may not point to a location on the file system. You need to access the URL via a stream (https://docs.oracle.com/javase/tutorial/networking/urls/readingURL.html)

[2015-10-20 06:22] daxenberger commented on #252
InnerBatchUsingTCEvaluationReport now generates a file "id2harmonizedOutcome.txt" in the crossvalidation context folder.

[2015-10-20 06:22] #252 closed, assigned to nobody

[2015-10-20 18:08] Horsmann commented on #285
So I have to stream it and store it in a temporary location to process it further or would it be better to grab the <version> tag from the input stream?

[2015-10-20 18:25] reckart commented on #285
Just stick with the stream. In general: stick with streams as long as you can and only materialize them as (temp) files if there is absolutely no other way.

[2015-10-26 07:04] Horsmann commented on #285
It is still not working :(

The path that is used seems basically right, though.

[code]

My code looks like this atm:

[code]

[2015-10-26 07:06] reckart commented on #285
What does not work?

[2015-10-26 07:07] Horsmann commented on #285
The pom.xml is not found (if run on jenkins - locally everything works)
/home/svc_jenkins/workspace/DKPro Text Classification Framework (GitHub)/dkpro-tc-core/target/dkpro-tc-core-0.8/pom.xml (Datei oder Verzeichnis nicht gefunden)

[2015-10-26 07:11] reckart commented on #285
Depending on whether you run this in Eclipse or in a regular Maven build on the command line (or as part of an experiment) the POM is in a different place.

Cf. ResourceObjectProviderBase.getModelVersionFromMavenPom() line 3500ff

It is never in "target/pom.xml"

[2015-10-26 07:27] reckart commented on #285
Btw. you also cannot rely on the order of "version" elements in the XML file. The first version in the file is not necessarily _the_ version - it can also be a dependency version for example. Using a proper XML (or POM) parser should be more robust.

[2015-10-26 07:29] Horsmann commented on #285
Is there any way to debug that? Everything works locally and waiting for Jenkins to build lets me only now fail/success but never get a chance to see which part of the code is working.

[2015-10-26 18:53] Horsmann opened #286 "CRFsuite: Add a train-test sub-class that automatically stores the model after the train/test run"
because it is convenient

[2015-10-27 13:10] #275 closed, assigned to EmilyKJamison

[2015-10-27 19:09] zesch commented on #257
We have reduced run-time quite a bit.
Please re-open if you feel that this hasn't been properly resolved yet.

[2015-10-27 19:09] #257 closed, assigned to nobody

[2015-10-28 08:55] reckart commented on #285
Jenkins performs a build equivalent of a Maven command line build. On how to debug these, see e.g.
- https://doc.nuxeo.com/display/CORG/How+to+Debug+a+Test+Run+with+Maven
- http://maven.apache.org/surefire/maven-surefire-plugin/examples/debugging.html

[2015-11-04 13:44] Horsmann commented on #39
how far is this issue? Is this usable yet?

[2015-11-12 14:22] daxenberger commented on #276
meka 1.9.0 is a major release and fully mavenized.

[2015-11-13 14:24] #285 closed, assigned to nobody

[2015-11-13 14:26] Horsmann commented on #39
@daxenberger ping :)

[2015-11-13 16:27] daxenberger commented on #39
We have implemented a prototype of this, but not merged it into the trunk yet.
If you want to play with it, have a look at the code in the issue-39 branch, in particular into the examples/single/document/BasicTwentyNewsgroupsDemo class.

[2015-11-16 10:01] daxenberger opened #287 "BatchTrainTestReport writes faulty id2outcome.txt"
BatchTrainTestReport (which is used in both TrainTest and CV scenarios) writes a id2outcome.txt without headline and it does not harmonize the mappings between labels and indices across CV runs. It should be stepwise replaced by the new evaluation module and respective reports.

[2015-11-16 11:19] daxenberger commented on #287
As a replacement, InnerBatchUsingTCEvaluationReport should be used.

[2015-11-16 11:19] #287 closed, assigned to nobody

[2015-12-29 22:06] Horsmann opened #291 "TC Features Previous/Current/NextToken should work with TextClassificationUnits"
The features for the current/next/prev token work hardcoded with the `Token/Sentence`-type.
They should use `TextClassificationUnit` and `TextClassificationSequence` instead to be more generic.

Furthermore a feature for 2-token before / 2-token after should be available, too.

[2015-12-30 08:43] #291 closed, assigned to nobody

[2015-12-30 09:09] Horsmann opened #292 "Introduce a single context-feature"
The features currently located at `de.tudarmstadt.ukp.dkpro.tc.features.tcu`(CurrentUnit, NextUnit, etc.)
should be replaced by a single-feature that is configured by a parameter.

i.e.
ContextUnit.PARAM_INDEX, 0 //refers to current token
ContextUnit.PARAM_INDEX, -1 //refers to previous token
ContextUnit.PARAM_INDEX, -5 //refers to the token 5 indices before

This would introduce a much a higher f

[2015-12-30 10:07] daxenberger commented on #292
I'll look into it in the next days.

[2016-01-04 03:37] reckart opened #293 "Add mavenized libsvm as machine learning adapter"
... might be interesting: https://github.com/datumbox/libsvm

[2016-01-04 10:13] Horsmann opened #294 "CRFsuite: Prevent training-files from being deleted after training"
I noticed that CRFsuite deletes the training-files after training.

First, I am not sure if this is a good idea sometimes you might want to take look into the actual input-file for training/testing.
However, the training-files might become extremely big (several GB) if large training-data and ngram features are used. Crfsuite furthermore does not work with compressed files. Leaving them on the har

[2016-01-04 10:19] Horsmann commented on #286
The class `CRFSuiteModelSerializationDescription` performs explicit an own model-training call which leads to a double-training of the model which is exactly what this class is suppose to avoid...

[2016-01-04 10:29] daxenberger commented on #294
I recently discovered this and was wondering about exactly the same thing. Might indeed be related to the size of the file.

Should be this one: https://github.com/dkpro/dkpro-tc/blob/master/dkpro-tc-ml-crfsuite/src/main/java/de/tudarmstadt/ukp/dkpro/tc/crfsuite/writer/CRFSuiteDataWriter.java#L58

In conclusion: what is your suggestion? delete the file by default? or by choice of a parameter?

[2016-01-04 19:26] Horsmann commented on #294
I think we should keep the files. All other classifier keep the files, too. It is confusing if CRFsuite behaves differently.

It would be possible to zip the file after CRFsuite used them, but this would lengthen the whole training-process to compress the train/test file even more and disk-space is the cheapest of all resources we have.
If you intensively re-run an experiment you have to delete th

[2016-01-04 19:36] daxenberger commented on #294
I agree.

[2016-01-05 06:45] daxenberger commented on #294
fixed in 14c1afe53c828df7561f51c513c35cfb2c327bf9.

[2016-01-05 06:45] #294 closed, assigned to nobody

[2016-01-06 11:45] Horsmann commented on #286
This seems more difficult than expected.

@daxenberger
Maybe you have an idea / know how to...
If the ModelSerialization Task does not train the model itself it is unaware of the location of the serialised classifier. In a train/test situation the classifier is placed in the folder `CRFSuiteTestTask-*`.

I need to copy the file from there into the working folder of the current task.

When I am in

[2016-01-06 12:28] daxenberger commented on #286
Do you refer to the batch task carried out by `de.tudarmstadt.ukp.dkpro.tc.crfsuite.task.serialization.SaveModelCRFSuiteTrainTestTask`? If so, you should be able to add a dependency from the model output of `CRFSuiteTestTask` to the input of `CRFSuiteModelSerializationDescription` (`saveModelTask.addImport(...)`) which makes the model available to the latter.

[2016-01-06 13:14] Horsmann commented on #286
Yes, it is in the BatchTask. If I add the task as import do I have to do something additionally, I get an exception but I don't really get what it is trying to tell me.

[code]

I add as import the testTask defined in the super-class `ExperimentTrainTest`

[code]

[2016-01-06 13:34] daxenberger commented on #286
As far as I can see, `CRFSuiteTestTask` (`testTask`) does not generate an output which could be accessed under the key `Constants.MODEL_CLASSIFIER`. See other tasks/dependencies how this should be done.

[2016-01-08 11:37] Horsmann opened #295 "Setting NoOpAnnotator by default if no preprocessing is defined"
The preprocessing is still a must-set parameter in experiments. At least in my projects I have quite often the case that I do not need any because all information are read from the gold-training file.

To simplify the configuration of an experiment, we could always set the `NoOpAnnotator` in an experiment's constructor which would be overwritten if `setPreprocessingPipeline()` is called.

Are ther

[2016-01-08 11:40] zesch commented on #295
I would at least add a warning about the empty preprocessing, as most people might simply forget to set it :)

[2016-01-08 11:59] daxenberger commented on #295
yeah; warning seems reasonable

[2016-01-08 12:04] Horsmann opened #296 "Adding save-model TaskBase to TCMachineLearningAdapter"
The model-saving works since a few month. This feature should be usable like `ExperimentTestTask` or `ExperimentBatchTask` i.e. calling a more-generic 'ExperimentSaveModelTask'
At the moment you have to know the name of the respective ML-Adapter-Task e.g. `SaveModelCRFSuiteBatchTask` , `SaveModelWekaBatchTask` or `SaveModelSvmhmmBatchTask`

The TCMachineLearningAdapter should be extended by an int

[2016-01-08 15:26] Horsmann commented on #295
I just found this here in the superclass `Experiment_ImplBase`

[code]

Seems like this has been the intended default behaviour right from the start?

So it suffice to simply remove the null-check on the preprocessing variable.

Another question, the the exception-text says:
 "You must set Experiment Name, DataWriter and Aggregate.");
This "dataWriter" is no longer an issue and can be removed it i

[2016-01-08 16:03] Horsmann commented on #295
Which logging framework is the one we are supposed to use? I used now `org.apache.commons.logging.Log`

[2016-01-08 18:27] Horsmann commented on #295
Hm, Jenkins is failing what exactly is not working here?
The tests seem not to be the problem
https://zoidberg.ukp.informatik.tu-darmstadt.de/jenkins/job/DKPro%20Text%20Classification%20Framework%20(GitHub)/155/de.tudarmstadt.ukp.dkpro.tc$dkpro-tc-ml-weka/

[2016-01-08 18:52] reckart commented on #295
Apache Commons Logging is a good choice. I would recommend that.

Unless you are writing a UIMA component, in which case you should simply call getLogger() whenever you need a logger - the uimaFIT base classes for UIMA components provide that method.

[2016-01-08 18:54] reckart commented on #295
Search for ": error:" (colon space "error" colon) in the logs - that will take you to the JavaDoc errors. E.g.:

[code]

[2016-01-08 18:57] Horsmann commented on #295
It fails because of Java-Docs o.0?

[2016-01-08 18:59] reckart commented on #295
Yes - since Java 8, JavaDocs are checked more strictly. IMHO that's a very good thing. In this case, it is because of wrong JavaDoc tags - but the build may also fail if HTML tags in the JavaDoc are malformed.

[2016-01-08 19:01] Horsmann commented on #295
hm, ok. I removed the wrong tags. Lets see if it builds now.

[2016-01-08 19:02] reckart commented on #295
If you run into JavaDoc problems, it is a good idea to test locally (and rather quickly) by running `mvn javadoc:aggregate` or `mvn javadoc:javadoc` in the project root.

[2016-01-09 08:26] Horsmann commented on #295
okay, thx!

[2016-01-09 08:26] #295 closed, assigned to nobody

[2016-01-09 11:46] Horsmann commented on #296
1)
Meka is not the same as Weka? The WekaSaveModel adapter does not work for Meka? I set the SaveModelTask to Unsupoorted in the Meka-Adapter, is this correct?

2)
Is there a more beautiful way for this line:
https://github.com/dkpro/dkpro-tc/commit/ced5ffdba014632a62ae23943a6be685f13d5bac#diff-655c713fd814ecd4cb7a43a4528dd9b0R105

3) `WekaTestTask_ImplBase` inherits now from `ModelSerializationTa

[2016-01-09 20:59] Horsmann commented on #296
@daxenberger
The unit test which tests an "empty cas" in `de.tudarmstadt.ukp.dkpro.tc.core.io.ClassificationUnitCasMultiplierTest`fails now. I am not sure how my recent change is connected to this test failure. Any ideas?

[2016-01-11 08:41] daxenberger commented on #295
Yes :)

The javadoc was totally outdated, thanks for correcting.

[2016-01-11 08:53] daxenberger commented on #296
The test doesn't fail - is is expected to throw an exception. The problem is a license problem (GPL instead of ASL in ModelSerializationTask).

[2016-01-11 08:58] daxenberger commented on #296
Meka extends Weka to allow for multi-label classification. It uses it's own DataWriter as the ARFF format is slightly different to Weka-only.
AFAIK everything else is the same - so I guess the SaveModelTask would also work with Meka.

Hmm yeah, I'd rather see them separated...

[2016-01-11 09:17] Horsmann commented on #296
The two methods of `WekaTestTask_ImplBase` (`protected Classifier getClassifier()` and `protected void featureSelection(TaskContext aContext, Instances trainData)`) should become static and move to `WekaUtils`.

We would have to extend the parameter list as they use variables that are made available by `@Discriminator` annotations, but it looks like we could delete the whole class?

[2016-01-11 09:20] daxenberger commented on #296
Why would you want to move them to a utility class if classes which need those methods could inherit from `WekaTestTask_ImplBase`?

[2016-01-11 09:24] Horsmann commented on #296
Storing the model in `WekaModelSerializationDescription` needs `getClassifier()` which is why I chose this unpretty inheritance of WekaTestTask extending the `ModelSerializationTask`.
I can leave the class as is but will then have to produce code redundancy to provide the getClassifer() method if I want to resolve the current inheritance.

[2016-01-11 09:35] daxenberger commented on #296
Ok, I see.
Probably the original proposal is the best way to go here (move redundant methods to utility and extend parameter list) - at least it is what we have done in the past.

[2016-01-11 19:50] zesch opened #297 "Create combined id2outcome.txt to experiment folder in CV setting"
In the cross-validation setting it would be good if the evaluation report would also combine all id2outcome files and write that to the batch experiment folder.

[2016-01-11 20:18] Horsmann opened #298 "LoadModelConnectorWeka: Exception is not thrown"
In the method `getOutcomeForFocus(JCas jcas)` the exception object is not thrown, but only an error message.

[2016-01-11 20:19] #298 closed, assigned to nobody

[2016-01-11 20:24] zesch commented on #297
We have that already (BatchOutcomeIdReport).
If the author tag is right, I wrote that ;)

[2016-01-11 20:24] #297 closed, assigned to nobody

[2016-01-11 20:49] reckart commented on #297
Follow the path of the author tag you should not. The wisdom of the history consult you should.

[2016-01-11 21:49] zesch commented on #297
History seems to be disrupted since we moved from DC to Marv ... ehm GC to GH

[2016-01-11 22:06] reckart commented on #297
Indeed, something went pear-shaped during the migration... no idea why :( History should have been fully preserved. However, the file can actually be found in older revisions in the git repo, but the provenance chain somehow got interrupted.

[2016-01-12 07:00] Horsmann commented on #296
Weka inheritance hierarchy is fixed now, too.

[2016-01-12 07:00] #296 closed, assigned to Horsmann

[2016-01-21 09:09] Horsmann opened #302 "Init-task-train name is set twice"
In the `ExperimentTrainTest` the name of the initial train task is set twice.

[2016-01-21 09:10] #302 closed, assigned to Horsmann

[2016-01-26 09:41] daxenberger opened #303 "FeatureMode and LearningMode are hardcoded in TCAnnotatorDocument"
This is a problem for any experiment which non-document or non-singlelabel. Ideally, we should read those parameters from the saved model (as any parameters) - or at least allow setting them as ConfigurationParameters. Having separate Annotators for each mode is not necessary as far as I can see.
@Horsmann What do you think about this?

[2016-01-26 12:12] Horsmann commented on #303
Sure, we just can write these parameters to the model as all the other information.

There are some differences if I recall correctly:
- Unit classification for instance does not allow to have several outcome annotations at the same time, so we have to set these for each unit we want to classify and delete them again before the next iteration starts.
- Sequence classification needs the sequence an

[2016-01-26 15:27] daxenberger commented on #303
ok I see. wouldn't it be possible to use a single class (`TCAnnotator`) which operates differently with respect to the outcome annotations, given the feature/learning mode (which in turn could be retrieved from the stored model)?

[2016-01-26 15:54] Horsmann commented on #303
Yes, this should work.
I think we made separate classes because we did not know how similar the individual modes would be, but they do seem similar enough to merge them into one class.

[2016-01-27 14:39] Horsmann opened #305 "CRFSuite binary: Windows 64 bit binary is missing"
The 64bit binary of CRFSuite for Windows systems is missing. At the moment we only have the 32-bit binary.
It should be possible to just copy it and use it as 64bit binary, but it would be better to have a real 64bit binary.

[2016-01-27 14:41] reckart commented on #305
Cf. https://github.com/dkpro/dkpro-core/issues/318

[2016-01-27 15:39] Horsmann commented on #305
I updated the installation script and copy the file during installation.
@reckart Could you add the new version into artifactory?

[2016-01-27 15:41] reckart commented on #305
@Horsmann the binary artifact should have its version increased - I guess to from "20140918.0" to "20140918.1" - and the dependencies in the POM need to be upgraded correspondingly. Otherwise, Maven will not download the new JAR with the additional binary.

@betoboullosa could you deploy the new crfsuite artifact please once the version stuff is fixed?

[2016-01-27 15:43] Horsmann commented on #305
fixed

[2016-01-27 16:45] betoboullosa commented on #305
OK, new artifacts deployed to zoidberg. Closing the issue.

[2016-01-27 16:45] #305 closed, assigned to Horsmann

[2016-01-28 10:20] daxenberger commented on #303
Another, related issue:
this annotator only work for single-label learning (it assumes unique Outcome annotations). here again the question would be whether we include everything into a single class or individual ones.

[2016-01-28 12:40] Horsmann commented on #303
I think we should add it then into the new TcAnnotator class, too. If it gets too much code for a single class we can outsource some code into a new util class.

At the moment only Meka is mutlilabel i.e. document-multilabel or is there unit-multilabel, too?
The main difference is the number of outcomes that can vary?

[2016-01-28 12:45] daxenberger commented on #303
The learning mode (e.g. multi-label) is independent from the feature mode, i.e. we have multi-label for document, unit, pair etc. For multi-label, the main difference is that there can be more than one outcome annotation (per document/unit etc.).

[2016-01-28 12:51] Horsmann commented on #303
Okay, I would tackle the multi-label problem in an own issue and add save/load of the two parameters and merging the current annotators into one in this one.

[2016-01-28 13:17] daxenberger commented on #303
I can take care of the learning mode.
@Horsmann Do I see correctly that you are going to tackle the feature mode?

[2016-01-28 14:45] Horsmann commented on #303
My commits should cover the loading/storing of the 2 parameters to/from file and merged the 3 annotators into one.
If Jenkins builds we can close this issue and you could tackle the `learning mode` enhancement.

[2016-01-28 14:48] Horsmann commented on #303
I also reorganised the code a bit, we had 3 util classes in different projects which all did some save model   tasks. Now there is only one `SaveModelUtils`

[2016-01-28 16:37] daxenberger opened #306 "Include dkpro-similarity 2.2.0 stable"
dkpro-similarity has been released on maven central. no need to exclude it from our next release.

[2016-01-29 07:02] Horsmann commented on #303
@daxenberger My changes are done and Jenkins builds again, too

[2016-01-29 07:46] #286 closed, assigned to nobody

[2016-01-29 07:48] Horsmann opened #307 "ModelSerializationTask should write all model information"
The `ModelSerializationTask` super-class should write all model information during serialisation. At the moment this is done the exact same way in the respective ML sub-class.

[2016-01-29 07:50] daxenberger commented on #303
alright; I'll take care of the learning mode then.

[2016-01-29 08:02] Horsmann commented on #306
Is this just updating the dependency information ? Then I would do it :o

[2016-01-29 08:06] daxenberger commented on #306
Yeah. That should be all for now.

[2016-01-29 09:20] #306 closed, assigned to nobody

[2016-01-29 09:28] #307 closed, assigned to nobody

[2016-02-02 20:54] zesch opened #308 "Improve TopicWordsFeatureExtractor"
This FE could be improved:
- list of topic words should be loaded in initialize
- should inherit from a common base class that loads the list (shared with many other FEs)

[2016-02-04 11:01] Horsmann opened #309 "StoreModel (CRFSuite) does not copy the model if run as jar"
If the Store Model experiment is run in sequence mode from within a .jar, it does not copy the trained classifier file.
If run in workspace the problem does not occur. This might be related to recent changes in `CRFSuiteModelSerializationDescription` but I am not entirely sure.

[2016-02-05 12:31] Horsmann commented on #309
Problem has been that the output folder might not have been created yet. When the model is trained it is placed into a non-existing folder. This did fail silently in the case of CRFsuite which is run as ProcessBuilder(). The unit-test did pass because they create the output folder explicitly before any test are executed.

[2016-02-05 12:31] #309 closed, assigned to Horsmann

[2016-02-17 15:23] daxenberger opened #310 "SafeModel: De-coding of parameters.txt fails"
The feature extractor parameters are written as Properties, but not read as such. This is a problem as some characters (e.g. ":") are escaped in Property files. SafeModelUtils.writeModelParameters(...) writes a Properties object, but SafeModelUtils.initParameters does not load it properly.

[2016-02-17 15:25] #310 closed, assigned to nobody

[2016-02-19 16:14] daxenberger opened #311 "Save and Load Weka Model doesn't work"
Has anybody ever tried this? The relevant code snippet in WekaModelSerializationDescription only stores feature names from the model (not the Instance) which results in "a_1", "a_2" etc.
This cannot work with the utilities that are used to load and apply the model later on.

[2016-02-19 18:01] zesch commented on #311
This used to work, but has probably not keeping up with the latest changes in model serialization.
@Horsmann Can you have a look, please?

[2016-02-19 18:49] Horsmann commented on #311
Ohm I cannot follow. I am not that familiar with Weka. What exactly is the problem, information is not serialized? When would we need this information, the Weka test do pass?

[2016-02-20 12:11] daxenberger commented on #311
I can't see a test that would assert the issue.

The problem here is that the feature names are serialized _after_ the model is trained (the latter apparently modifies the Instances object so that the feature names are not kept). I don't know what might have changed here, but I wonder why it has ever been working...

[2016-02-20 12:34] daxenberger commented on #311
There is another problem, as all attributes are recorded as "numeric" when they are loaded after serialization. String and nominal (and in theory, boolean) features are not recognized as such.

[2016-02-20 17:04] daxenberger commented on #311
The feature name issue might occur in multi-label setups only, maybe that's why it hasn't occurred before.
I've added a demo which seems to work, but I'm still having issues with more complex setups. Leaving this open until investigated completely.

[2016-02-26 08:49] Horsmann opened #312 "CrfSuite code clean up"
I think there are quite a few things that can be made a bit prettier in the CrfSuite module.

For instance the inconsistent use of property files vs string builder + file utils.

I will use this issue for tracking my clean up / changes.

[2016-02-26 08:54] Horsmann commented on #312
@daxenberger in `CRFSuiteClassificationReport` is a comment that this class is a mock - is this still up to date?

[2016-02-26 11:22] daxenberger commented on #312
This is not my comment, but I guess the report is this in mockup stage, it doesn't do anything...
The evaluation module can be used, however, in conjunction with the id2outcome report, so I doubt that this report is actually needed.

[2016-02-26 13:05] Horsmann commented on #312
The output/evaluation.txt is no longer created. Instead the `CRFSuiteClassificationReport` creates the result.txt now which contains the correct/incorrect count and an accuracy value.

I think it is ok to let a ML adapter at least print something like an accuracy file, more details and verbose information are then created by the evaluation module.

[2016-02-26 16:50] daxenberger opened #313 "add POSNGramUFE"
We only have POSNGramDFE at the moment

[2016-02-26 16:53] #313 closed, assigned to nobody

[2016-03-03 14:26] daxenberger opened #314 "Weka feature selection not applied"
I am pretty sure that setting feature selection in a Weka experiment did not take effect (at least for the learning part) before 6ce68354c8c7d1fb3a125a8873e5251344c88836 (the resulting modifications to the training data did not end up in the model).

[2016-03-03 14:26] daxenberger commented on #314
Was solved in 6ce68354c8c7d1fb3a125a8873e5251344c88836.

[2016-03-03 14:26] #314 closed, assigned to nobody

[2016-03-04 11:09] daxenberger commented on #311
This is solved to the largest extent.
TODO: feature selection is not supported at the moment

[2016-03-04 11:13] daxenberger commented on #303
This is should be resolved.

[2016-03-04 11:13] #303 closed, assigned to daxenberger

[2016-03-04 11:14] daxenberger commented on #311
will tackle remaining TODO in an own issue.

[2016-03-04 11:14] #311 closed, assigned to daxenberger

[2016-03-04 11:15] daxenberger opened #315 "Enable feature selection in Weka save/load model"
this is currently not supported. see Issue #311

[2016-03-21 16:46] Horsmann opened #317 "CRFSuiteDataWriter: Uses default encoding"
The CrfSuiteDataWriter uses the default encoding for writing the feature files
https://github.com/dkpro/dkpro-tc/blob/master/dkpro-tc-ml-crfsuite/src/main/java/de/tudarmstadt/ukp/dkpro/tc/crfsuite/writer/CRFSuiteDataWriter.java#L66

This should be `utf-8`

[2016-03-22 06:03] #317 closed, assigned to nobody

[2016-03-24 08:09] Horsmann opened #318 "Update spring version"
The DKPro Core snapshot has been recently updated to use a newer spring version (https://github.com/dkpro/dkpro-core/issues/815).

If you have to use the latest Core snapshot in your TC project and you intend to build standalone shaded-jars the different spring versions will clash.

The latest TC Snapshot should use the same spring version as the Core Snapshot. This issue also extends to the DKPro

[2016-03-24 08:30] reckart opened #319 "Switch to new DKPro Lab 0.12.0-SNAPSHOT artifacts"
The groupId and package names in DKPro Lab 0.12.0-SNAPSHOT have been changed as part of preparing the upcoming release.
- New groupId: `org.dkpro.lab`
- New package prefix: `org.dkpro.lab`

It should be possible to migrate doing a global search/replace action from `de.tudarmstadt.ukp.dkpro.lab` -> `org.dkpro.lab`.

[2016-03-24 09:14] Horsmann commented on #318
DKLab has been updated, too https://github.com/dkpro/dkpro-lab/issues/92

[2016-03-24 10:28] Horsmann commented on #312
@daxenberger Are there any rules which decide when the `output` folder is used in the `CRFSuiteTestTask-` folder (or all other ML adapter's folder)?
In case of CRF the id2outcome lies in the top-level while the predictions.txt and the Sysout of the CRF binary are placed in the output folder.
I tend to remove the `output` folder entirely for CRF and just place everything top level.

[2016-03-24 11:36] reckart commented on #312
I would recommend to use the DkproTestContext class to manage test outputs:

[code]

Mind that textContext.getTestOutputFolder() must only be called once per test because it cleans the folder every time it is called.

[2016-03-24 11:59] daxenberger commented on #312
No explicit rules. I think is rather is a legacy issue. You just need to make sure that subsequent or higher level reports are aware of this (i.e. some of the reports in higher BatchTasks - CV and TrainTest - might break if you put everything at top level).

[2016-03-25 14:06] #318 closed, assigned to nobody

[2016-03-25 14:08] Horsmann commented on #260
What is the status here? Looks fixed since 8 months without any comment from the issue creator. Can we close this one?

[2016-03-25 14:19] Horsmann commented on #269
Can I remove the author-tags in the source files then?

[2016-03-25 16:05] Horsmann commented on #319
@reckart Groovy doesn't like org.dkpro the imports are not resolvable

An idea what could cause this?

[code]

[2016-03-25 17:34] reckart commented on #319
Did you switch the dependencies to the new groupId?

[2016-03-25 17:58] Horsmann commented on #319
Yes all other tc modules work fine its just the Groovy example project that causes problems.
I also have some plugin lifecycle issues with this project

[code]

related?

[2016-03-25 19:42] reckart commented on #319
I don't think so.

There were still various references to the old groupIDs - I have updated them (see commit above).

[2016-03-25 20:25] Horsmann commented on #319
strange, why did I miss them o.0 ... thanks
it builds now

[2016-03-25 21:07] #319 closed, assigned to nobody

[2016-03-26 09:36] Horsmann opened #320 "MLA-ClassificationReports and Batch*Reports"
I think we have a little file redundancy in TC.
There is a `Constants.RESULTS_FILENAME` and the `evaluationFile` defined in the machine learning adapter projects (i.e. `evaluation.txt`).

The `*ClassificationReport` class in the different MLA create either of them or both and it does not look like there is a fixed formatting for the file content either.

The file `Constants.RESULTS_FILENAME` is ex

[2016-03-26 12:23] Horsmann commented on #320
In case of the MLA this is easy to change. The only thing that I cannot resolve are the `BatchTrainTestReport` and `BatchTrainTestLatexReport` - how do I get the machine learning adapter in the generic BatchReport from the context object?

[2016-03-26 19:01] Horsmann opened #321 "Update package names to org.dkpro.tc"
Replace the group id of the TC projects `de.tudarmstadt.ukp.dkpro.tc` with `org.dkpro.tc`

[2016-03-26 19:04] reckart opened #322 "Upgrade to DKPro Parent POM 13"
Upgrade to DKPro Parent POM 13.

[2016-03-26 19:06] Horsmann commented on #321
@reckart could you please put the `Crfsuite` and `liblinear` binaries into artifactory

[2016-03-26 19:07] reckart commented on #321
@Horsmann not sure what you mean. liblinear is on Maven Central and should be used from there - and it is a Java library, so no binary, right? Which crfsuite binary?

[2016-03-26 19:08] Horsmann commented on #321
oh, I meant `svmhmm` then. The binaries had the old package path which I also updated. The `de.tudarmstadt*` binaries are not found anymore.
I updated the ant-installation scripts of the binaries accordingly

[2016-03-26 19:10] #312 closed, assigned to nobody

[2016-03-26 19:16] reckart commented on #322
Switched Jenkins build to report coverage using JaCoCo.

[2016-03-26 19:17] #322 closed, assigned to Horsmann

[2016-03-26 19:18] Horsmann commented on #321
@reckart  I mean the maven artifacts we created for the binaries of `crfsuite` and `svmhmm` that are created by executing the ant-scripts.

e.g.
`de.tudarmstadt.ukp.dkpro.tc.crfsuite-bin` -->  `org.dkpro.tc.crfsuite-bin`

[2016-03-26 19:23] Horsmann opened #323 "Update Weka Multilabel test case"
When updating the group id to `org.dkpro.tc` a Weka multi label test case had to be set to `@Ignored` which uses a bin file that has the old group id in it and lets the test fail with a ClassNotFoundException.

I don't know how to recreate a new bin file so I ignored it temporarily.

It is the test case `testGenerateOutcomeIdPropertiesMultiLabel`, see below commit for the test case
https://github.

[2016-03-26 19:58] reckart commented on #321
Both deployed to artifactory.

[2016-03-26 20:16] Horsmann commented on #321
Into the right repository?
There is no `tc` folder under `org.dkpro`
http://zoidberg.ukp.informatik.tu-darmstadt.de/artifactory/public-ukp-snapshots-local/org/dkpro/

[2016-03-26 21:20] Horsmann commented on #321
Never mind, TC builds again.

[2016-03-26 21:20] #321 closed, assigned to nobody

[2016-03-26 21:32] Horsmann commented on #188
@daxenberger Can we close this issue, test cases exist ?

[2016-03-26 21:35] Horsmann commented on #169
@daxenberger What exactly is the difference to https://github.com/dkpro/dkpro-tc/issues/9 ? Looks like a duplicate?

[2016-03-26 21:36] Horsmann commented on #277
@daxenberger This one can be closed, too?

[2016-03-26 21:42] Horsmann commented on #58
This issue has been reported in 2013 and no one seems to care about it anymore - I close this one.

[2016-03-26 21:42] #58 closed, assigned to nobody

[2016-03-26 21:44] Horsmann commented on #50
@daxenberger Is there anything left to do or should we move this one to 0.9.0 ?

[2016-03-26 21:45] reckart commented on #188
I think only preparatory work was done - I think the actual issue wasn't addressed yet.

[2016-03-26 21:46] #95 closed, assigned to nobody

[2016-03-26 21:47] Horsmann commented on #113
This is related to https://github.com/dkpro/dkpro-tc/issues/50 isn't ?

[2016-03-26 21:55] Horsmann commented on #226
@zesch @daxenberger Delete the FE in `features` and move the one from `readability` into the more general package?

[2016-03-26 22:07] Horsmann commented on #323
I tried to edit the .bin file and simply update the text string, but it breaks if you do that. If possible recreate the .bin file with the latest tc version.

[2016-03-26 23:03] daxenberger commented on #260
I guess so.

[2016-03-26 23:03] #260 closed, assigned to daxenberger

[2016-03-26 23:30] daxenberger commented on #188
yes, too early to close (see above). if necessary, we can move it to the next milestone.

[2016-03-26 23:33] daxenberger commented on #169
more specific than #9. I'd suggest to close #9 and leave this one open.

[2016-03-26 23:33] daxenberger commented on #50
move to the next milestone. this hasn't been tested and integrated properly yet.

[2016-03-26 23:34] daxenberger commented on #113
yes, related.

[2016-03-26 23:36] daxenberger commented on #226
ok.
Richard's suggestions is also nice. We should have auto-generated Asciidoc for a list of all features.

[2016-03-26 23:40] daxenberger commented on #277
yes. this has been done without referring to the issue.

[2016-03-26 23:40] #277 closed, assigned to zesch

[2016-03-26 23:45] daxenberger commented on #269
yes

[2016-03-27 08:34] reckart commented on #251
Core didn't implement an "externalId" mechanism yet.

[2016-03-27 08:45] #9 closed, assigned to nobody

[2016-03-27 08:49] Horsmann commented on #226
how do I ascii auto-generate only over FEs?

[2016-03-27 09:18] #269 closed, assigned to nobody

[2016-03-27 09:31] Horsmann opened #324 "DKPro TC Release 0.8.0"
This includes some general code clean up for which I will not open an own issue.
- [x] Check for used/unused (un)declared dependencies
- [x] Update scope of dependencies
- [x] Check for non-DKPro Snapshot dependencies
- [x] Create 0.8.x branch
- [x] Update to DKPro Lab 0.12.0 once released (https://github.com/dkpro/dkpro-tc/issues/328)
- [x] Release artifact
- [x] Drafting the release (https://git

[2016-03-27 09:45] Horsmann opened #325 "Rename convenience class ExperimentTrainTestStore (Weka specific)"

[2016-03-27 09:46] #325 closed, assigned to Horsmann

[2016-03-27 09:52] reckart commented on #324
You may find the DKPro Core release guide helpful - although it is still written towards SVN and Google Code.

https://dkpro.github.io/dkpro-core/pages/release-guide/

In particular preparation step 6 is quite a good measure to clean up dependencies.

Also, with the new parent POM, you can test-drive how a release build would work like including gpg-signging your artifacts by enabling the `dkpro-r

[2016-03-27 10:03] Horsmann commented on #320
@reckart If I am in a BatchTrainTestReport and not in any MLA specific code - how can I retrieve the machine learning adapter from the context object I have?

[2016-03-27 10:30] Horsmann commented on #320
Ok - I think this file redundancy stems from using Weka as `template` for the other adapter.

For `liblinear`, `svmhmm` and `crfsuite` the evaluation file as defined over the framework constant `evaluationFile` and the `results.txt` defined by the `Constants.RESULTS_FILENAME` which is created in the `ClassificationOutcomeReport` are essentially the same information.

@daxenberger Can I delete the

[2016-03-27 10:58] Horsmann commented on #169
I move this one to 0.9.0, too. I assume we find no one willing to implement all those needed tests in the very near future (i.e. by end of the next week).

[2016-03-27 11:05] Horsmann opened #326 "Example Project: Prefixing examples with the MLA name that is used"
Hi,

how about we rename the examples in the `example` project and use the MLA name as prefix (rather than as suffix how it is atm _sometimes_ the case)

If you are new to TC you either know the kind of task you want to perform (e.g. document, unit, sequence) or you know already that you will have to use a certain MLA (i.e. most familiar to it).
For the former case the `package` naming provides su

[2016-03-27 11:12] reckart commented on #320
@Horsmann no idea - maybe the class name of the MLA is stored in the discriminators file? - otherwise maybe @daxenberger has an idea.

[2016-03-27 12:18] Horsmann commented on #324
@reckart
For preparing the release `excluding` projects means I create a new branch 0.8.x from the current master. I delete the `examples`, `examples-groovy` and `integrationtest` project from the release branch and remove them from the parent pom?

[2016-03-27 12:21] reckart commented on #324
You want to avoid these projects to be deployed to Maven Central, right?

If so, I would recommend another approach: set the `maven.deploy.skip` property in the POMs of these modules to `false`.

This will avoid the JARs being deployed to Maven Central, but the release plugin will still update their versions as part of the release. Also the code will remain in the tarballs that GitHub will automat

[2016-03-27 12:25] Horsmann commented on #324
Ah, the modules have these property already set to `true` (it should be true, skip=not deploying?)

[2016-03-27 12:26] reckart commented on #226
E.g. by writing a groovy script that parses the Java files and extracts names, descriptions, and parameters from the FE source code and renders that into a nice table.

I have done similar things to auto-generate the DKPro Core reference documentation. But for DKPro Core, I didn't have to parse Java directly - I could use XML descriptors generated by uimaFIT. But we don't have a XML fragment gener

[2016-03-27 12:35] reckart commented on #324
Eh, yes right, should be `true` (skipping) - https://maven.apache.org/plugins/maven-deploy-plugin/deploy-mojo.html#skip

[2016-03-30 15:29] Horsmann commented on #324
@reckart What do I do if maven trolls me and tells me to delete dependencies that will let the build fail?

For instance `commons-logging` and `commons-logging-api` are quite frequently reported as `unused declared` or the other way around. Adding/removing the dependency will then bring a message in the next run that it is used w/o being declared.

I am also told to remove `tc-core` from the evalu

[2016-03-30 17:20] daxenberger commented on #326
Sounds good; No objections

[2016-03-30 17:36] daxenberger commented on #320
We have a couple of legacy issues here, plus some left-overs from Issue #50 and in particular #113.

Yes.

Furthermore, after the full switch to the new evaluation mode, the only thing that each TestTask need to produce should be an Id2Outcome file with the usual content. With the Evaluation module it should then be possible to use this file to calculate the desired scores (which are then collecte

[2016-03-30 17:55] reckart commented on #324
The dependency plugin cannot detect all dependencies properly, e.g. if dependencies are triggered through reflection API calls.

See step 4 of the cleanup process "All other dependencies that are detected "Unused declared" must be removed or must be marked as used dependencies, e.g.:".

Also there is afaik some overlap in classes between commons-logging-api and commons-logging. Normally, you shoul

[2016-03-30 18:48] Horsmann commented on #324
Ok thanks some more question:

The example project uses the `core.api.parameter-asl` project and it is reported as `unused`. If I remove the dependency everything breaks. If I add the dependency additionally as `provided` it now reports the `provided` dependency as `unused`

I used the `dependency used tag` mentioned in the guide in case of the evaluation project https://github.com/dkpro/dkpro-tc/

[2016-03-30 18:54] reckart commented on #324
Regarding `core.api.parameter-asl` - we need to update the release guidelines here - this should be a normal dependency (not provided). I hit problems in particular in Groovy scripts and had to manually include the dependency there. We need to tell the dependency plugin that all is fine if it complains (@betoboullosa - FYI).

Models and binaries must also be declared as used for the dependency plu

[2016-03-30 19:20] Horsmann commented on #324
@reckart Is there a way to let this license-header plugin tell you which file is missing information. I now get below build error but I don't know which file is meant (I only updated the pom.xml, I didn't add any new files yet)

[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execute goal com.mycila:license-maven-plugin:2.5:check (check-headers) on

[2016-03-30 19:57] #326 closed, assigned to nobody

[2016-03-30 20:02] Horsmann commented on #320
Ok, since changing this effects all MLA and might have too many unknown side-effects I push this to `0.9.0`

[2016-03-30 20:19] reckart commented on #324
The plugin should be telling that some lines before. Scroll up.

[2016-03-31 11:01] Horsmann commented on #324
@reckart I finished checking the dependencies the issue with the commons-logging(-api) remains as well as the dkpro.core.api.parameters issue mentioned before. The project builds with `mvn -Pdkpro-release clean install` too so I assume having still some of these warnings won't be a problem?

[2016-03-31 13:03] reckart commented on #324
Sounds like it should be all good.

[2016-04-01 09:32] Horsmann opened #327 "SvmHmm: SVMHMMOutcomeIDReport crashes if feature is missing"
The `SVMHMMOutcomeIDReport` crashes if a certain feature is not provided: `OriginalTextHolderFeatureExtractor`

I am not sure if this is even fixable as some information seems to be carried through the whole process with this feature. At least a more meaningful exception should be thrown to point the user to the necessity of this feature

[2016-04-01 10:54] Horsmann opened #328 "Update to DKPro Lab 0.12.0 (release)"
Update to release version as soon as it is available.

[2016-04-01 15:31] betoboullosa opened #329 "Add new window features"
Add new window features: Case, CoveredLowerText, CoveredText, LemmaText, POS, WordShape.

[2016-04-03 09:38] Horsmann opened #330 "TcuLookUpTable stores only the text of a TCU but not the unit itself"
The superclass of the context features does not store the TCU, but only their coveredText(). That is a remnant of the old implementation which was missed when updating to the more generic version.

`TcuLookUpTable` line 74

[2016-04-03 09:56] #330 closed, assigned to nobody

[2016-04-03 11:39] Horsmann commented on #327
A more meaningful exception is thrown now still needs investigation if using this feature is avoidable.

[2016-04-04 09:21] daxenberger commented on #323
Fixed.

[2016-04-04 09:21] #323 closed, assigned to daxenberger

[2016-04-04 10:55] betoboullosa commented on #329
@Horsmann , I didn't understand why you made the same commit twice (for adding the licence headers). Were the changes made in the first commit lost in between?

[2016-04-04 10:58] Horsmann commented on #329
@betoboullosa Yes, I messed around and rolled the commit back where I lost this change. :)

[2016-04-04 12:18] betoboullosa commented on #329
No problem, sometimes that happens.  :)

[2016-04-05 14:13] Horsmann opened #331 "CrfSuiteTestTask: write operation without utf-8 encoding"
In the TestTask `writeFileWithPredictedLabels` where the `prediction.txt` is written no file encoding is defined. This should be set to `utf-8`

[2016-04-05 14:48] Horsmann commented on #331
there are more ...

[2016-04-06 16:59] #331 closed, assigned to Horsmann

[2016-04-06 19:23] reckart commented on #324
FYI: uimaFIT 2.2.0 has been released. DKPro Lab and DKPro Core are on a good way :)

[2016-04-07 08:31] Horsmann commented on #329
Is here anything left to do? Otherwise I would close this one. The classes would be included in the 0.8.0 release - I haven't branched yet.

[2016-04-07 08:39] betoboullosa commented on #329
Closing.

[2016-04-07 08:39] #329 closed, assigned to betoboullosa

[2016-04-07 09:52] reckart commented on #329
Commits can still be easily "cherry-picked" from the master branch into the release branch later - unless master undergoes major refactorings.

[2016-04-08 05:38] Horsmann commented on #324
Thx
We will not use Core 1.8.0 for this release, Lab is atm our blocking dependency. :)

[2016-04-10 17:53] reckart opened #332 "Upgrade dependencies: Groovy & uimaFIT"
Upgrade dependencies: Groovy & uimaFIT

[2016-04-13 08:16] Horsmann opened #333 "SaveModel Weka Unitmode: fails with wrong number of outcome annotation"
In `LoadModelConnectorWeka` is a bug for `unit` mode processing when `getOutcomeForFocus` is called.

The issue seems to be the Iterator call

[code]

This call returns nothing when the focus annotation and the TCO have perfect overlap (begin/end) position. The documentation says it returns a sub-iterator.
I replaced this by a list.

I additionally add a new Unit test that runs model save/load for

[2016-04-13 08:39] Horsmann commented on #333
@daxenberger is it much effort for you to add a multi label model save/store round trip demo? We have now `document` and `unit`

[2016-04-13 09:08] daxenberger commented on #333
I don't think so. I actually thought we already have that.

[2016-04-13 09:10] daxenberger commented on #333
Well ok, we have `org.dkpro.tc.examples.multi.document.MekaWekaSaveAndApplyModelMultilabelDemo`

But I can add an explicit round-trip test for that as well.

[2016-04-13 09:18] Horsmann commented on #333
Oh ok. I didn't see this one. Yes, if you can add it there. Then all 3 use cases are found in one place. Thx!

[2016-04-13 09:21] Horsmann commented on #328
@reckart is there anything left that blocks a release?

[2016-04-13 09:33] reckart commented on #328
Not strictly. @maxxkia has updated some dependencies in preparation of the release which need to be double checked (https://github.com/dkpro/dkpro-lab/issues/92#issuecomment-206238834).

[2016-04-13 13:22] daxenberger opened #334 "Regression learning mode not supported in Weka save/load model experiments"
regression learning mode is currently not supported in Weka save/load model setups as only string outcomes are supported.

[2016-04-13 13:28] #334 closed, assigned to daxenberger

[2016-04-13 13:29] daxenberger commented on #333
I've added tests for pair feature mode setups, as well as regression and multi-label learning modes.

[2016-04-13 13:29] #333 closed, assigned to Horsmann

[2016-04-13 13:30] daxenberger commented on #332
I think this can be closed.

[2016-04-13 13:30] #332 closed, assigned to reckart

[2016-04-14 18:21] reckart opened #335 "Upgrade to DKPro Parent POM 14"
Upgrade to DKPro Parent POM 14

[2016-04-14 18:21] #335 closed, assigned to reckart

[2016-04-18 09:34] Horsmann opened #336 "Unit Classification: MetaCollector compute redundantly the ngram distribution"
When using NGram feature extractors in `unit` mode the meta collectors recreate the ngram distribution for each unit annotation.

This is first and foremost a runtime issue. Depending on the number of units the collection process might take ages to finish even for smaller data sets.

As a temporare solution we choke off the meta collectors. See details in the discussion on the mailing list: https:

[2016-04-18 14:51] Horsmann commented on #336
@daxenberger Seems to work any suggestions for improvements? This is as minimalistic as possible.

[2016-04-19 08:22] daxenberger commented on #336
I've run a couple of small tests; it seems to work.
Not the cleanest solution, but should do the job until we rewrite the entire CasMultiplier thing.

[2016-04-19 08:22] #336 closed, assigned to Horsmann

[2016-04-19 09:27] daxenberger opened #337 "add demo for unit feature mode in train-test experiment setup"
we are currently lacking that as far as I can see

[2016-04-19 09:29] #337 closed, assigned to nobody

[2016-04-20 07:47] reckart opened #338 "Avoid deploying doc module to repository"
Avoid deploying doc module to repository - it contains no artifact other than the pom. Doesn't make sense to deploy.

[2016-04-20 07:48] #338 closed, assigned to reckart

[2016-04-20 09:46] reckart opened #339 "Replacing developer info in POM?"
How about replacing the developer info in the POM with something like

[code]

[2016-04-20 09:46] reckart opened #340 "Remove repository declarations from TC poms"
Remove repository declarations from TC poms. All dependencies should be on Maven Central.

[2016-04-20 09:47] Horsmann commented on #339
👍 Good idea the information is a bit incomplete anyway :)

[2016-04-20 10:23] #340 closed, assigned to reckart

[2016-04-20 12:29] #339 closed, assigned to nobody

[2016-04-20 12:29] #328 closed, assigned to Horsmann

[2016-04-20 12:48] Horsmann commented on #324
@reckart I ran `mvn release:prepare` I got a tag now, but no new branch - did I miss something?

[2016-04-20 13:00] Horsmann commented on #324
I think I used the wrong command - can I just delete the tag by hand?

[2016-04-20 13:16] reckart commented on #324
release:prepare and release:perform are to make an actual release on the current branch.

release:branch is to make a branch.

[2016-04-20 13:17] reckart commented on #324
Yes, you can delete the tag by hand.

[2016-04-20 13:19] Horsmann commented on #324
so when I am on the branch. I do `mvn release:prepare` followed by `man release:perform` ?

[2016-04-20 13:20] reckart commented on #324
That should work. Assuming that you created the branch using `release:branch` the POM should also have been updated to know that it is on a branch. Otherwise, I believe you'd have to update the pom manually.

[2016-04-20 13:33] Horsmann commented on #324
the groovy examples are failing on the new branch

`[ERROR] Failed to execute goal on project dkpro-tc-examples-groovy: Could not resolve dependencies for project org.dkpro.tc:dkpro-tc-examples-groovy:jar:0.8.0: The following artifacts could not be resolved: org.dkpro.tc:dkpro-tc-examples:jar:0.8.0, org.dkpro.tc:dkpro-tc-features-pair:jar:0.8.0, org.dkpro.tc:dkpro-tc-features:jar:0.8.0, org.dkpro.

[2016-04-20 13:39] reckart commented on #324
Why is it looking for the release version 0.8.0? All code in the repo should always refer to a SNAPSHOT version.

[2016-04-20 13:40] Horsmann commented on #324
when I call `man release:prepare` it sets all versions to 0.8.0 ?

[2016-04-20 13:41] Horsmann commented on #324
I roled it back again and are now on the SNAPSHOTs - how do I release then?

[2016-04-20 13:45] Horsmann opened #341 "Improve DKPro-TC preprocessing speed by removing CasMultiplier from Workflow"
As discussed in greater detail here: https://groups.google.com/forum/#!topic/dkpro-tc-dev/tG1g-O7ZY_0

The I/O intensive preprocessing step in the `InitTask` and the many copied CAS objects needs to be refactored / removed by a much more performant solution.

Outline:
- [x] create branch `issue341`
- [x] Remove InitTask CAS Multiplying
- [x] MetaTask remove changes of issue #336
- [x] ExtractFeatu

[2016-04-20 13:50] reckart commented on #324
Given that all the latest changes continued to go into master, there is no need to make any release branch. If you wanted to do a bugfix release later, you can still go back and make a branch starting at the 0.8.0 release point.

So you should simply do a release from the master branch:

[code]

After that go to the Sonatype repo and **close** the staging repository (do not auto-release it). As pa

[2016-04-20 14:26] Horsmann commented on #324
I get an authorisation error when executing `release:perform`

I hoped adding this to my settings.xml would do the trick

[code]

how do I correctly add this nexus repository?

[2016-04-20 14:28] Horsmann commented on #324
This is the error I get when running `perform`

[code]

[2016-04-20 14:41] daxenberger commented on #324
Are you able to access this page with your sonatype account (after login)?

[2016-04-20 14:42] Horsmann commented on #324
Yes, it says staging not yet started.

[2016-04-20 14:49] Horsmann commented on #324
its keeps running now when you name the server `<id>ossrh</id>` in the settings.xml .. lets see how far it comes.

[2016-04-20 15:10] Horsmann commented on #324
Okaaaay - looks like it worked.

@daxenberger I closed the repository and took a look into one of the jars. looks fine to me. Do you see anything that should prevent a release?

[2016-04-20 15:42] daxenberger commented on #324
On it.

I can't really figure out why dkpro-tc-ml-crfsuite is GPL-licensed...
Anybody knows why? Is this by accident or a legacy issue due an outdated dependency, or do I simply miss something?

[2016-04-20 15:52] daxenberger commented on #324
The dkpro-tc-features-readability module contains some broken (ignored tests). I would prefer to skip it from the release.
See also Issue #218.

[2016-04-20 16:06] daxenberger commented on #324
dkpro-tc-features-pair-similarity has a GPL test dependency...

[2016-04-20 16:48] daxenberger commented on #324
The rest seems to be fine.
I suggest to drop the staged artifacts, and redo the release with the following changes:
- removing/replacing the gpl dependency in dkpro-tc-features-pair-similarity
- excluding dkpro-tc-features-readability from release (in the same manner as the example modules)
- re-licensing the crfsuite module

[2016-04-20 17:31] Horsmann commented on #324
So how to do that? Especially how to deal with the current state `git` and `sonatype`
- [x] Drop the repository on Sonatype
- [x] Add that deploy-ignore property to `dkpro-tc-features-readability`
- [x] Exchange the license file in the crfsuite folder with any Apache License file

What do I do with the Stanford dependency in `dkpro-tc-features-pair-similarity` how am I suppose to replace that I st

[2016-04-20 17:32] reckart commented on #324
You can just do another `mvn release:prepare / mvn release:perform` and simply set the version to 0.8.0 again. No need to rollback.

[2016-04-20 17:33] reckart commented on #324
Well, you have to delete the tag manually.

[2016-04-20 17:35] Horsmann commented on #324
If i make those changes to the modules they will be on 0.9.0-SNAPSHOT, right? I have to set the version number back somehow?

[2016-04-20 17:38] reckart commented on #324
When you do the release the next time, Maven will suggest version 0.9.0. At that point, just tell it to use 0.8.0. And when it asks you for the next version suggesting 0.8.1-SNAPSHOT, you tell it to use 0.9.0-SNAPSHOT.

If it makes you feel better, you can also manually set all the versions back to 0.8.0-SNAPSHOT now, but since you don't plan extensive changes, I don't really see a pressing reason

[2016-04-20 17:42] Horsmann commented on #324
Ok thanks - then I will follow your suggest way and simply overwriting the release number during the prompt as you suggested.

What to do with `dkpro-tc-features-pair-similarity` - it has a `Stanford dependency` because this set up uses a super class which has the Stanford Lemmatizer and Tagger in it. One tests inherit from the super class `CosineSimilarityTest`. Exclude it too?

[2016-04-20 17:47] daxenberger commented on #324
Regarding crfsuite/License, I just discovered: 1284bec44b856bbcf7f7d07367661ab46efa695f
I assume, those classes were licensed under GPL by mistake - I wouldn't know why they shouldn't be ASL.
In any case, replacing the license file alone is not enough: all class headers need to updated and the .activate_license-check needs to be replaced with a rat check.

`dkpro-tc-features-pair-similarity`:
I'd

[2016-04-20 17:56] Horsmann commented on #324
where/how do I do this `.activate_license-check` replacement? What is that?

[2016-04-20 17:59] Horsmann commented on #324
For `dkpro-tc-features-pair-similarity` we have to remove 1 test case then as we do not have any non-gpl lemmatizer - would that be ok or rather exclude the whole project?

[2016-04-20 18:00] reckart commented on #324
Lemmatizer for English? MorphaLemmatizer for example.

[2016-04-20 18:02] daxenberger commented on #324
We certainly don't have to exclude the whole project - just that one test case, or find a good replacement for Stanford lemmatizer, e.g. what @reckart suggested

[2016-04-20 18:04] Horsmann commented on #324
ok REC's suggestion worked - test is running and passing. What is this .activate_license-check thing where do I do that?

[2016-04-20 18:05] daxenberger commented on #324
The ASL license check is performed by a different plugin - just refer to any of the ASL modules (asl modules should have the `.activate_rat-check` file).

[2016-04-20 18:06] Horsmann commented on #324
@daxenberger I don't see any? Is this a hidden file?

[2016-04-20 18:07] reckart commented on #324
All files that start with a dot are hidden files on Linux/OS X :)

[2016-04-20 18:08] daxenberger commented on #324
see e.g. https://github.com/dkpro/dkpro-tc/blob/master/dkpro-tc-api-features/.activate_rat-check

[2016-04-20 18:10] reckart commented on #324
These files trigger the activation of license checking profiles defined in the DKPro TC parent pom.

[2016-04-20 18:13] Horsmann commented on #324
ok thanks I thought the Eclipse view shows everything, sry.

Regardng sonatype - I drop the repository or do I leave it as is and I will automatically create a new one once I try again?

[2016-04-20 18:20] Horsmann commented on #324
@reckart I have again an issue with this `rat plugin`

[code]

It does not tell me which god damn file  - its suppose to do that, right? This happens most the time when you touch the pom.xml - any ideas how to fix that?

[2016-04-20 18:26] reckart commented on #324
rat writes a rat.txt report file to the target folder of the respective module. Check out that file.

[2016-04-20 18:27] Horsmann commented on #324
Ok thanks

what do I do with the sonatype repository - drop?

[2016-04-20 18:27] reckart commented on #324
Yes, drop.

[2016-04-20 18:52] Horsmann commented on #324
The groovy module is failing with everything set to 0.9.0-SNAPSHOT. I will give it a try tomorrow and do a rollback (don't have the files for that on my machine at home) and hope it will build again with the version set to 0.8.0-SNAPSHOT.

[2016-04-21 09:14] Horsmann commented on #324
@daxenberger there is another jar in sonatype

[2016-04-21 10:02] Horsmann commented on #324
@daxenberger I also deleted the 0.8.0 build from my m2 and added the rep to the pom of one of my projects (CRFsuite only tho) and this works, too. I think we are good to release?

[2016-04-21 10:24] daxenberger commented on #324
Looks good now. I guess you can go ahead and release.

[2016-04-21 10:51] Horsmann commented on #324
Its released

[2016-04-21 12:46] Horsmann commented on #320
I removed the `evaluation` file from the interface. The results written by the reports are now written into the file named `Constants.RESULT_FILE`

[2016-04-21 12:51] Horsmann opened #342 "Groovy-Example: Delete test-cases / data to lower runtime"
The Groovy example project takes quite long to run. We already cleaned up the example Java project some time ago. The Groovy example should be similarity stripped down to ease development by getting quicker feedback from Jenkins about success/failure of builds.

@daxenberger @reckart  Are there any publication linked experiments in the Groovy project which I should not touch (data wise)

[2016-04-21 12:53] Horsmann commented on #342
Or more precisely - I left the experiments in the Java project which correspond to a publication already untouched - the one in the Groovy experiment seem to be the same - thus I can delete some of the data in the Groovy project?

[2016-04-21 12:57] daxenberger commented on #342
Please do not change `TwitterSentimentDemo`. This is linked to a publication.

[2016-04-21 13:13] Horsmann commented on #342
can i take out the CV mode? I think TrainTest is enough? And this demo exist in CV in the Java version.

[2016-04-21 13:23] daxenberger commented on #342
ok

[2016-04-21 13:58] Horsmann commented on #342
@daxenberger do you know how this Reuter Demo works. There is a lot of data in it but I don't get what I can delete and what not

[2016-04-21 14:02] daxenberger commented on #342
Please keep that data. It's a moderate number of files and already at the minimum of what makes sense in a multi-label classification setup

[2016-04-21 14:09] Horsmann commented on #342
Ok, the `PairTwentyNewsgroupsDemo.groovy` demo is similarity difficult to change. it easily breaks. Which properties does those `parilist` need to have?

Its a pain to use groovy I have to `mvn build` the entire project every time I change something.

[2016-04-21 14:21] Horsmann commented on #342
@daxenberger I don't know how important the support of Groovy is to you - but is it necessary that bigger demos such as the Reuter Demo and the Sentiment Demo exist also as Groovy version? Isn't the Java version enough?

[2016-04-21 14:29] daxenberger commented on #342
I think we have some demos which are only tested in the groovy module. As long as we at least one test which checks the groovy setup in general,, we don't need to have a test for each configuration/setup in both groovy and java. But please make sure that if you delete a groovy test case, the same test exists in java.

[2016-04-21 15:20] Horsmann commented on #342
This should do it for the moment

[2016-04-21 15:36] daxenberger commented on #342
I think that was a bit too rigorous. At least, we should re-name the ComplexConfigDemo to reflect that it uses the Reuters demo... or better: keep the demo and just delete the test case.

[2016-04-21 15:47] Horsmann commented on #342
ups right - i will delete the tests cases only then - i restored the data

[2016-04-21 20:39] EmilyKJamison commented on #342
Hi Tobias,

PairTwentyNewsgroupsDemo.groovy demo: Are you getting rid of all Groovy
Demos which have a Java Demo counterpart?  PairTwentyNewsgroupsDemo.groovy
and PairTwentyNewsgroupsDemo.java do show the same thing, so they are
redundant, but it was a previous documentation design decision in TC, that
we created redundant demos rather than thoroughly document instructions for
the user.  A benefit

[2016-04-21 21:59] reckart commented on #342
You need to have the Eclipse Groovy plugins installed. The Groovy stuff
should work just as nicely from within Eclipse as it does in a Maven build.

I don't know why you believe you have to rebuild on the command line for
the Groovy things.

[2016-04-22 06:49] Horsmann commented on #342
@daxenberger I commented out some tests which I found to be not necessary because redundant or too similar to other test cases. This involves mainly the bigger tests-cases.
Runtime of the Groovy project is down to 2 min from 6 min in this configuration (my local computer). This would satisfy me :o

@EmilyKJamison The demo runtime is an obstacle for speedy development (i.e. waiting for Jenkins feed

[2016-04-22 06:54] reckart commented on #342
@Horsmann it is absolutely possible to move tests to profiles such that they are only run on a separate build. Also, if you wait for Jenkins feedback, I'd say you do something a bit wrong. Changes should be tested before committing and the feedback from Jenkins should only be a secondary check, not the primary check.

Regarding different levels of testing, see e.g.
- https://technicaltesting.wordp

[2016-04-22 07:30] Horsmann commented on #342
@reckart Doesn't really matter I would say. To really make a complete test of the module you have to run the examples. The few test cases in the ML-adapter projects often succeed because they only test a small fraction of the project or the main error source lies outside the scope of an adapter and show only up if you run an entire pipeline. The example project is the only reliable instance for ev

[2016-04-22 09:26] Horsmann commented on #218
@how-ever-fixes-this Once the test-cases are working please remove the property from the `pom.xml` that excludes this project from being released

[2016-04-22 11:33] Horsmann commented on #341
Status update
Changes are straight forward except for the CV part.
- If as many documents are created as NUM_FOLDs are defined everything works
- If less documents are available than NUM_FOLDS an exception occurs
- No test case captures this bug

[2016-04-22 13:02] Horsmann commented on #341
@daxenberger @zesch Solving the CV issue

As first solution for the problem I though we can call the CAS Multiplier if NUM_FOLDS is bigger than the number of documents found and generate more CAS objects so to say. This would essentially create the large runtime we have right now just later as optional scenario.
I think as first version this would be ok - It seems that the Cas Multiplier has some

[2016-04-22 13:58] Horsmann commented on #341
@daxenberger @zesch @reckart
What kind of strategy would you recommend if we run into the case that we have less JCas than Num-folds?

We can do a more reasonable splitting than creating a CAS for each TCU. I would suggest we split each CAS in half. Thus one half of the TCUs is placed in one CAS the other half into the second CAS. Basically a less aggressive splitting than giving each TCU an own C

[2016-04-22 21:09] zesch commented on #341
This strategy would e.g. fail if there only is one document and 10 folds are requested.
So if we have m CASes and k fold are requested with m<k, we would have to split in at least x parts so that x*m > k.

[2016-04-23 06:29] Horsmann commented on #341
I will compute the multiplication factor needed to reach NUM_FOLDS and try to split each document accordingly. This will give rise to much more CAS that we need, but it still cheaper than single-TCU-in-a-doc. In case we have less TCU I will have to throw an exception anyway.

[2016-04-24 20:01] Horsmann opened #343 "CrfSuite: id2outcome report should used ordered keys"
It would be extremely helpful if the `id2outcome` file would be ordered. An ordering would make this report a lot more useful especially if you are working with whole sentences i.e. the words of a sentence should be ordered.
This increase the human readability a lot and is surely helpful for debugging too.

[2016-04-24 20:17] Horsmann commented on #343
still has a minor flaw i.e. ordering of `1` and `10` - the unit id needs to be enforced to a minimal lenght of say 3 or 4 digit length. Yet a lot better than before. I leave this open until I finish the other work.

[2016-04-24 20:25] Horsmann commented on #341
Are there any objections if we use the full filename for the feature id? The numeric suffix we used until now is gone because we no longer run through the `multiplier` looks like that atm:

[code]

[2016-04-25 12:25] Horsmann opened #344 "Add test cases that verify results of a pipeline"
Essential all examples/demos run a pipeline but do not verify the result (i.e. accuracy value or something). At least one demo/example test case should access a result file i.e. `Constants.RESULTS_FILENAME`and `assert()` any numerical value.
Otherwise it is impossible to notice new bugs if backend stuff is changed (i.e. #341)

[2016-04-25 19:38] #342 closed, assigned to nobody

[2016-04-25 19:38] #344 closed, assigned to Horsmann

[2016-04-26 06:21] Horsmann commented on #324
@reckart Which file do I have to edit to change this website https://dkpro.github.io/dkpro-tc/ ? Top right mentions still the old release 0.7.0

[2016-04-26 06:30] reckart commented on #324
_data/releases.yml. If I remember correctly, the first "stable" release in the file is considered to be the latest release.

[2016-04-26 11:05] Horsmann commented on #341
merged into master

[2016-04-26 11:11] Horsmann commented on #341
`Document` mode requires now an `TextclassificationUnit` i.e. I had to replace the `focus` with something and I just add an `TCU` anno for the later processing steps to work.

We could think about renaming `TextClassificationUnit/Sequence` to `TextClassificationTarget` and call the sequence one `TextClassificationSequenceTarget` - it resolves a bit the confusion why a document has a unit.
@daxenbe

[2016-04-26 16:36] daxenberger commented on #341
I opt for renaming. The unit/sequence modes have caused confusion in the past; and a new name would help to reflect the rather deep modifications that have been introduced now.

[2016-04-27 09:52] zesch commented on #341
Not so fast :)

In the core, the document has no unit.
If that is somehow necessary for the model loading/saving functionality (which might make the code nicer but more complicated to understand IMO), that is a completely other issue.

If I understand the proposal correctly, TCU would be renamed to TCT. We still need TCS to reflect that multiple TCU/TCTs are in one sequence.
I don't see how this i

[2016-04-27 11:41] reckart commented on #341
Why is it necessary at all to make a difference between "single units" and "sequence units"?

[2016-04-27 11:45] zesch commented on #341
Units are points in a document where the classifier should make a decision.
Sequences are (well) sequences of units that should be treated together when making a decision for each unit.

[2016-04-27 11:47] reckart commented on #341
Sure, but does that change the nature of the unit itself? The only difference I see right now is that in document-classification-mode, there is one unit and in sequence-classification-mode, there are multiple units... but the units are essentially still units. They don't turn into apples in once case and potatoes in the other case.

[2016-04-27 11:53] zesch commented on #341
In principle yes, but - a bit in contrast to what Tobias has written above - we actually do not have a unit in document mode at all.
The whole document is implicitly treated as a unit.
We could make that explicit and treat the document mode as a special case of unit classification with the whole document as one unit.
In that way, we might even get rid of the DFE/UFE distinction :)
However, that is

[2016-04-28 10:41] Horsmann opened #345 "SvmHmm: result file is stored in wrong folder"
The file with the results Constants.RESULTS_FILENAME is placed in the subfolder `output` which is not the folder the `BatchTrainTestReport` uses. This causes a `FileNotFoundException` if used. This error was probably introduced by me and is also contained in the `0.8.0` release

[2016-04-28 11:45] #345 closed, assigned to nobody

[2016-04-30 14:37] Horsmann opened #346 "Remove e.printStackTrace() calls"
A few classes call printStackTrace in the try-catch bloc and do not throw the exception

[2016-04-30 18:07] #320 closed, assigned to nobody

[2016-04-30 18:12] Horsmann commented on #341
We will leave the annotation then as they are. I merged the JCasID annotation fix. I additionally added more test cases and fixed mostly self-introduced bugs ~ I think this can be closed then rather soon unless someone unhappy with any of the changes.

[2016-04-30 22:51] Horsmann opened #347 "CRFSuite: Use streaming mode"
CRFSuite can read from `STDIN` for loading the `training` data or the `raw` data that is to be tagged.

This is helpful to speed up the use of an already trained model. Training the model has to keep using the HDD I/O method we use at the moment. The training data files might become huge and keeping them in-memory will make training a model even more memory demanding i.e. at one point we would hav

[2016-05-01 09:01] Horsmann commented on #347
This enhancement shows some serious speed gains on huge collections of text with many thousands sequences in it. On short ones it barely shows any effect.

[2016-05-01 09:09] reckart commented on #347
@Horsmann observations regarding performance during training, tagging, or both?

[2016-05-01 09:14] Horsmann commented on #347
Tagging. I have to look into the training part again. If I can avoid that I have to hold the entire training-file string in memory it still might work for training too.

[2016-05-01 09:43] Horsmann commented on #347
@reckart How do I retrieve the feature store? I would want to read directly from the feature store when I reach `CRFSuiteTestTask`

[2016-05-01 11:23] reckart commented on #347
@habernal featurestore - no idea, probably @daxenberger or @zesch can help.

[2016-05-01 15:05] zesch commented on #347
Why do you want to retrieve the FeatureStore in the test task?

[2016-05-01 15:12] Horsmann commented on #347
I try to speed up the training process of CRFSuite. A chance for that is a reduction of HDD I/O. Instead of writing the training file file to disk and than read this file we could start CRFsuite in a mode where it receives the data from STDIN.
I would need access to the feature(s) (train and test) to do that. At the moment I only can access the training file in the file system which doesn't help m

[2016-05-01 15:18] zesch commented on #347
Thanks for the explanation.

At the moment, all features are extracted in the FeatureExtraction task and the feature store is then persisted.
If you want to skip that step, we would have to merge the FE and Test tasks somehow.
We haven't done that for several reasons so far, including that the FE task doesn't know about the ML framework being used, but writes the contents to whatever format the sp

[2016-05-01 15:30] Horsmann commented on #347
Ideally, I would want to access the feature store as Lab dimension i.e. add a discriminator and receive it. Is it possible to push the store into such a dimension and make it available even after a Lab experiment launched?
I could then access it without changing any interfaces which I would want to avoid.

I essentially reimplemented the DataWriter as Iterator. All it needs is the data source feat

[2016-05-01 15:38] zesch commented on #347
How should that work?
The feature store is a large memory structure that could possibly amount to several gigabyte.
What we could perhaps pass is a reference to the data structure assuming that we can keep it alive between tasks somehow.

[2016-05-01 15:46] Horsmann commented on #347
A reference would be fine - that is what I had in mind when mentioning exporting as lab dimension. Not a full copy but rather a reference on it.
As soon as I would have to rebuild the Store myself or anything alike the runtime gains would be lost anyway - so I would have to be a reference on the store(s) created by the `Extract*` tasks

Is there a lab-trick to keep a data structure alive that is c

[2016-05-02 06:27] #346 closed, assigned to Horsmann

[2016-05-02 09:48] daxenberger commented on #347
You could of course serialize the feature store as-is after the ExtractFeaturesTask, and then access it from TestTask, but that doesn't help to avoid I/O.
@reckart is there a way to keep objects in the memory across DKPro Lab tasks? It sounds a bit unintuitive to me.

[2016-05-02 10:01] daxenberger commented on #324
the version number of the 0.8.x branch needs to be updated to 0.9.0-SNAPSHOT

[2016-05-03 07:31] reckart commented on #324
The version in the 0.8.x branch should be 0.8.1-SNAPSHOT.
The version on master should be 0.9.0-SNAPSHOT.

[2016-05-03 07:43] daxenberger commented on #324
In that case, previous branches (e.g. 0.7.x) have wrong versions as well.

[2016-05-03 07:48] reckart commented on #324
Absolutely possible that other branches also got this wrong. The "x" in the branch version number marks where the numbers within the branch may vary (0.7.x -> 0.7.1-SNAPSHOT, 0.7.2-SNAPSHOT, etc.).

[2016-05-03 12:29] reckart commented on #347
DKPro Lab currently does not support maintaining specific objects in memory between tasks. Mind that it would not in general be feasible to do that in a naive way. Consider T1 producing an object which T2 needs. While the parameter space for is walked, in some points, T2 can run based on previously created output from T1 while in other cases T1 needs to be re-run. I think there is no guarantee tha

[2016-05-03 15:34] daxenberger commented on #324
ok I'll open a new issue for that.

[2016-05-03 15:34] #324 closed, assigned to Horsmann

[2016-05-03 15:40] daxenberger opened #348 "Incorrect versions in branches"
The versions of the pom in some of the release branches (e.g. 0.7.x) are wrong. Instead of 0.7.1-SNAPSHOT, the branch is labelled 0.8.0-SNAPSHOT. This should be fixed.

[2016-05-04 12:08] Horsmann commented on #347
Thanks for the explanation. I think CRFsuite won't get any faster then it is right now.

[2016-05-04 12:10] #341 closed, assigned to Horsmann

[2016-05-04 12:14] Horsmann opened #349 "Log one message at INFO level for each CAS as feedback to the user"
We need here and there more log-messages. In sequence classification for large data sets `org.dkpro.tc.core.task.uima.ValidityCheckConnector process(103)` is the last log message you see for a rather long time.

There should be more logging to give the user the feeling that there is still some progress. For CRFsuite settings this is the last message you will see before the classifier starts to rea

[2016-05-04 14:43] Horsmann opened #350 "ContextMetaCollector_ImplBase uses StringBuilder"
The `ContextMetaCollector_ImplBase` uses a StringBuilder variable to collect data. For huge sequences this can be become incredible memory demanding.  It would be less memory demanding to use a `BufferedWriter`.

[2016-05-05 11:21] Horsmann commented on #349
I increased the verbosity of the log messages quite a bit. I might be even a bit too much now, but I think more is better in this case.

Now you actually see which classes tc executes and how much time is spend there. That is helpful for better understanding the workflow of tc and gives you feedback for each CAS processed. I had to add a few dummy logger classes which only purpose is logging.

[2016-05-05 11:54] zesch commented on #349
Maybe this shouldn't be at the lowest logging level.
Tobias Horsmann notifications@github.com schrieb am Do., 5. Mai 2016 um
13:21:

[2016-05-05 12:34] Horsmann commented on #349
I removed some logging and reduced the log level to `fine`

[2016-05-05 12:37] Horsmann commented on #349
You see now the start of the processing logged on `INFO` and the user-preprocessing to see how much time the own preprocessing takes.

[2016-05-05 12:54] Horsmann commented on #350
This should reduce the memory demand a lot for huge problems. Training a WSJ model just got 20GB RAM cheaper because this context-string is no longer build/hold in-memory until all cases are processed.

[2016-05-05 13:29] Horsmann opened #351 "Make SequenceContextMetaCollector optional"
The `SequenceContextMetaCollector` is hard-wired into the `MetaTask` this information should be made optionally.

I will introduce a `recordContext` discriminator annotation which enables context recording for both `UNIT` and `SEQUENCE` mode - by default its turned off.

[2016-05-05 13:31] #351 closed, assigned to Horsmann

[2016-05-05 13:31] #350 closed, assigned to nobody

[2016-05-05 13:36] Horsmann commented on #50
If you tell me what is left to do or where to start I would continue integration. Which is the next step here?

[2016-05-05 15:17] Horsmann commented on #349
There a log messages on various level. A lot of things are logged by `lab` in the background. I now added additionally a log-message for the meta collection process and feature extraction. One log-message for each CAS.
If you use only the TC logging you should now still get feedback from the various "steps" in the workflow for each CAS. For small CAS this means still a lot of spam, but I think it

[2016-05-05 15:23] Horsmann commented on #268
@daxenberger @zesch
All that is to do here is giving each `Discriminator` a name and defining those names in the `Constants` class?

[2016-05-05 15:28] Horsmann commented on #347
The `__BOS__` and `__EOS__` do not seem to respected by `crfsuite`. By trial & error I figured out that the linebreaks between the sequences are essential for the end-result.

[2016-05-05 17:20] #349 closed, assigned to nobody

[2016-05-06 13:48] daxenberger commented on #268
As far as I see, yes.

[2016-05-06 13:55] daxenberger commented on #50
A rough roadmap:
- [x] make sure that each MLAdapter/Framework creates id2outcome files (TestTasks)
- [x] delete old (ML framework dependent) results reports (TestTasks)
- [ ] adapt all higher(batch)-level reports to work with new evaluation mode (in particular, Issue #113)
- [x] switch all demos to new evaluation mode
- [x] implement missing measures (the wish list is probably long, but for the b

[2016-05-06 15:31] Horsmann commented on #268
`WekaAblationDemo` and some other demos use a dimension `readers` which is not mapped as constant and I don't find the `@Discriminator` that maps this value to a variable? I found the `READER_TRAIN` and `READER_TEST` dimension, but not this one. Where is it defined?

[2016-05-06 15:45] daxenberger commented on #268
`readers` is a `DimensionBundle`which is never explicitly called by it's name but only by the names of the dimensions it bundles (e.g. `READER_TRAIN`). The name is thus quite arbitrary.

[2016-05-06 15:47] Horsmann commented on #268
Ok then we can leave it as it is if Jenkins doesn't complain we can close this one.

[2016-05-06 16:54] Horsmann commented on #268
Build fails but seems Artifactory related - service not available
@reckart  Is zoidberg down for maintenance or did I break something?

[code]

[2016-05-06 17:30] reckart commented on #268
@Horsmann zoidberg is undergoing maintenance which took some unexpected turns. @betoboullosa is on it.

[2016-05-06 19:12] Horsmann commented on #50
@daxenberger I started a new branch making SvmHmm my guinea pig. Svmhmm outputs some own confusion matrix stuff. This can be removed now, too? I am not sure if it is even correct since this also untested but it should be handled by the new evaluation module now anyway?

Except for the additional files SvmHmm creates the integration is not soo hard. I can remove `SVMHMMClassificationReport` and `SV

[2016-05-06 22:05] daxenberger commented on #50
yes, in theory. I'm not sure how well this works atm, so maybe deprecate the old reports rather than removing them completely.

Some here: I'd prefer to remove them from demos etc., but instead of completely deleting them, better deprecate.

[2016-05-07 10:21] Horsmann commented on #50
What do we do with the `Mallet` module. It is `deprecated` since `0.7.0`. All changes to the API have to implemented there too. Maybe its time to remove it entirely? Who ever needs Mallet should either use 0.7.0 or 0.8.0 ?

[2016-05-07 11:17] reckart commented on #50
Why was it deprecated?

[2016-05-07 11:33] Horsmann commented on #50
I think the code is a bit messy some things never seemed to have worked (sequence classification) and we have Weka and Crfsuite which covers everything. If someone wants to revive it it should be reimplemented from scratch imo.

[2016-05-07 11:45] zesch commented on #50
Very slow. Was not really usable for real problems.
Tobias Horsmann notifications@github.com schrieb am Sa., 7. Mai 2016 um
13:33:

[2016-05-07 14:40] Horsmann commented on #50
@daxenberger all MLA are supposed to have as last entry `threshold` in the id2outcome file? What value do I set if the MLA doesn't has such a parameter?

[2016-05-07 18:04] daxenberger commented on #50
yeah that is necessary to have a common format for all kind of learning modes. `theshold` will be ignored if multi-labeling is not applied and should thus set be set to -1 (or 0).

[2016-05-08 10:51] Horsmann commented on #50
@daxenberger ok thx. Do we adapt Mallet too? Maybe its time to remove it entirely?

[2016-05-08 11:10] zesch commented on #50
How much effort is it to drag it along?
Tobias Horsmann notifications@github.com schrieb am So., 8. Mai 2016 um
12:51:

[2016-05-08 11:31] Horsmann commented on #50
About the same as for the other modules - a have day. I am more concerned to keep maintaining a module that is dead since 2 releases. Changes have been reflected for Mallet so far if they affected interfaces and made it mandatory to change it there too (otherwise Jenkins would fail) but there are no unit tests for the module. I find its whole state a bit questionable imo it is rotting code that ca

[2016-05-08 11:38] zesch commented on #50
Ok for me
Tobias Horsmann notifications@github.com schrieb am So., 8. Mai 2016 um
13:31:

[2016-05-08 12:23] reckart commented on #50
Might be worth noting that there is a new version of mallet since a few days:

http://search.maven.org/#artifactdetails%7Ccc.mallet%7Cmallet%7C2.0.8%7Cjar

https://github.com/mimno/Mallet

[2016-05-08 18:54] Horsmann commented on #50
What I have done so far
- [x] add Liblinear outcome2id report
- [x] add Crfsuite outcome2id report
- [x] update (non-groovy) examples/test to use new evaluation module
- [x] delete old module-depended ClassificationReports
- [x] make `*usingTCEvaluationReport` reports main reports `BatchTrainTestReport` and `BatchCrossvalidationReport`

Ok here a list of issues I am not sure how to handle
- [x] I

[2016-05-08 19:00] reckart commented on #50
For curiosity, what Eclipse version are you using?

[2016-05-08 19:06] Horsmann commented on #50
4.4 Luna this one isn't working https://marketplace.eclipse.org/content/groovygrails-tool-suite-ggts-eclipse

[2016-05-08 19:08] reckart commented on #50
I have been using Luna before and now I am using Mars.

For Luna: http://dist.springsource.org/release/GRECLIPSE/e4.4/
For Mars: http://dist.springsource.org/snapshot/GRECLIPSE/e4.5/

See also: https://github.com/groovy/groovy-eclipse/wiki

[2016-05-08 19:21] Horsmann commented on #50
sry, not working I tried those too. Installation fails with an exception.

[2016-05-08 20:15] Horsmann commented on #50
I installed another Eclipse version - I don't understand was those Groovy test cases are supposed to do which makes it hard to fix it. I could need a hand for those... @daxenberger `help wanted`

[2016-05-09 10:31] daxenberger commented on #50
I'm compiling the groovy demos without problems under Eclipse Mars (4.5.2) with Groovy Compiler (1.8-2.4) 2.9.2.xx

See my reponse on the mailing list - no getLabel() method for regression.

I am a bit reluctant to totally remove the module since Mallet has become more active recently (see above). Maybe move the module into it's own branch?

The *Prediction adapters are not needed anymore, since w

[2016-05-09 10:33] daxenberger commented on #50
which tests do you refer to? The tests in the groovy demo module to the same as in the java module: simply execute the demos.

[2016-05-09 10:53] Horsmann commented on #50
the `PairTwentyNewsgroupsDemo` fails with a Stanford triggered ClassCastException on my machine?
The regression demo should fail too due to the `label()` issue.

[code]

[2016-05-09 10:56] Horsmann commented on #50
@daxenberger
Regarding mallet: I can fork-off a new branch from `master` with the current state. I would then remove the mallet module from my `issue50` branch which removes the module once it is merged into `master`

[2016-05-09 11:35] Horsmann opened #352 "Experimenting with Mallet reimiplementation"
Mallet is at the moment `Deprecated` since release `0.7.0` it has been removed during `0.9.0-SNAPSHOT` to ease maintenance of code.

If Mallet is to be revived the module should be reimplemented from scratch. The old version of `Mallet` is parked on a separate branch as reference `mallet_issue352` .

Furthermore note there are new releases of Mallet which should be use

http://search.maven.org/#ar

[2016-05-09 12:03] daxenberger commented on #50
ok; I'll have a look at this

[2016-05-09 12:03] daxenberger commented on #50
sounds good

[2016-05-09 19:53] Horsmann commented on #50
Oookay. I set up a Jenkins job and it seems Jenkins does not have the problems I have with the Groovy experiments. I think I am quite close to merging this branch into master. Seemingly everything is working.
I added 2 of the most easy to implement regression measures for a few simple tests.
The other bugs will probably only show themselves when we are actually start using the module.

[2016-05-11 06:38] #347 closed, assigned to nobody

[2016-05-11 06:39] #343 closed, assigned to Horsmann

[2016-05-11 18:26] Horsmann commented on #50
I merged the changes into master - an open todo on the checklist is the measure implementations (for regression).

@daxenberger I have the `WekaFeatureValuesReport` as left-over. The report used the former `result.txt` if this report is still needed you would have to upgrade it to using the new module. Not really sure what it is suppose to do.

Maybe we start an own issue for adding the remaining

[2016-05-11 18:28] Horsmann commented on #113
@daxenberger This is auto-solved with #50 ?!

[2016-05-11 18:35] #268 closed, assigned to nobody

[2016-05-12 07:42] Horsmann opened #353 "Enable passing CollectionReaderDescriptions instead of defining reader dimensions"
At the moment a user have to define 2 dimensions for a reader. Tc builds in the backend a collection reader description from those information.

i.e.

[code]

it would be good if a user could just initialise the collection reader and pass it as parameter to TC/Lab. This would make using TC more similar to using Core at least in the sense of specifying the readers.

[2016-05-12 08:48] daxenberger commented on #50
This report hasn't been updated since about 2 releases. Can be dropped. It was originally supposed to write a report about the average value of feature for each class. This can also be done using the output of the ExtractFeaturesTask. Not sure why the result.txt was needed.

[2016-05-12 08:49] daxenberger commented on #50
Agree.

[2016-05-12 09:32] daxenberger commented on #113
not fully I guess. As far as I can see, the bach-level reports create an overall report across all calculated measures - but not a confusion matrix. Could be tracked in its own issue though.

[2016-05-12 11:16] #50 closed, assigned to nobody

[2016-05-12 11:18] Horsmann opened #354 "Evaluation module: Implement evaluation measures"
We need to implement evaluation measures in the new evaluation module. Focus is here on `regression` evaluation measures of which have only two at the moment.

[2016-05-12 14:16] Horsmann commented on #353
Change is surprisingly easy just adopting the demos is tedious work ~

@reckart Do you have a code snippet how a collection reader description initialisation has to look like in Groovy?

[2016-05-12 14:23] reckart commented on #353
Puh... the problem is how lab handles discriminator values.

If you do this "naively", then you'd probably in the best case end up storing the whole XML descriptor in a discriminator and thus in the properties file. In the worst case, you'd just store something like a object instance identifier like `SomeReader@81def3ce` which is not stable across runs. That's both not what you want.

So I was alw

[2016-05-12 14:28] reckart commented on #353
@Horsmann rel. to reader description in Groovy: the same as in Java, no?

[2016-05-12 14:36] Horsmann commented on #353
Is it? I don't know I am not sure if I ever saw a Groovy program that uses DKPro components so I assumed there are some subtle differences?
I have to adapt the Groovy test cases to using a the reader description - so any solution would work for me that make the Groovy tests pass again.

[2016-05-12 14:37] reckart commented on #353
See e.g. https://dkpro.github.io/dkpro-core/groovy/recipes/convert-conll2006-to-conll2009/

[2016-05-12 16:33] Horsmann commented on #354
Urgs accidentally commited changes with wrong issue id the commits were meant for #353

[2016-05-12 18:58] reckart commented on #353
@Horsmann for curiosity: what is actually stored in the `DISCRIMINATORS.txt` files for the readers now?

[2016-05-12 19:04] Horsmann commented on #353
Hmm and endlessly long text string (72k characters) that makes scrolling in the document really slow.
Is there a way to get a prettier human-redable text?

[2016-05-12 19:13] Horsmann commented on #230
The issue remains even after the various changes in the past.

It is also independent of using Lucene features or not
Here are two simple-test cases that print the ram usage, Sparse takes about 3x the memory

[code]

[2016-05-12 19:17] reckart commented on #353
Well, for instance by naming the reader configurations using a Discriminable... cf. the classes I mentioned above.

If you are sure that the endlessly long string is at least reproducible and consistent (and not subject to potentially random variations, e.g. because iteration order in HashMaps is not defined), you could also consider extending Lab to allow storing a hash of the string instead of t

[2016-05-12 19:20] reckart commented on #230
You'd probably save quite a bit of memory if you replace these collections

[code]

with equivalents from the [fastutil](http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22it.unimi.dsi%22%20AND%20a%3A%22fastutil%22) library.

[2016-05-12 19:26] reckart commented on #230
E.g. `it.unimi.dsi.fastutil.ints.IntArrayList` instead of `ArrayList<Integer>`

[2016-05-12 19:28] reckart commented on #353
That is a proper hash (SHA1 or better), not like Java hashCode() ;) I only have a very rough idea that this should work, it may take a bit working out the details.

[2016-05-12 19:34] Horsmann commented on #353
So the easiest solution would be to make a class that implements `Discriminable` which gets in the Constructor a `CollectionReaderDescription`?

Is there an easy way to implement the `CollectionReaderDescription` it has like thousands methods?
Ideally I wont want something like this:

Implement `CRD` and `Discriminable` and do:

[code]

[2016-05-12 19:35] Horsmann commented on #230
Thanks I will take a look into it

[2016-05-12 19:41] zesch commented on #353
If I understand that correctly, you could subclass CRD and implement Discriminable there.
You then only need to return a DiscriminatorValue that is unique and readable.

[2016-05-12 19:43] reckart commented on #353
I think it should be possible using a dynamic proxy in a decorator pattern-like style. I used something similar for the DiscriminableClosure.

I guess it should be possible to implement a generic DiscriminableObject class. It would implement the Discriminable interface and would be used to proxy an instance of any other object that implements interfaces (e.g. CollectionReaderDescription). The resu

[2016-05-12 19:44] reckart commented on #353
Some maybe useful reference:
- https://gleichmann.wordpress.com/2007/11/22/mimicry-in-action-dynamically-implement-an-interface-using-dynamic-proxy/
- http://www.ibm.com/developerworks/library/j-jtp08305/

[2016-05-12 19:46] reckart commented on #353
@zesch I don't think you'd want to try subclassing CRD - UIMA/uimaFIT creates these internally, and you'd want to leave it that way I am pretty sure.

[2016-05-12 19:47] Horsmann commented on #353
@zesch CRD is just an interface you would have to implement it entirely.

@reckart ok thanks I take a look into it. As is I don't think it is much of an actual problem its more a matter of style ~ its pretty ugly.

[2016-05-12 19:58] zesch commented on #353
ok, I probably should not comment on those issues anymore ;)

[2016-05-12 19:59] reckart commented on #353
@Horsmann working with dynamic proxies is something I picked up by working with Spring / JPA / etc. It is not infrequent there.

[2016-05-12 20:18] reckart commented on #353
I think you can make this somewhat less ugly by introducing a `HashingDimension` which applies this proxy internally to the values it produces (cf. ClosureDimension).

[2016-05-13 06:57] Horsmann commented on #353
@reckart I added a dynamic proxy which seems to work.

Following issues which are no real problems either:
I still want some human-readable infos to be written to the Discriminator.txt
I tried to iterate the meta of a collection reader to get the names of the parameters to put them also into the string that is written to the text-file but I do not get the values I actually use:

When I create a re

[2016-05-13 07:37] Horsmann commented on #230
Richards suggestion helped to ease the problem a little bit, but the problem with the memory consumption is that

`DenseFeatureStore` holds 2 data structures

[code]

`SparseFeatureStore` holds  5 data structures

[code]

The essential difference is that the `SparseFeatureStore` does not hold the instance objects itself but rather their values and assembles on the fly a new `Instance` if requested

[2016-05-13 08:17] reckart commented on #230
I think it should be possible to also replace these by fastutil classes:

[code]

e.g. using `it.unimi.dsi.fastutil.objects.ObjectArrayList<K>`.

_Interning_ common strings may also help - in particular if the strings reoccur often (e.g. tags, lemmas, etc.)

If the elements of the outcomeList have a fixed size after creation, creating them as arrays should save space:

[code]

[2016-05-13 08:20] reckart commented on #353
Try using `org.apache.uima.fit.factory.ConfigurationParameterFactory.getParameterSettings(ResourceSpecifier)`.

[2016-05-13 09:40] reckart commented on #353
I think the proxy approach should allow not having to change the type of the variables from CollectionReaderDescription to DiscriminableReaderDescription. The dynamic proxy should continue to exhibit the interfaces implement by the wrapped object - the idea was just to add another interface via the dynamic proxy, namely `Discriminable`.

[2016-05-13 09:54] Horsmann commented on #353
@reckart That does work but I changed it in a way that you have to use the CollectionReaderDescription that has `Discriminable` i.e.. calling

[code]

[2016-05-13 09:55] Horsmann commented on #353
I didn't see much sense in making it optionally?

[2016-05-13 11:53] reckart commented on #353
I was imagining something like this there the dimension handles all the wrapping and making things discriminable:

[code]

[2016-05-13 11:55] reckart commented on #353
The way you presently do it is basically using encapsulation - for that case, you wouldn't even need a dynamic proxy I believe.

[2016-05-13 12:01] reckart commented on #353
What I mean is that your present approach requires introducing and calling the getReaderDescription() method whereas I was suggesting to use a dynamic proxy which directly exhibits the CollectionReaderDescription interface such that you can call all the normal methods on it and _in addition_ it would be an instance of Discriminable such DKPro Lab recognizes it.

[2016-05-13 12:03] Horsmann commented on #353
I had that - but this makes using the "Discriminable" Collection Reader Description optional - you could still throw in a normal CollectionReaderDescription and it would work. I thought this shouldn't be possible. The whole effort was made to get a readable string in the Discriminator.txt?

[2016-05-13 12:05] reckart commented on #353
If you want the compiler to ensure that the reader is discriminable, then your approach is certainly better. I approached this thinking from another direction where I have some object and want to give it a name without changing all the code that actually uses this object.

[2016-05-13 12:06] Horsmann commented on #353
And I am not sure if I understand how to implement the `ReaderDimension` you suggested ... I inherit a class from Dimension and my proxy catches this dimension then i.e. every time Dimension is used?

[2016-05-13 12:07] reckart commented on #353
The way I did it in ClosureDimension is to wrap the objects being passed to the dimension internally in the proxy, such that the objects returned from the dimension would all be both, Closures _and_ Discriminable. I did it in the constructor, but it would also be possible to do it e.g. in next().

[code]

[2016-05-13 12:10] reckart commented on #353
In your case, you'd not use a map as parameter, but instead generate the key from the reader description (in the way that you have already implemented).

[2016-05-13 12:19] Horsmann commented on #353
I still don't get how to implement this ReaderDimensions(). A dimension has a name that is passed to its super class where are the parameters coming from?

[2016-05-13 12:32] reckart commented on #353
Consider something like

[code]

[2016-05-13 12:38] reckart commented on #353
Updated last comment to use an actual proper proxy...

[2016-05-13 12:53] Horsmann commented on #353
Thanks. I still don't understand why you would treat all ReaderDescription together?

I still have to  assign the readers to a dimension i.e. TRAIN_READER or TEST_READER

So I would want to do something like:

[code]

But this seems a bit redundantly because I now still would have to explicitly put it into the dimension map with the `DIM_READER_TRAIN` key

dimReaders.put(DIM_READER_TRAIN, trainDim

[2016-05-13 13:23] Horsmann commented on #230
I suggest to not use the `SparseFeatureStore` unless you have a very good reason and a lot of RAM spare. I am not even really sure what it is suppose to do differently than then the `DenseFeatureStore` but what ever it does it needs a lot of data structures for.
Are there objections to setting the `SparseFeatureStore` to deprecated?

[2016-05-13 14:16] ferschke commented on #230
If you are dealing with many duplicate Strings, you might also want to think
a bit more about String management ­ e.g. Interning or deduplication

http://java-performance.info/java-string-deduplication
http://java-performance.info/string-intern-in-java-6-7-8/

[2016-05-13 15:35] zesch commented on #230
I think that there is value in having a sparse feature store as e.g. ngram
features will in most cases be rather sparse. However, the current
implementation doesn't need to be the final word on that.

1) it is clear that the sparse feature store will use more memory if the
feature space is dense. So the memory test should actually account for this

2) in the dense feature store, we already account

[2016-05-13 15:37] reckart commented on #230
Interning strings is basically the Java convenience for what you describe. You only keep one copy of the string and store references to that same copy everywhere. It's just a bit more convenient than using actual numeric IDs.

[2016-05-13 15:38] reckart commented on #230
You might want to consider storing token sequences as an array of interned strings rather than a new string, e.g.

[code]

instead of

[code]

[2016-05-13 15:41] reckart commented on #353
I may be thinking about this from a slightly wrong angle in terms of how it fits into DKPro TC because I don't see this atm in a concrete example/experiment.

[2016-05-13 19:49] Horsmann commented on #230
Maybe the issue are the feature extractors? The SparseFeatureStore takes only features which have a value set, right? The available features in TC are all fitted to the DenseStore i.e. always set some value that represents `not set` which is usually `not null`.
Unless you use special features you cannot use the sparse feature store?

[2016-05-14 06:06] Horsmann commented on #353
oh ok.

In a scenario where you have to provide train/test as separate instances: Is there a way to guarantee that a `collectionReaderDesc` is discriminable without enforcing to use a new data type? The way how it is now makes it optional, but causes no real problems either unless you are concerned about the `DISCRIMINATOR.txt`

[2016-05-14 08:19] reckart commented on #353
Without looking at how TC presently works, I would be assuming/thinking/imagining the following:
- either I supply one reader dimension (e.g. DIM_READER) and TC internally splits the data into train and test without me intervening at all
- or there would be two different dimensions that I need to supply, e.g. DIM_READER_TRAIN and DIM_READER_TEST and I would set them independently. In this case, if

[2016-05-14 08:46] zesch commented on #353
We definitely need two dimensions as train and test might be totally
different corpora.
Richard Eckart de Castilho notifications@github.com schrieb am Sa., 14.
Mai 2016 um 10:19:

[2016-05-14 09:21] Horsmann commented on #353
What we could do to enforce a `Discriminable CRD` is to let the factory `DiscriminableReaderCollectionFactory.createReaderDescription` return a `Discriminable`.
The `InitTask` would then expect a `Discriminable` too but would cast it to a `CRD` which of course only works if the `DiscriminableReaderCollectionFactory` is used.

[code]

This would ensure that you have a discriminable reader and it is

[2016-05-14 09:29] reckart commented on #353
I would personally prefer not bothering the user with having to use a special factory that creates discriminables, rather ensure that DKPro TC internally wraps reader descriptions accordingly whenever the user supplies non-discriminable descriptions. I feel this should be an internal implementation detail.